[2022-07-05 16:13] VitalyFedyunin commented on #570
@parmeet  Does it specifically manifests with IMDB or there are other DataSets involved? First thing that comes into my mind is to play with timeout. I can quickly draft Adapter to control it.

[2022-07-05 19:25] YouJiacheng commented on #568
I don't have stack trace, but `torch._C._cuda_getDeviceCount()` seems time consuming.

[2022-07-06 02:52] #517 closed

[2022-07-06 17:46] VitalyFedyunin opened #573 "Reading services should check if spawn is `fork` and cuda context already initiated."
### 🚀 The feature

Instead of runtime we can detect CUDA context fork issues at reading service initiation time and point users to the code mistake.

### Motivation, pitch

Lots of users want to do GPU operations inside of DataSet but get confused because of CUDA context behavior at fork.

### Alternatives

_No response_

### Additional context

_No response_

[2022-07-06 18:06] VitalyFedyunin commented on #502
Note: If we allow such DataPipe we would need to take special care of order nondeterministic nature of most SQL database engines.

[2022-07-06 18:47] VitalyFedyunin commented on #360
Hi @nlgranger stack operations look interesting. Feel free to contribute code to our library.

[2022-07-06 18:58] VitalyFedyunin commented on #438
Need to be very careful. As for example here https://github.com/pytorch/data/blob/12cfaf8899b1337981cd4edf9deef127f925f1bd/torchdata/dataloader2/reading_service.py#L17 is should be IterDataPipe as any MapDataPipe supposed to be wrapped to sampler before passing to DataLoader.

[2022-07-06 19:16] VitalyFedyunin commented on #492
Hi! Can you also share the code you are using for benchmarks?

[2022-07-06 19:18] VitalyFedyunin commented on #530
https://github.com/pytorch/data/pull/531 fixing it

[2022-07-06 19:18] #530 closed, assigned to nobody

[2022-07-06 19:20] VitalyFedyunin commented on #535
Should we try to detect such loops during DP graph construction

[2022-07-06 19:21] VitalyFedyunin commented on #549
It makes sense to have such feature, however it will follow __len__ behavior of underlying pipes (ex. `filter` drops `len`).

[2022-07-06 19:25] VitalyFedyunin commented on #567
@ydaiming please take a look

[2022-07-06 19:34] ydaiming commented on #567
This SSL CA cert error
[code]
is very likely to be resolvable with the following command to provide the correct certificate at the desired directory:
[code]

[2022-07-06 23:58] MatthewCaseres opened #575 "ValueError: Access Denied for list_files_by_s3"
### 🐛 Describe the bug

I ran the following code -
[code]
and what I am seeing is
[code]
boto3 is working but torchdata is not working.

### Versions

[code]

[2022-07-06 23:58] MatthewCaseres commented on #567
That resolves the SSL issue, thanks!

[2022-07-06 23:58] #567 closed

[2022-07-07 16:23] VitalyFedyunin opened #576 "Fuse sequential `map` calls."
### 🚀 The feature

In https://github.com/pytorch/pytorch/pull/56497 we tried to introduce fusing of sequential `map` calls into one MapDataPipe, however it doesn't respect `input_col` and other kwargs.

We can refactor MapperIterDataPipe to fuse such operations automatically.

### Motivation, pitch

Fusing `map` calls will decrease number of iterators and memory counters.

### Alternatives

_No re

[2022-07-08 14:31] ejguan commented on #575
cc: @ydaiming

[2022-07-08 15:03] VitalyFedyunin opened #579 "[Adapter] DLv2 should make local copy of the DP graph to apply adapters on."
https://github.com/pytorch/data/blob/cbbad752e25e709a36d6ca16436f44fe0c085d82/torchdata/dataloader2/dataloader2.py#L67

See: https://github.com/pytorch/data/pull/571#issuecomment-1179087697

[2022-07-08 17:25] VitalyFedyunin opened #580 "[Linter] Ability to disable some lints"
### 🚀 The feature

There are several options to disable specific linters.

Option 1. Disable with `linter-ignore: code`

Pros:
- Similar to known syntax of various linters

Cons:
- Need to modify code of datasets to disable something

[code]

Option 2. Global & Context disables

Pros:
- Can control datasets without modification of the code

Cons:
- Global might disable important errors
- Context r

[2022-07-08 17:26] VitalyFedyunin commented on #580
PTAL @ejguan @NivekT

[2022-07-08 17:41] ydaiming commented on #575
Hi @MatthewCaseres . Unfortunately, I can't reproduce your issue on my end.

For sanity check, are you able to run the `test/test_remote_io.py`?

[2022-07-08 17:44] ydaiming commented on #575
Another suggestion is to try out the Deep Learning Containers e.g. `763104351884.dkr.ecr.us-east-1.amazonaws.com/pytorch-training:1.12.0-gpu-py38-cu116-ubuntu20.04-e3`

and replace the region code with e.g. `us-west-2` based on your region.

[2022-07-08 18:52] ejguan commented on #580
There is another problem with the option 1 (even though IMO the syntax seems the cleanest):
- DL linter would be a runtime linter rather than a static linter. It would be hard to implement such linter to detect comment in the dataset.
- If the targeted `DataPipes` are separated into multiple lines, it's unknown for us where to place the comment to disable the linter.
[code]

And, comparing with th

[2022-07-08 20:55] ejguan commented on #567
@ydaiming

Thank you for providing the solution for users.

I'm curious why `boto3` would work without certificate? It would be good in terms of UX if we can also provide some workaround for users without explicitly creating certificate at the desired directory.

[2022-07-08 21:11] ejguan commented on #535
Do you mean raising an Error if there is a loop? But, we added this test because TorchVision team wants such behavior explicitly

Like the [cifar dataset](https://github.com/pytorch/vision/blob/e75a333782bb5d5ffdf5355e766eb5937fc6697c/torchvision/prototype/datasets/_builtin/cifar.py#L129), it's a `IterDataPipe` but a few functions like [this](https://github.com/pytorch/vision/blob/e75a333782bb5d5f

[2022-07-08 22:53] MatthewCaseres commented on #567
My experience so far is that the Pytorch Deep Learning AMI has friction when using torchdata, maybe work to make sure that this EC2 setup is working out of the box. I use EC2 instances as a development environment.

[2022-07-09 17:49] MatthewCaseres commented on #575
I just changed my login strategy to SSO, I think before I was exporting variables, unsure. Since the bug is now fixed I will close the issue.

[2022-07-09 17:49] #575 closed

[2022-07-10 08:32] ydaiming commented on #575
@MatthewCaseres Could you pleas share what you did to solve the issue? Your input will be really important for future references! Thanks!

[2022-07-11 16:54] VitalyFedyunin opened #586 "This comparison only indicates that somethings is broken and not helping with debug"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./test/test_dataloader2.py#L160
cc @VitalyFedyunin

[2022-07-11 16:57] VitalyFedyunin opened #587 "This comparison only indicates that somethings is broken and not helping with debug"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./test/test_dataloader2.py#L160
cc @VitalyFedyunin

[2022-07-11 17:01] #586 closed

[2022-07-11 17:01] #587 closed, assigned to nobody

[2022-07-11 17:03] VitalyFedyunin opened #588 "[TODO] This comparison only indicates that somethings is broken and not helping with debug"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./test/test_dataloader2.py#L160
cc @VitalyFedyunin

[2022-07-11 17:03] VitalyFedyunin opened #589 "[TODO] Add shuffle test"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./test/test_dataloader2.py#L164

[2022-07-11 17:09] VitalyFedyunin opened #593 "[TODO] (ejguan): Deterministic serialization is required"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./test/test_serialization.py#L206

[2022-07-11 17:09] VitalyFedyunin opened #594 "[TODO] Add serialization tests for optional DataPipe"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./test/test_serialization.py#L286

[2022-07-11 17:09] VitalyFedyunin opened #595 "[TODO] There is current a bug in TorchArrow/Velox related to conversion of arrow arrys to DataFrame that causes"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./examples/criteo_torcharrow/criteo_parquet.py#L17

[2022-07-11 17:09] VitalyFedyunin opened #596 "[TODO] Optimize this operation"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./examples/criteo_torcharrow/criteo_tsv.py#L156
cc @VitalyFedyunin

[2022-07-11 17:09] VitalyFedyunin opened #597 "[TODO] This file can be moved to the dataframe parent directory once Torcharrow"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./examples/criteo_torcharrow/torcharrow_wrapper.py#L1

[2022-07-11 17:17] VitalyFedyunin opened #598 "[TODO] use regex to replace all "T" and "T_co" related signature"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./docs/source/conf.py#L94

[2022-07-11 17:20] VitalyFedyunin opened #599 "[TODO] add DEFAULT and remove RESULT once all PR branches are up-to-date"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./third_party/aws-sdk-cpp/crt/aws-crt-cpp/crt/s2n/scripts/s2n_safety_macros.py#L87

[2022-07-11 17:20] VitalyFedyunin opened #600 "[TODO] ensure type compatibility"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./third_party/aws-sdk-cpp/crt/aws-crt-cpp/crt/s2n/scripts/s2n_safety_macros.py#L95

[2022-07-11 17:20] VitalyFedyunin opened #601 "[TODO] To be extra tidy, this should only track the execute bit"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./third_party/aws-sdk-cpp/crt/aws-crt-cpp/crt/aws-lc/util/bot/extract.py#L161
cc @davidben

[2022-07-11 17:20] VitalyFedyunin opened #602 "[TODO] Now that we use CIPD to fetch Go, this script does not do"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./third_party/aws-sdk-cpp/crt/aws-crt-cpp/crt/aws-lc/util/bot/go/env.py#L48
cc @davidben

[2022-07-11 17:20] VitalyFedyunin opened #603 "[TODO] re-enable 'aws-lc-ci-windows-x86' when CryptoAlg-826 is fixed."
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./third_party/aws-sdk-cpp/crt/aws-crt-cpp/crt/aws-lc/tests/ci/cdk/app.py#L26

[2022-07-11 17:20] VitalyFedyunin opened #604 "[TODO] re-enable 'aws-lc-ci-windows-x86' when CryptoAlg-826 is fixed."
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./third_party/aws-sdk-cpp/crt/aws-crt-cpp/crt/aws-lc/tests/ci/cdk/app.py#L32

[2022-07-11 17:20] VitalyFedyunin opened #605 "[TODO] re-enable 'aws-lc-ci-windows-x86' when CryptoAlg-826 is fixed."
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./third_party/aws-sdk-cpp/crt/aws-crt-cpp/crt/aws-lc/tests/ci/cdk/app.py#L42

[2022-07-11 17:20] VitalyFedyunin opened #606 "[TODO] re-enable 'aws-lc-ci-bm-framework' when it's ready."
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./third_party/aws-sdk-cpp/crt/aws-crt-cpp/crt/aws-lc/tests/ci/cdk/app.py#L47

[2022-07-11 17:20] VitalyFedyunin opened #607 "[TODO] add build type BUILD_BATCH when CFN finishes the feature release. See CryptoAlg-575."
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./third_party/aws-sdk-cpp/crt/aws-crt-cpp/crt/aws-lc/tests/ci/cdk/cdk/aws_lc_github_fuzz_ci_stack.py#L118

[2022-07-11 17:20] VitalyFedyunin opened #608 "[TODO] add this to the CDK project above when it supports EfsFileSystemLocation"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./third_party/aws-sdk-cpp/crt/aws-crt-cpp/crt/aws-lc/tests/ci/cdk/cdk/aws_lc_github_fuzz_ci_stack.py#L133

[2022-07-11 17:20] VitalyFedyunin opened #609 "[TODO] add build type BUILD_BATCH when CFN finishes the feature release. See CryptoAlg-575."
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./third_party/aws-sdk-cpp/crt/aws-crt-cpp/crt/aws-lc/tests/ci/cdk/cdk/aws_lc_github_ci_stack.py#L62

[2022-07-11 17:20] VitalyFedyunin opened #610 "[TODO] The following user-interaction doesn't"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./third_party/aws-sdk-cpp/crt/aws-crt-cpp/crt/aws-lc/third_party/googletest/scripts/fuse_gtest_files.py#L122
cc @wan@google.com

[2022-07-11 17:20] VitalyFedyunin opened #611 "[TODO] Don't require authentication. Let the server say"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./third_party/aws-sdk-cpp/crt/aws-crt-cpp/crt/aws-lc/third_party/googletest/scripts/upload.py#L323

[2022-07-11 17:21] #610 closed

[2022-07-11 17:21] #609 closed

[2022-07-11 17:21] #608 closed

[2022-07-11 17:21] #607 closed

[2022-07-11 17:21] #606 closed

[2022-07-11 17:22] #604 closed

[2022-07-11 17:22] VitalyFedyunin opened #612 "[TODO] This is slow as it does not sends data requests ahead."
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./torchdata/dataloader2/reading_service.py#L106
cc @VitalyFedyunin

[2022-07-11 17:22] VitalyFedyunin opened #613 "[TODO] Should be one of 'fork', 'spawn'"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./torchdata/dataloader2/reading_service.py#L135
cc @VitalyFedyunin

[2022-07-11 17:22] VitalyFedyunin opened #614 "[TODO] Add distributed support"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./torchdata/dataloader2/reading_service.py#L142
cc @VitalyFedyunin

[2022-07-11 17:22] VitalyFedyunin opened #615 "[TODO] Add shuffle determinism support"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./torchdata/dataloader2/reading_service.py#L143
cc @VitalyFedyunin

[2022-07-11 17:22] VitalyFedyunin opened #616 "[TODO] Warn and recommend usage of InProcessReadingService when `num_workers == 0` for `MultiProcessingReadingService`"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./torchdata/dataloader2/reading_service.py#L148
cc @VitalyFedyunin

[2022-07-11 17:22] VitalyFedyunin opened #617 "[TODO] Separate into function, because we also need to apply distributed seed and call it inside process"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./torchdata/dataloader2/reading_service.py#L151
cc @VitalyFedyunin

[2022-07-11 17:22] VitalyFedyunin opened #618 "[TODO] Check if anyone stuck with messages"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./torchdata/dataloader2/reading_service.py#L174
cc @VitalyFedyunin

[2022-07-11 17:22] #602 closed

[2022-07-11 17:22] VitalyFedyunin opened #619 "[TODO] Can send terminations simultaneously"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./torchdata/dataloader2/reading_service.py#L176
cc @VitalyFedyunin

[2022-07-11 17:22] VitalyFedyunin opened #620 "[TODO] Make termination a function of QueueWrapperDataPipe (similar to reset)"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./torchdata/dataloader2/reading_service.py#L177
cc @VitalyFedyunin

[2022-07-11 17:22] VitalyFedyunin opened #621 "[TODO] `collate_fn` is necessary until we stop using DLv1 https://github.com/pytorch/data/issues/530"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./torchdata/dataloader2/reading_service.py#L226

[2022-07-11 17:22] VitalyFedyunin opened #622 "[TODO] Add support of block and timeout arguments"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./torchdata/dataloader2/communication/queue.py#L29
cc @VitalyFedyunin

[2022-07-11 17:22] VitalyFedyunin opened #623 "[TODO] Add support of block and timeout arguments"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./torchdata/dataloader2/communication/queue.py#L49
cc @VitalyFedyunin

[2022-07-11 17:22] VitalyFedyunin opened #624 "[TODO] Figure out what to do if nothing in the queue"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./torchdata/dataloader2/communication/queue.py#L56
cc @VitalyFedyunin

[2022-07-11 17:22] VitalyFedyunin opened #625 "[TODO] Catch only timeout exceptions in protocol server for `DataLoader2`"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/torchdata/dataloader2/communication/protocol.py#L67

https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/torchdata/dataloader2/communication/protocol.py#L192

https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/torchdata/datalo

[2022-07-11 17:22] VitalyFedyunin opened #626 "[TODO] Validate supported requests"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./torchdata/dataloader2/communication/protocol.py#L71

[2022-07-11 17:22] VitalyFedyunin opened #627 "[TODO] Catch only timeout exceptions"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/torchdata/dataloader2/communication/protocol.py#L192

https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/torchdata/dataloader2/communication/protocol.py#L204

[2022-07-11 17:22] VitalyFedyunin opened #628 "[TODO] Catch only timeout exceptions"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./torchdata/dataloader2/communication/protocol.py#L204

[2022-07-11 17:22] VitalyFedyunin opened #629 "[TODO] Add possible response types validation here"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./torchdata/dataloader2/communication/protocol.py#L208
cc @VitalyFedyunin

[2022-07-11 17:22] VitalyFedyunin opened #630 "[TODO] Some ReadingServices might want to validate adapters, we can add this feature"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./torchdata/dataloader2/dataloader2.py#L57
cc @VitalyFedyunin

[2022-07-11 17:22] VitalyFedyunin opened #631 "[TODO] If any extension had dependency of shared library,"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/./torchdata/_extension.py#L18

[2022-07-11 17:27] #600 closed

[2022-07-11 17:33] VitalyFedyunin opened #632 "[TODO] We can also release caching locks here to allow filtering"
This issue is generated from the TODO line

https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/torchdata/datapipes/utils/janitor.py#L15

cc @VitalyFedyunin

[2022-07-11 17:34] VitalyFedyunin opened #633 "[TODO] This should be Exception or warn when debug mode is enabled"
This issue is generated from the TODO line

https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/torchdata/datapipes/iter/util/combining.py#L118

cc @VItalyFedyunin

[2022-07-11 17:34] VitalyFedyunin opened #634 "[TODO] Line above will require all readers (Win) to obtain proper locks,"
This issue is generated from the TODO line

https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/torchdata/datapipes/iter/util/cacheholder.py#L127

cc @VitalyFedyunin

[2022-07-11 17:34] VitalyFedyunin opened #635 "[TODO] `CacheHolder` - issue with old `.promise` files from a previous, failed run"
This issue is generated from the TODO line

https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/torchdata/datapipes/iter/util/cacheholder.py#L236

cc @VitalyFedyunin

[2022-07-11 17:34] VitalyFedyunin opened #636 "[TODO] Limit buffer size here. It is only contains file names from archive,"
This issue is generated from the TODO line

https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/torchdata/datapipes/iter/util/cacheholder.py#L336

cc @VitalyFedyunin

[2022-07-11 17:34] VitalyFedyunin opened #637 "[TODO] Create dependency on TorchArrow?"
This issue is generated from the TODO line

https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/torchdata/datapipes/iter/util/dataframemaker.py#L15

[2022-07-11 17:34] VitalyFedyunin opened #638 "[TODO] More fine-grain control over the number of rows or row group per DataFrame"
This issue is generated from the TODO line

https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/torchdata/datapipes/iter/util/dataframemaker.py#L148

[2022-07-11 17:34] VitalyFedyunin opened #639 "[TODO] Enabling line above will require all read sites to be updated (Win)."
This issue is generated from the TODO line

https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/torchdata/datapipes/iter/util/saver.py#L60

cc @VitalyFedyunin

[2022-07-11 17:34] VitalyFedyunin opened #640 "[TODO] uncomment as soon as it becomes supported"
This issue is generated from the TODO line

https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/torchdata/datapipes/iter/util/tfrecordloader.py#L46

[2022-07-11 17:34] VitalyFedyunin opened #641 "[TODO] check CRC"
This issue is generated from the TODO line

https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/torchdata/datapipes/iter/util/tfrecordloader.py#L90

[2022-07-11 17:34] VitalyFedyunin opened #642 "[TODO] Remove this helper function when https://bugs.python.org/issue42627 is resolved"
This issue is generated from the TODO line

https://github.com/pytorch/data/blob/2f29adba451e1b87f1c0c654557d9dd98673fdd8/torchdata/datapipes/iter/load/online.py#L21

[2022-07-11 18:12] dahsh opened #644 "[TODO] Add dataloader2 shuffle test"
This issue is generated from the TODO line

https://github.com/pytorch/data/blob/4b325c85b81b5c5ef3f645fad7ad6092c7ce9aee/test/test_dataloader2.py#L164

[2022-07-11 18:17] dahsh commented on #644
Tracked in https://github.com/pytorch/data/issues/589

[2022-07-11 18:17] #644 closed

[2022-07-11 18:28] MatthewCaseres commented on #575
I did some testing on an EC2 instance.
* If the EC2 instance has permissions to access S3, it can access S3.
* If the EC2 instance does not have permissions to access S3 -
    * If there are valid credentials in ~/.aws/credentials then it will work
    * **It will not work if you are using [AWS environment variables](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-envvars.html)**.

[2022-07-12 21:09] ejguan opened #647 "Update out-of-date example and colab"
### 📚 The doc issue

The examples for Text/Vision/Audio are out-of-date: https://github.com/pytorch/data/tree/main/examples
The colab attached in README needs to be updated as well:
- How to install torchdata
- Example needs shuffle + sharding_filter

### Suggest a potential alternative/fix

None

[2022-07-12 21:24] ejguan commented on #647
cc: @VitalyFedyunin @NivekT since I am not sure who has the permission to edit the colab file

[2022-07-13 07:41] sephib commented on #497
The whole issue is with `private` datasets and not `public`

[2022-07-13 14:19] NicolasHug opened #648 "Chainer/Concater from single datapipe?"
The `Concater` datapipe takes multiple DPs as input. Is there a class that would take a **single** datapipe of iterables instead? Something like this:

[code]

Basically:

[`itertools.chain` ](https://docs.python.org/3/library/itertools.html#itertools.chain)== `Concater`
[`itertools.chain.from_iterable`](https://docs.python.org/3/library/itertools.html#itertools.chain.from_iterable) == `ConcaterIt

[2022-07-13 14:20] NicolasHug commented on #648
BTW, this is a NIT, but has it been considered to rename `Concater` into `Chainer` to be a bit more consistent with `itertools`?

[2022-07-13 15:28] NivekT opened #649 "DataLoader2 Feature Documentation"
### 📚 The doc issue

As we further develop `DataLoader2`, we should add a separate page under ("API Reference") for `DataLoader2` documentation. The page should cover topics such as adapters, linter, reading service, and etc, as well as information related to writing custom adapters and reading service.

[2022-07-13 16:54] gaikwadabhishek opened #650 "TarArchiveReader is not functioning with GDriveReader for BIG files (~1GB)"
### 🐛 Describe the bug

Hi Team,

Facing some similar issues with reference to https://github.com/pytorch/data/issues/42.

When trying to read a big tar file (around 1GB) through GDrive, I am encountering the `io.UnsupportedOperation: seek` exception.

test which I ran:
[code]

Error:
[code]

**Note:** This issue is only encountered with big files and small (<100 MB) files are working fine with th

[2022-07-13 18:32] NivekT commented on #628
Merged with #627

[2022-07-13 18:32] #628 closed

[2022-07-13 18:40] NivekT commented on #627
Merged with #625

[2022-07-13 18:40] #627 closed

[2022-07-13 19:04] NivekT commented on #601
This code is from third-party and I don't think we can change this.

cc: @ejguan

[2022-07-13 19:04] #601 closed

[2022-07-13 19:52] NivekT commented on #595
@wenleix I don't think this is true anymore right?

If so, I can remove the TODO and close this issue

[2022-07-13 21:03] NivekT commented on #650
Hi,

The issue here seems to be that `tarfile` is trying to use `seek` but that is not possible since the data stream is from GDrive. The default mode of `TarArchiveLoader` is `r:*`, you can do `dp.load_from_tar(mode="r|")` (or `"r|*"`)and that should work for an uncompressed file stream.

I just opened a PR #653 to switch the default when the stream is unseekable.

Can you provide examples (links

[2022-07-13 21:10] gaikwadabhishek commented on #650
Hi @NivekT, let me try this.
In the meantime, here are the links for smaller files:
https://drive.google.com/file/d/1ox8IwpiDIK-DF79k0cm9DRq3vAJXpqYX/view?usp=sharing -> total size <1 MB (bunch of empty files)
https://drive.google.com/file/d/1UluoT3mwqh6OiF0OnV_lbfraWrcDIfOH/view?usp=sharing -> tar.gz file from http datapipe example which is around 70MB

[2022-07-14 00:44] gaikwadabhishek commented on #650
Hi @NivekT
I tried your changes, they are working fine

[2022-07-14 17:51] dahsh opened #655 "DataLoader2 with OSS datasets/datapipes"
For user dev and onboarding experience of the data component, we will provide examples, tutorials, up-to-date documentations as well as the operational support. We added a simple train loop example. This is to further track adding the uscase and example of DataLoader2 with open source datasets/datapipes.

[2022-07-14 20:04] VitalyFedyunin opened #656 "Ability to manipulate columns and fields"
### 🚀 The feature

- [x] Add ability to drop specific column / field

For `list` and `tuple`
[code]

Similar for `dict` types
[code]

- [ ] Add ability to slice fields

For `list` and `tuple`
[code]

For `dict`
[code]

- [ ] Add ability to flatten structures

[code]

Note: No arguments `flatten()` should cover use-case from #648
Note: Exception if structures are different length

[code]
Note: Exce

[2022-07-14 20:16] VitalyFedyunin opened #657 "Check if this typecast IO causing entire object to be read into the buffer"
https://github.com/pytorch/data/blob/25cc03c055acfb342bfbf2065460aaf4edb1142d/torchdata/datapipes/iter/load/s3io.py#L125

CC @ejguan

[2022-07-14 21:50] mreso opened #659 "RuntimeError: Socket Timeout when rank 0 arrives late"
### 🐛 Describe the bug

Hi,

I am getting a RuntimeError: Socket Timeout when using a datapipe with the legacy DataLoader and rank 0 arrives significantly later (6+ secs) than other ranks. In my case the late arrival was due to loading some data through http and it showed only when scaling past 4 workers.

The full stack trace is:

[code]

I've create a minimal example that fails for 2 workers as

[2022-07-15 01:55] #650 closed

[2022-07-15 02:13] MARD1NO opened #660 "Will TorchData provides performance comparision with DataLoaderV1？"

[2022-07-15 02:38] NivekT commented on #660
Yes, it is work in progress

[2022-07-15 14:36] VitalyFedyunin commented on #659
CC @ejguan

[2022-07-15 17:29] dahsh opened #661 "DataLoader2 with reading service"
For user dev and onboarding experience of the data component, we will provide examples, tutorials, up-to-date documentations as well as the operational support. We added a simple train loop example. This is to further track adding the uscase and example of DataLoader2 with different reading services.

[2022-07-15 18:54] NivekT commented on #566
@ejguan and I did some digging into this:

`dill` 0.3.4 works with `pytest`, but not `python` (it raises `TypeError: cannot pickle '_abc._abc_data' object`).
`dill` 0.3.5 doesn't work with `pytest` or `python` (it raises `TypeError: cannot pickle 'PyCapsule' object`). It doesn't work even when we switch out `LambdaIterDataPipe` with `CustomIterDataPipe`, so the issue doesn't necessarily have to do

[2022-07-15 21:23] NivekT commented on #580
I share the same concern as @ejguan regarding option 1 since we need the linter to work during runtime.

I personally prefer Option 2, specially the Global based rather than context based, since that will allow linter to work outside of `DataLoaderV2` (i.e. users call just call linter whenever they want on a `DataPipeGraph`. Option 3 can also work but users will not be able to call/disable certain

[2022-07-18 16:40] VitalyFedyunin commented on #601
Yes, excluded, but this issue was generated before I did it.

[2022-07-20 12:22] #659 closed

[2022-07-20 18:36] ravi-mosaicml opened #701 "Dataloader Hangs on Exit"

[2022-07-21 05:36] sephib commented on #497
Correct

Correct - but I'm not going to further investigate this issue

[2022-07-21 18:00] MatthewCaseres opened #668 "routed_decoder slows down pipeline if placed after shuffle"
### 🐛 Describe the bug

I ran the following code -
[code]
The second datapipe is much slower
[code]

I don't see this documented anywhere. This causes problems with sharding, because `It is crucial to add ShardingFilter after Shuffler to ensure that all worker processes have the same order of data for sharding.` but also `Place ShardingFilter (datapipe.sharding_filter) as early as possible in the

[2022-07-21 21:00] #160 closed

[2022-07-21 21:19] NivekT commented on #668
Hi, thanks for opening this issue.

1. Just as a sanity check, if you swap the order of execution in your script, does the resulting times change?
2. What are the source files? We would like to reproduce the issue on our end if possible.
3. Are you observing this behavior for other DataPipes? Note that we plan to deprecate `routed_decode` in either the next release or the one after.

[2022-07-22 03:23] MatthewCaseres commented on #668
The source files are some jpeg images, each tar file has like 500 images. I noticed the time it took to load images was greatly influenced by buffer size, I don't think this is to do with the order of the statements run. I will provide a reproduction tomorrow.

I assumed `routed_decode` was transitioning from main PyTorch repo over here, if not, what is the right pattern for  decoding?

[2022-07-22 17:59] MatthewCaseres commented on #668
https://github.com/MatthewCaseres/torchdata-slowpipe-repro

Results from running script -
[code]

[2022-07-22 18:10] NivekT commented on #668
Thanks for the update. What is the difference between the sizes (in bytes) of the buffer depending in whether you decode before or after? Maybe call `sys. getsizeof()` on `Shuffler._buffer`?

[2022-07-22 18:40] ejguan commented on #668
Are those archives `tar` files or `tar.gz` files?

[2022-07-22 18:41] NivekT commented on #668
They are `tar.gz` files as shown in the README (https://github.com/MatthewCaseres/torchdata-slowpipe-repro).

[2022-07-22 18:45] ejguan commented on #668
It might the problem that decoding after shuffle requires changing the position of file handles of `tar` archives (deserializing + seeking), which taking more time than reading sequentially.

This might be resolved by de-compressing the archive first. It's worth experimenting on the dataset.

[2022-07-23 04:51] adamjstewart opened #672 "DataPipe with multiple possible sources"
### 🚀 The feature

Datasets may come from many sources. For example, a dataset may be present on disk, or it may be streamed from a remote API. We would like to be able to define a single dataset that optionally reads from disk or streams from an API.

### Motivation, pitch

One of the complexities we face in [TorchGeo](https://github.com/microsoft/torchgeo) is with uncurated satellite imagery dat

[2022-07-23 06:23] MatthewCaseres commented on #668
Issue is resolved when tarfile is just .tar and not .tar.gzip. I had to decompress and recompress using -cvf flags then it was good. This can be closed as this is the intended usage pattern and why we have the decompressors?

[2022-07-23 06:30] MatthewCaseres opened #673 ".open_files(mode="b").decompress().load_from_tar() throws error"
### 🐛 Describe the bug

repo - https://github.com/MatthewCaseres/torchdata-slowpipe-repro
[code]
throws error -
[code]

### Versions

[code]

[2022-07-23 22:42] dbish opened #674 "generate_csv in tutorial won't work correctly on windows"
### 📚 The doc issue

The main tutorial has a helper function to generate csvs: https://github.com/pytorch/data/blob/main/docs/source/tutorial.rst

This code works fine for linux, but with windows the open function requires newline to be specified, otherwise the csv writer will insert \r\r\n where the default text mode translates each \n into \r\n/. This creates a csv file with empty lines between

[2022-07-24 03:26] fotonick opened #676 "osx-arm64 build missing from Anaconda pytorch channel"
### 🐛 Describe the bug

Mac users on Apple silicon (M1, M2) cannot `conda install torchdata -c pytorch`, receiving "PackagesNotFoundError: The following packages are not available from current channels: -torchdata". This appears to be because torchdata was not built, packaged, and/or submitted to the pytorch channel. Is that something that can be done for future releases?

References:
* [torchdata

[2022-07-24 05:44] dbish opened #677 "(nit) spelling error in the "Documentation" issue type description"
### 📚 The doc issue

This is a bit meta, but you can see that the type description says "documnetation" instead of "documentation"

![image](https://user-images.githubusercontent.com/1166295/180634084-204cffd8-1906-4a4f-beaa-e5435513d1c8.png)

### Suggest a potential alternative/fix

_No response_

[2022-07-25 13:24] ejguan commented on #676
We are investigating how to provide such binaries to you as Github doesn't host m1 runner for us to create such packages.
As an intermediate solution, you can install `torchdata` by downloading from source and running `python setup.py install`.

[2022-07-25 13:40] ejguan commented on #668
You should be able to decompress via `gzip -d xxx.tar.gz` the you don't have to re-create tar archive.

[2022-07-25 14:40] ejguan commented on #673
Thanks for reporting the issue. I think `load_from_tar` should handle a special case that the input stream has already been a decompressed `tar` archive.
Let me send a fix then you should be able to use nightly release for testing.

[2022-07-25 14:59] nlgranger commented on #469
I have pushed this idea further with a realistic scenario and it seems that torch.rpc doesn't scale well for a dataloader usage.
I observed a ton of CPU overhead both on workers and main script sides. Besides, using rpc in the dataloader conflicts with other uses of rpc since you can't initialize different groups simultaneously, it's one global group.

Instead, I have re-implemented a simple RPC m

[2022-07-25 15:27] NivekT commented on #673
Thanks for reporting this. Agree with @ejguan that we should add a special case.

Note that `dp = FileLister("caltech-101").open_files(mode="b").load_from_tar()` should work. Let us know if it doesn't.

[2022-07-25 15:29] #677 closed

[2022-07-25 15:56] MatthewCaseres commented on #673
Loading from tar without decompressing does work but then I run into the issue where I can't shuffle prior to decoding - https://github.com/pytorch/data/issues/668

I was following the caltech-101 example where they load a .tar.gz file, so this issue is related - https://github.com/pytorch/data/issues/647

[2022-07-25 15:59] ejguan commented on #673
I am adding a PR to fix it: https://github.com/pytorch/data/pull/679

[2022-07-25 16:21] ejguan commented on #672
We appreciate that you want to explore the option to load TorchGeo Dataset via `TorchData`.

From TorchData perspective, we would try our best to provide all fundamental utilities and modular DataPipes for users. So, like Kevin said, you can aggregate a few DataPipe as a single dispatch DataPipe to determine the data sources at the runtime for your custom need.

[2022-07-25 16:40] fotonick commented on #676
Thank you. I recognize that hardware access on CI is problematic. Lmk if you need a tester.

[2022-07-25 17:00] adamjstewart commented on #672
Thanks, this should be what we're looking for! I'll try to play around with it when I get the chance. Thanks for the help!

[2022-07-25 17:00] #672 closed

[2022-07-25 20:13] #674 closed

[2022-07-25 21:01] NivekT commented on #668
I opened a PR #688 so that people are aware that shuffling early can impact the performance of operations that benefit from sequential read.

[2022-07-25 22:44] MatthewCaseres opened #689 "Distributed training tutorial with DataLoader2"
### 📚 The doc issue

I am not sure how to implement distributed training.

### Suggest a potential alternative/fix

If there was a simple example that showed how to use DDP with the torchdata library it would be super helpful.

[2022-07-25 23:07] MatthewCaseres commented on #689
I see some blog post that says to implement something like this -
[code]
I'm not sure what the way of doing this is that torchdata offers

[2022-07-26 01:20] #668 closed

[2022-07-26 02:35] #673 closed

[2022-07-26 13:30] BlueskyFR opened #690 "Unable to vectorize datapipe operations"
### 🐛 Describe the bug

Let `t` be an input dataset:

[code]

I now wrap `t` in a `SequenceWrapper`, to use it as part of a DataPipe:

[code]

Now, I have a pipeline giving me tuples:

[code]

After that, I am willing to do some preprocessing. However, since I have a huge dataset I want to vectorize the following operations: for that, I use `.batch`:

[code]

By vectorizing, I mean grouping the X

[2022-07-26 14:41] NivekT commented on #690
Hi, thanks for opening this issue. I am not sure if I understand your intended use case.

Have you considered using `x, y = dp.iter.IterableWrapper(t).unzip()`? This would separate your `x` and `y` into two distinct DataPipes that can be processed separately and re-combined later.

Also, what would you like to apply your custom logic over?

[2022-07-26 15:50] VitalyFedyunin commented on #690
You are probably looking for something like a per-column collate?

[code]

In this case fn_1 will get `["a","b"]` as input and fn_2 will get `[567, 908]` as input.

It is not available ATM, but if it is something you looking for we can prioritise it.

[2022-07-26 15:50] VitalyFedyunin commented on #689
CC @ejguan

[2022-07-26 15:52] VitalyFedyunin commented on #656
Each task can be separates as easy first issue PR.

[2022-07-26 15:52] VitalyFedyunin commented on #656
CC @dbish

[2022-07-26 15:54] VitalyFedyunin commented on #656
Slicing is the hardest one on the list.

[2022-07-26 15:56] VitalyFedyunin commented on #648
You can try to use `.unbatch()` for it, it is not so generic but might work in your case.

However proper solution would be to add new DataPipe. And I would rather call it `flatten`

[2022-07-26 16:08] ejguan commented on #689
It makes sense. We should add a section for distributed training `DataPipe` with the existing `DataLoader`.
And, after `DataLoader2` + `DistributedReadingService` becomes beta stage, we can add tutorial for them as well.

@MatthewCaseres
The TLDR for distributed training with `DataPipe`: you should add `sharding_filter` operation in your pipeline similar to what we suggest in [the tutorial regardi

[2022-07-26 16:16] jrgreene commented on #676
I was able to install torchdata on my M1 Max laptop using pip, but then when I tried to actually run the code I got this:

"_torchdata.so' (mach-o file, but is an incompatible architecture (have 'x86_64', need 'arm64e'))"

I think this is the same issue as above as the root cause??? Basically, the binaries are not for the M1 chip.

Can I solve this issue by building from source as pointed out abov

[2022-07-26 16:29] ejguan commented on #676
@jrgreene Yes, you can. And, if you want to enable AWSSDK as well. You can follow the instruction [here](https://github.com/pytorch/data/tree/main/torchdata/datapipes/iter/load#build-from-source) to compile torchdata from source. I have confirmed with AWS team that it can compiled on M1 chip. So, the C-extension for TorchData (used for AWSSDK) can be compiled for M1 machines.

[2022-07-26 16:38] ejguan commented on #656
If we want to support slicing, don't you think indexing would be an additional feature?
For list and tuple
[code]
Advanced indexing
[code]

[2022-07-26 16:39] ejguan commented on #676
And, I am working on a PR to add m1 binary.

[2022-07-26 22:02] VitalyFedyunin commented on #656
Agree that indexing could be a subclass of slicing.

[2022-07-27 00:33] is-jlehrer opened #693 "Changing decoding method in StreamReader"
### 🐛 Describe the bug

Hi,

When decoding from a file stream in `StreamReader`, torchdata automatically assumes the incoming bytes are UTF-8. However, in the case of alternate encoding's this will error (in my case `UnicodeDecodeError: 'utf-8' codec can't decode byte 0xec in position 3: invalid continuation byte`). How do we change the decoding method to fit the particular data stream?

### Versi

[2022-07-27 00:48] is-jlehrer commented on #693
To be more specific, is there no way to read from `StreamReader` as bytes?

[2022-07-27 13:18] ejguan commented on #693
It depends on how you `open` your file, rather than `StreamReader`. If you use `FileOpener` (functional API as `open_files`), you can specify the encoding to `b` to open file in bytes.

[2022-07-27 13:27] #676 closed

[2022-07-27 14:23] ejguan commented on #676
@fotonick @jrgreene
The nightly releases for arm64 are available on conda. You can install it via:
`conda install pytorch torchdata -c pytorch-nightly`
In the coming 0.4.1 torchdata release (this week or next week), we will provide arm64 releases as well.

[2022-07-27 14:54] ejguan commented on #676
The binaries for arm64 becomes available for nightly release. You can get them via: `conda install pytorch torchdata -c pytorch-nightly`.

And, for the coming torchdata 0.4.1 minor releases (this week or the next week), you will be able to get arm64 build of torchdata using `conda install pytorch torchdata -c pytorch`.

[2022-07-30 05:21] vedantroy opened #702 "DataLoader epoch size changes when setting `num_workers`>1"
### 🐛 Describe the bug

I wrote some code to read files in from a directory and do some processing (load them into tensors, etc. etc.)
However, I've noticed that when I set `num_workers` to be greater than 1, the size of the epoch scales proportionally.
So, for example, let's say with a batch size of 100, there are 5 batches in an epoch. When I increase the number of workers to 8, now there will b

[2022-07-30 06:07] vedantroy opened #703 "Read Parquet Files Directly from S3?"
### 🚀 The feature

The `ParquetDataFrameLoader` allows us to read parquet files from the local file system, but I don't think it supports reading parquet files from (for example) an S3 bucket.

Make this possible.

### Motivation, pitch

I would like to train my models on parquet files stored in an S3 bucket.

### Alternatives

You could probably download the parquet file locally and then use the

[2022-07-31 08:39] vedantroy opened #704 "Cannot read from parquet files that contain binary"
### 🐛 Describe the bug

I create some parquet files with the following:

[code]

[code]
when I try to read the parquet files, with the following pipe:

[code]

I get the error:

### Versions

Collecting environment information...
PyTorch version: 1.12.0+cu102
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Ubuntu 22.04 LTS (x86_64)
GCC version: (Ubuntu 1

[2022-07-31 22:46] msaroufim opened #705 "Set better defaults for `MultiProcessingReadingService`"
### 🚀 The feature

[code]

### Motivation, pitch

There's a lot of issues on discuss, stack overflow and blogs describing how people should configure data loaders for optimized performance. Since a lot of the tricks haven't changed like `pin_memory = true` or `num_workers = num_cpu_cores` or `persistent_workers=true` so since we're in the process of developing `dataloaderv2` now may be a good time

[2022-08-01 14:28] ejguan commented on #705
Just a note: `MultiProcessingReadingService` (`MPRS`) is a temporary reading service. We will change it to the the `PrototypeMultiProcessingReadingService`. And, for `prefetch_factor`, we might provide it as `DataPipes` to let users define it in their pipeline. And, we have decided to make `pin_memory` as an adapt_fn. See: https://github.com/pytorch/data/pull/485

For `worker_init_fn`, I think we

[2022-08-01 14:34] ejguan commented on #703
cc: @NivekT
Does `parquet` support loading dataframe from binary stream? If so, we might change the behavior of  `ParquetDataFrameLoader` from loading by file pathes to loading by binary streams. Then, users would be able to load remote parquest files on S3 either using AWSSDK or fsspec DataPipe

[2022-08-01 14:35] ejguan commented on #702
Please take a look at our [tutorial](https://pytorch.org/data/beta/tutorial.html#working-with-dataloader). You might want to add `sharding_filter` in your pipeline to support dynamic sharding for multiprocessing.

[2022-08-01 17:21] ravi-mosaicml commented on #701
From the linked code, a 5 second wait would indicate that we are hitting the timeout, meaning that the dataloader worker did not terminate on its own before the join timed out. I don't think that this behavior is expected; I presume the dataloader workers should exit before the timeout is hit?

An a related note, I think this implementation could be refactored to wait up to 5 second total, not 5 s

[2022-08-02 12:58] gombru opened #707 "Map-style DataPipe to read from s3"
### 🚀 The feature

[Amazon S3 plugin for PyTorch ](https://aws.amazon.com/blogs/machine-learning/announcing-the-amazon-s3-plugin-for-pytorch/)proposes S3Dataset which is a Map-style PyTorch Dataset. I was looking for a similar feature in torchdata but only found [S3FileLoader](https://pytorch.org/data/main/generated/torchdata.datapipes.iter.S3FileLoader.html#torchdata.datapipes.iter.S3FileLoader)

[2022-08-02 13:54] ejguan commented on #701
Does this problem happen if either `persistent_workers` or `pin_memory` is set to `False`?

[2022-08-02 13:55] quancs opened #708 "list a zipper with shuffler inside reporting KeyError"
### 🐛 Describe the bug

The following line `print(list(dp_all))` will report a KeyError: 10. Comment this line is OK to get all items.

[code]

### Versions

Collecting environment information...
PyTorch version: 1.11.0
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Ubuntu 22.04 LTS (x86_64)
GCC version: (Ubuntu 11.2.0-19ubuntu1) 11.2.0
Clang version: C

[2022-08-02 14:30] NivekT commented on #707
It is possible for you to use the Iter-style S3 DataPipes, perform your transformation, then convert it to Map-style later with [`.to_map_datapipe()`](https://pytorch.org/data/beta/generated/torchdata.datapipes.map.IterToMapConverter.html#torchdata.datapipes.map.IterToMapConverter)?

[2022-08-02 14:35] NivekT commented on #708
Thanks for spotting this bug. I will open a PR with a fix for this.

[2022-08-02 14:36] gombru commented on #707
Maybe that would work. Does [.to_map_datapipe()](https://pytorch.org/data/beta/generated/torchdata.datapipes.map.IterToMapConverter.html#torchdata.datapipes.map.IterToMapConverter) allow to keep an idx as Map-style DataPipes, so that then I can fetch the corresponding label from the list?

Do you have any example of that?
Thank you

[2022-08-02 14:54] NivekT commented on #707
Something like this works:

[code]

[2022-08-02 17:53] ejguan opened #709 "Update tutorial about shuffling before sharding"
### 📚 The doc issue

The [tutorial](https://pytorch.org/data/beta/tutorial.html#working-with-dataloader) needs to update the actual reason about shuffling before sharding. It's not accurate.
Shuffling before sharding is required to achieve global shuffling rather than only shuffling inside each shard.

### Suggest a potential alternative/fix

_No response_

[2022-08-02 19:22] NivekT commented on #709
As in the following sentence is inaccurate?

[2022-08-02 19:50] ejguan commented on #709
Without shuffler, each worker process has the same order of data as well. So, it's not the essential reason.

[2022-08-02 21:49] msaroufim opened #711 "Support Key/Value databases"
### 🚀 The feature

The existing cacheholder leverages a python dictionary

[code]

But could instead provide a generic interface to plug in different cache providers like redis or memcached

[code]

### Motivation, pitch

Python dictionaries have a few limitations when used as a cache
1. Need to copy them per process
2. Updating cache in one process needs to manually synchronize with cache in othe

[2022-08-02 23:58] NivekT opened #712 "Add Examples of Common Preprocessing Steps with IterDataPipe (such as splitting a data set into two)"
### 📚 The doc issue

There are a few common steps that users often would like to do while preprocessing data, such as [splitting their data set](https://pytorch.org/docs/stable/data.html#torch.utils.data.random_split) into train and eval. There are documentation in PyTorch Core about how to do these things with `Dataset`. We should add the same to our documentation, specifically for `IterDataPipe`

[2022-08-03 08:43] gombru commented on #707
Thanks for the help.

I found that the best solution for my setup here was store the labels as a dict where keys are (an ID in) the images url, so that then I can easily find them in __iter__.

A question related to [S3FileLoader](https://pytorch.org/data/main/generated/torchdata.datapipes.iter.S3FileLoader.html#torchdata.datapipes.iter.S3FileLoader): Is there a way to ignore missing files?
S3File

[2022-08-03 13:12] ejguan commented on #711
It's a reasonable feature for `MapDataPipe`. Would it be possible to extend this cache interface to support in-memory cache for [`IterDataPipe`](https://github.com/pytorch/data/blob/a7745b9865ed590c252072c51026400ae64a656f/torchdata/datapipes/iter/util/cacheholder.py#L75-L95), which follows FIFO manner.

BTW, I think `__contains__` is also required for cache object to check if the request has alre

[2022-08-03 15:02] NivekT commented on #707
I think we would prefer to filter those files out ahead of time with something like `filter` to check if the file exists before trying to load it. We generally don't expect that to happen since a common pattern is to list out the files on S3 first (with `.list_files_by_s3()`),

I'm unsure about the case where files may be deleted during training. What is causing that to happen? Is that intended?
O

[2022-08-03 15:08] gombru commented on #707
Yes I'll filter the files out before training, but still a file can be deleted during training. That's expected and not related to the training itself but to how the database is maneged (can't replicate it because of the size).

In a Map-Style loader I could check if the file existed in each __getitem__ but with this approach I cannot. So wanted to check if there's any alternative.

[2022-08-03 18:39] NivekT commented on #707
I believe it is possible for you to check if file exists within `__iter__` of an IterDataPipe.

@ejguan can you confirm? Any thoughts?

[2022-08-03 18:52] ejguan commented on #707
Like @NivekT said, you might want to implement a special `DataPipe`. And, within `__iter__`, you should suppress Error for those missing files.
[code]
Does this work for you?

[2022-08-03 19:06] NivekT commented on #708
Fixed by https://github.com/pytorch/pytorch/pull/82666

[2022-08-03 19:06] #708 closed

[2022-08-03 22:42] ravi-mosaicml commented on #701
Good question; it appears only if both `persistent_workers` and `pin_memory` are `True`.

Test bench

[code]

Output:
[code]

[2022-08-04 09:35] gombru commented on #707
I solved it in a similar way overwriting S3FileLoaderIterDataPipe. By using a 'continue' instead of a 'pass' in the `MissingFileException` I achieve that the iterator completely ignores the sample and yields the next one.

Thanks for the help!

[2022-08-04 13:31] ejguan commented on #707
Sounds great. Closing the issue as it has been solved. Free free to re-open it if you have further question.

[2022-08-04 13:31] #707 closed

[2022-08-04 20:51] ejguan commented on #701
Thanks for confirmation. Let me take a deeper look on this. This might be related to the `atexit` function used to guarantee worker process can be exited properly.

[2022-08-04 22:06] #709 closed

[2022-08-05 00:28] #702 closed

[2022-08-05 02:12] BarclayII opened #718 "Recommended practice to shuffle data with datapipes differently every epoch"
### 📚 The doc issue

I was trying `torchdata` 0.4.0 and I found that shuffling with data pipes will always yield the same result across different epochs, unless I shuffle it again at the beginning of every epoch.

[code]

I wonder what is the recommended practice to shuffle the data at the beginning of every epoch?  Neither the documentation nor the examples seem to answer this question.

### Sugg

[2022-08-05 13:29] ejguan commented on #718
Technically speaking, you should use `DataLoader` to work with DataPipe to enable shuffling with different randomness of every epoch. But, there are a few bugs in `DataLoader` and `map.SequenceWrapper`, I will send a patch to fix it.

Besides, it seems the behavior of `MapDataPipe` is different from `IterDataPipe`:
- `IterDataPipe.shuffle` would shuffle lazily during iteration: shuffle order is ch

[2022-08-05 13:30] ejguan commented on #718
Could you please try to use `IterDataPipe` via `dp.iter.IterableWrapper` as a temporary workaround?

[2022-08-05 18:59] ejguan opened #720 "Add `SingleProcessReadingService` for `DataLoader2` by default"
### 🚀 The feature

Add `SingleProcessReadingService` to adapt the graph for the sake of:
- Shuffle seed setting per epoch
- Set shuffle/sharding
- etc.

Pros:
This would prevent making `DataLoader2` more complicated. The reading service should take charge of all adaptation of the graph of `DataPipes`.

Cons:
By adding `SingleProcessReadingService`, we need mixed ReadingServices for the most of cas

[2022-08-06 04:55] BarclayII commented on #718
This is what I have now:
[code]

It seems that to emulate the old DataLoader's `shuffle=True` behavior I'll need to pass in the size of the dataset explicitly into the `shuffle()` method.

[2022-08-08 03:05] ezeli commented on #712
Is there a general method? I currently implement an IterDataPipe that splits the dataset by index:
@functional_datapipe("index_split")
class IndexSpliterIterDataPipe(IterDataPipe):
    def __init__(self, source_dp, start_idx, end_idx) -> None:
        super().__init__()
        self.source_dp = source_dp
        self.start_idx = start_idx
        self.end_idx = end_idx
        assert self.end_idx

[2022-08-08 05:27] BarclayII opened #722 "Allow overriding of existing functional APIs on DataPipe subclasses"
### 🚀 The feature

Allow users to override existing functional APIs on their own DataPipe subclasses.

### Motivation, pitch

Consider the use case where I iterate over a tensor in minibatches:
[code]
Both `MapDataPipe` and `IterDataPipe` will return a list of tensors.  What should I do if I want to return a single tensor instead of a list of multiple small tensors?

I thought of subclassing `Iter

[2022-08-08 13:25] ejguan commented on #718
The `shuffle` for `IterDataPipe` has to be a buffered shuffle as there isn't a concept of indices.

[2022-08-08 15:06] #595 closed

[2022-08-08 15:06] #596 closed

[2022-08-08 16:22] NivekT commented on #712
@ezeli I think having a custom DataPipe seems fine for your use case. I am open to add that to the library if there are more users who have a use case for it.

We currently have `.header(limit=10)` which can yield from the start up to the specified limit, but not the exact one that you'd like.

If you prefer to use built-in DataPipes instead, you can use one of:
* `dp = dp.enumerate().filter(filte

[2022-08-09 03:54] ezeli commented on #712
In fact, it is not advisable to split the dataset by demux. Because the training set, validation set, and test set are often very large, it is easy to exceed the buffer_size, and if the buffer_size is set too large, it will lose the meaning of IterData and will put pressure on the memory.

[2022-08-09 12:22] vincentFrancais commented on #712
I second what @ezeli said. Using demux I often exceed the buffer_size on my datasets. Furthermore it's not always straightforward to define a classifier function to split datasets according to one's needs.

The proposed `IndexSpliterIterDataPipe` from @ezeli works flawlessly for my use cases.
It would be more convenient to have a similar DataPipe directly available in the library.

[2022-08-09 14:25] ejguan commented on #712
Share my 2 cents here.

Your strategy to split relies on skipping the element with index smaller than `self.start_idx`. As you mentioned about large size of sub-set, it means you have to skip a bunch of elements, which is time consuming and wasting all the operations.

Besides, `demux` provides a way to split dataset not just based on a range of indices. We might consider to add a way to cache the

[2022-08-09 18:50] msaroufim commented on #711
Summarizing notes from meeting with Erjia
* Let's do a comparison of open source caching solutions with their tradeoffs
* Do we need to come up with our format? What are the benefits and restrictions?

[2022-08-10 16:48] ejguan commented on #657
Using the same script from https://github.com/pytorch/data/issues/500 to test the performance w/ or w/o `BytesIO` from `S3FileLoader`.
- With `BytesIO`
[code]
- Without `BytesIO`
[code]
It seems the performance is on parity. So, closing the issue for now unless more investigation on typecast is required.

[2022-08-10 16:48] #657 closed

[2022-08-10 18:05] ejguan opened #726 "Auto import variables for type annotation and default value for functional API during pyi gen"
### 🚀 The feature

When we generate the interface of functional API, we can scan `__init__` function for all type annotation and default variables that are imported from somewhere by the file itself. Then, we don't need to manually update the stub file with [hard coded import statements](https://github.com/pytorch/data/blob/3afa800112c1d5faf3e1c443a1843e6db77d0dd9/torchdata/datapipes/iter/__init__

[2022-08-10 19:53] ejguan commented on #712
If that's the case, it's even easier and more efficient if you can split them into different files or archives.

I think @NivekT 's PR has provided our initial support on it. Another alternative would be creating a non-buffer `demux` for you.

[2022-08-10 22:30] dbish commented on #656
@VitalyFedyunin and @ejguan, a few questions around the requirements for slicing and indexing. Right now slicing/indexing at a datapipe level is already implemented for map datapipes because of the implementation of __get_item__(). This means that there is already expected functionality for using this. It is implemented different then the requirements here, as it just returns the element or elemen

[2022-08-11 01:08] ejguan commented on #656
It sounds like a reasonable design to me.

Even for `MapDataPIpe`, users might expect two different behaviors when passing slices into `__getitem__` function:
- Get corresponding elements defined by slices.
- Select slice from each of element from `MapDataPipe`.

[2022-08-12 16:34] dbish commented on #656
accidentally automatically closed when part 1 was landed

[2022-08-15 03:45] pmeier opened #731 ""stable" releases are not available through PyTorch index"
While `torchdata` is available on the [nightly](https://download.pytorch.org/whl/nightly/cpu) and [test](https://download.pytorch.org/whl/test/cpu) index, it is missing from the [stable](https://download.pytorch.org/whl/cpu) index. Is this intentional?

[2022-08-15 14:00] ejguan commented on #731
Oh yeah. For stable releases, we rely on PyPI directly: https://pypi.org/project/torchdata/

[2022-08-15 14:04] #731 closed

[2022-08-15 16:32] VitalyFedyunin commented on #648
Note: we already used `flatten` for horizontal/column operations. Perhaps we need rows_flatten or other (way) better name.

[2022-08-15 17:14] NicolasHug opened #732 "Recommended way to shuffle intra and inter archives?"
Say I have a bunch of archives containing samples. In my case each archive is a pickle file containing a list of samples, but it could be a tar or something else.

I want to shuffle between archives (inter) and within archives (intra). My current way of doing it is below. Is there a more canonical solution?

[code]

[2022-08-15 17:17] NicolasHug commented on #732
Also, I don't know if this is normal or if there is a problem with `DataLoader2`, but if I call `shuffle().set_shuffle(False)` (like we do in torchvision), then the datapipe doesn't get properly shuffled: only the intra-archive shuffling happens:

[code]

The result will only ever be:

[code]
or
[code]

[2022-08-15 17:19] NicolasHug commented on #648
Looks like  `unbatch()` doesn't work for datapipes that contain datapipes, so in https://github.com/pytorch/data/issues/732 I still had to resort to something like `ConcaterIterable` above

[2022-08-15 17:22] VitalyFedyunin commented on #648
We will work to introduce the function for your case.

[2022-08-15 17:45] NicolasHug commented on #732
OK so regarding the use of `shuffle().set_shuffle(False)` in the message above, the problem comes from `traverse()`:

[code]

The intra-archive shufflers are "hidden" by the `MapperIterDataPipe`, and so they are not re-activated by the adapter.

There's probably nothing `traverse()` can do here... Or maybe there is? @VitalyFedyunin would you like me to open a more specific issue to keep track of t

[2022-08-15 18:12] NicolasHug commented on #732
The problem is more general in that it applies to any kind of wrapper that generates a datapipe, not just to a `Mapper`. For example the solution below still has the exact same problem because the `Shuffler` instances are hidden within the `PickleLoaderDataPipe`:

[code]

[2022-08-15 18:28] NivekT commented on #648
@VitalyFedyunin @ejguan
I think the best way might be for the existing `Concater` to accept Iterables as well (instead of only `IterDataPipe`). Thoughts?

[2022-08-15 19:03] NivekT commented on #732
I think the best way is to use [`in_batch_shuffle`](https://github.com/pytorch/data/blob/main/torchdata/datapipes/iter/transform/bucketbatcher.py#L19-L47). Though we need to add further randomness control to it if we want it to be enabled/disabled.

cc: @ejguan

[2022-08-15 19:56] ejguan commented on #732
I feel like this is not solvable by `traverse` function. I think we should DataPipe as a static graph of operations. The `PickleLoader` adds DataPipe in the runtime, which makes `torchdata` no way to track the DAG.

[2022-08-15 20:42] VitalyFedyunin commented on #732
I think question here is how big is the pickled data. If it fits memory nicely (I presume it just have too, due to the Pickle nature) the best case would be to shuffle list using standard python functions:

[code]

Also [in_batch_shuffle](https://github.com/pytorch/data/blob/main/torchdata/datapipes/iter/transform/bucketbatcher.py#L19-L47) does exactly this so it is preferable way. Note: It is not

[2022-08-16 00:52] ringohoffman opened #735 "S3FileLoader clears contents of local file when s3 object name == local file relative path name"
### 🐛 Describe the bug

When an S3 object name matches the relative path of a local file, the file's contents get cleared after loading the object data.

[code]

I am pretty sure it is bc of [this](https://github.com/pytorch/data/blob/main/torchdata/csrc/pybind/S3Handler/S3Handler.cpp#L205-L206). I think this could probably be fixed by opening the stream in a tempfile instead of just using `object

[2022-08-16 08:50] NicolasHug commented on #732
Thanks a lot everyone for your input!

Ah that's a great idea, if we set `buffer_size=archive_size` it should do what I want to do (shuffling is a tiny bit different but it doesn't matter, it's actually better). However, we would need to know the size of the archives, which might be tricky / cumbersome in general?

Looks like `in_batch_shuffle` would be a good alternative, however I do need the ab

[2022-08-16 13:02] ejguan commented on #732
Yeah. This is one of TODOs on top of my lists. I need to align `in_batch_shuffle` with `shuffle` in terms of API.

[2022-08-16 13:11] ejguan commented on #735
cc: @ydaiming

[2022-08-16 13:49] ejguan opened #736 "Fix & Implement xdoctest"
### 📚 The doc issue

There is a PR https://github.com/pytorch/pytorch/pull/82797 landed into PyTorch core, which adds the functionality to validate if the example in comment is runnable.

However, in the example of PyTorch Core, we normally refer `torchdata` in all examples for the sake of unification of importing path rather than directly importing `DataPipes` from pytorch core. This would cause

[2022-08-16 17:35] ringohoffman opened #737 "Support file mask on list_files_by_s3 like list_files"
### 🚀 The feature

Support a file mask on `list_files_by_s3` just like `list_files` does.

### Motivation, pitch

[code]

is nicer than

[code]

### Alternatives

_No response_

### Additional context

_No response_

[2022-08-16 17:52] ydaiming commented on #735
@ringohoffman
Thanks for identifying the source of this behavior. May I ask you to create a PR based on this please?
Though much less likely, temp files may still replace local files. I'd suggest to prepend a folder name for downloaded data files e.g. `tmp` or `tmp/data`. Thanks.

[2022-08-16 21:41] VitalyFedyunin commented on #648
Looks like our final solution would be to allow `flatmap` to have no-op.
Meanwhile, you can use:
[code]

[2022-08-16 21:42] VitalyFedyunin opened #738 "Allow `flatmap` to have no-op option which will vertically flatten datapipe"
[code]

This feels similar to `unbatch`, but should work with any iterable.

--

Looks like our final solution would be to allow `flatmap` to have no-op.
Meanwhile, you can use:
[code]

_Originally posted by @VitalyFedyunin in https://github.com/pytorch/data/issues/648#issuecomment-1217196626_

[2022-08-16 21:49] VitalyFedyunin commented on #647
Sorry, which colab you are talking about?

[2022-08-16 22:19] VitalyFedyunin opened #739 "`in_batch_shuffle` should respect shuffle settings (on/off and determinism)"
Yeah. This is one of TODOs on top of my lists. I need to align `in_batch_shuffle` with `shuffle` in terms of API.

Edit: `shuffle_setting` should also respect those two types of `DataPipe`.

_Originally posted by @ejguan in https://github.com/pytorch/data/issues/732#issuecomment-1216608149_

[2022-08-17 03:48] #656 closed

[2022-08-17 13:18] ejguan commented on #647
The one in here: https://github.com/pytorch/data#colab

[2022-08-17 19:51] ejguan opened #741 "[Discussion] Snapshot state for DataPipe"
### 🚀 The feature

List the reference of state transition proposal in [the PR](https://github.com/pytorch/pytorch/pull/83535):
- Initial state: `NotStarted`
  - `iter` -> Call `reset` and change the state to `Iterating`
  - [Discuss] serialize/deserialize -> Keep the state as `NotStarted` (will `reset` if `iter` is called afterwards)
- Initial state: `Iterating`
  - `iter` -> Call `reset` and keep

[2022-08-17 22:55] NivekT opened #742 "[Discussion] Is the implementation of `cycler` efficient?"
TL;DR: It seems in most cases users might be better off using `.flatmap(lambda x: [x for _ in n_repeat])` rather than `.cycle(n_repeat)`.

Here is the [implementation](https://github.com/pytorch/data/blob/main/torchdata/datapipes/iter/util/cycler.py), basically `Cycler` reads from the source DataPipe for `n` number of times.

Things to consider:
1. This means repeating certain operations (e.g. rea

[2022-08-17 23:01] NivekT commented on #742
I did some quick profiling and `cycle` is slower for a relatively simple DataPipe.

![Screen Shot 2022-08-17 at 7 01 17 PM](https://user-images.githubusercontent.com/4935152/185258355-165bc027-35e4-432a-a0f1-ad61da60cb3c.png)

[2022-08-18 00:29] NivekT commented on #741
Agree and that has been part of the plan. https://github.com/pytorch/pytorch/pull/79658

That seems reasonable given that this proposal also change the first condition i.e. `NotStarted` -> `NotStarted` in the restoration process.

This might work for now.

It gets trickier when you are restoring the buffers of container DataPipes with children (e.g. `demux`, `fork`). Sometimes one child may reach

[2022-08-18 04:10] wenleix commented on #502
Yeah sounds makes sense to use Arrow memory layout to fetch data from warehouse, for example Snowflakes Python client support fetching result batch as Arrow table: https://docs.snowflake.com/en/user-guide/python-connector-distributed-fetch.html#retrieving-the-list-of-result-batches

[2022-08-18 04:24] wenleix commented on #704
Yeah TorchArrow doesn't support binary type yet. May i ask what's the use case there? (e.g. is the binary data used to represent image or other stuffs that plans to use Tensor, or it's plan to use it as SQL VarBinary? )

[2022-08-18 06:21] dracifer commented on #502
Agree it should be achievable. But in that case, users will use 2 sets of languages (SQL and Dataframe-style) to describe transformation logic? Is it a reasonable user experience?

[2022-08-18 09:10] SaoYear opened #743 "Batcher fails to work after shuffler"
### 🐛 Describe the bug

I found that the batcher fails to work after shuffler/

Example:
[code]

The error is produced by the error handler inside the Batcher.

I change the `__getitem__` to the following (add one more error in exceptations) to fix my problem:

[code]

### Versions

[conda] pytorch-lightning         1.5.10                   pypi_0    pypi
[conda] pytorch-ranger            0.1.1

[2022-08-18 14:26] ejguan commented on #742
I would support this proposal because I believe those two have different use cases. And, python does support such functionality via https://more-itertools.readthedocs.io/en/stable/api.html#more_itertools.repeat_each

BTW, which are you using for profiling? It looks great.

[2022-08-18 14:36] NivekT commented on #742
Adding an operation sounds good. I will probably modify edit the docstrings as well to mention that the other option exists and may be more suitable for some use cases.

I am using [scalene](https://github.com/plasma-umass/scalene) for profiling.

[2022-08-18 14:37] ejguan commented on #743
Could you please try to use `pytorch` nightly release? I believe we have already landed a PR to fix it. https://github.com/pytorch/pytorch/pull/82666

[2022-08-19 16:07] mobikoz commented on #738
Happy to work on it as a newcomer.

[2022-08-19 18:16] NivekT commented on #738
Great! I have assigned it to you and feel free to open a PR and let us know if you have any questions.

[2022-08-22 18:34] josiahls opened #750 "`insert_dp` for adding additional pipes (similar to `replace_dp` and `remove_dp`)"
### 🚀 The feature

Building on [dataloader2.graph.replace_dp](https://github.com/pytorch/data/blob/3a61e76b5db4f7b4544333636da2a71467b30725/torchdata/dataloader2/graph.py#L38) add a `insert_dp` possibly `insert_dpg` (insert a sub graph) functions to insert datapipes into an existing template.

### Motivation, pitch

I want to be able to add a single or a graph of datapipes without replacing the ex

[2022-08-23 13:56] ejguan commented on #750
IIUC, you want to insert a `DataPipe` between two DataPipes. Let's say you want to insert `DataPipe` C between A and B.
Original Graph:
A -> B
Expected New Graph:
A -> C -> B

Does this DataPipe accept an argument of DataPipe? And, the `PassThroughDataPipe` is used as a placeholder to construct `DataPipe` C. I guess the intention is not to get `DataPipe` A. However, we need to find `DataPipe` A an

[2022-08-23 20:24] rehno-lindeque opened #751 "Import of `datasets` pollutes the global namespace"
### 🐛 Describe the bug

In the huggingface iter datapipe a package called `datasets` is imported without any additional qualification.

If you happen to have your own `datasets` package then this will import it. This also causes a circular import if your `datasets` package happens to import `torchdata`. (This was not the case in torchdata `v0.3.0`)

See https://github.com/pytorch/data/blob/bb78231

[2022-08-23 20:52] ejguan commented on #751
First of all, it's fine to have circular import in Python as Python would cache the import result. And, `datasets` is a well-known package provided by huggingface and it's available across [PyPI](https://pypi.org/project/datasets/) and [conda](https://anaconda.org/conda-forge/datasets).

I am wondering whether it introduces any problem you. If so, could you please elaborate how it affects your wor

[2022-08-24 03:40] rehno-lindeque commented on #751
Sure, no problem.

I don't use huggingface at all but I do have a subdirectory called `datasets`

[code]

Importing anything `torchdata.datapipes` from this subdirectory causes an error. (The circular import is a bit of red herring, it's more a case of the incorrect package being imported).

[code]

[2022-08-24 12:31] S-t-e-p-h-a-n opened #752 "Traversal of datapipe graphs broken for pipelines containing SampleMultiplexerDataPipe"
## Issue description

Sharding as well as shuffling an iterable datapipe does not work if the datapipe contains a SampleMultiplexerDataPipe at any point after the ShardingFilter.
The root cause for this is that the graph traversal (torch.utils.data.graph.traverse) called by the DataLoader during apply_sharding() cannot traverse past a SampleMultiplexerDataPipe. The reason for this is that during g

[2022-08-24 18:03] ejguan commented on #751
Could you share a minimum repro example? I can't really reproduce the Error.

[2022-08-24 20:45] ejguan commented on #752
Thanks for pointing out the issue. Will send a patch.

[2022-08-26 20:59] ejguan opened #753 "`to_map_datapipe` doesn't behave lazily loading in multiprocessing"
### 🐛 Describe the bug

At this [line](https://github.com/pytorch/data/blob/719616a1b4791034da3d888357e3ef62c70806e3/torchdata/datapipes/iter/util/converter.py#L118-L119), when it's sent to child process, it will automatically load all data into memory. It leads to multiple problems:
- Data is not lazily loaded. It would take more time and more memory during the construction of multiprocessing
- T

[2022-08-26 21:02] NivekT commented on #550
Fixed by #700

[2022-08-26 21:02] #550 closed

[2022-08-26 21:16] NicolasHug opened #754 "A more powerful Mapper than can restrict function application to only part of the datapipe items?"
We often have datapipes that return tuples `(img, target)` where we just want to call transformations on the img, but not the target.  Sometimes it's the opposite: I want to apply a function to the target, and not to the img.
This usually forces us to write wrappers that "passthrough" either the img or the target. For example:

[code]

Perhaps a more convenient way of doing this would be to implem

[2022-08-26 21:31] NivekT commented on #754
The argument `input_col` should allow you to do that with `map`.
[code]

[2022-08-26 22:24] NicolasHug commented on #754
Thanks @NivekT , I missed that.

Maybe it's a matter of personal preference but I tend to find something like

`map_dict("img"=decode, "target"=make_noisy_label)`

more natural than

`map(decode, input_col="img").map(make_noisy_label, input_col="target")`

and similarly on tuples. I think what unsettles me is the use of  "`col`"  which isn't common in the vision domain. There are no columns in the

[2022-08-26 22:35] NivekT commented on #754
Adding `map_tuple` and `map_dict` should be easy. It will mostly just be wrappers around the existing `map` implementation (i.e. passing `key` of dict to `input_col` and `idx` of tuple to `input_col`).

It is a tradeoff between the cost adding more DataPipes and names for the benefit of slightly more visibility and perhaps more intuitive naming. I would lean towards adding more examples and tutori

[2022-08-27 17:20] josiahls commented on #750
@ejguan I think understand what im trying to do.

I did go ahead and implemented a practical example that ill attach below.

    Does this DataPipe accept an argument of DataPipe? And, the PassThroughDataPipe
    is used as a placeholder to construct DataPipe C. I guess the intention is not to get
    DataPipe A. However, we need to find DataPipe A anyways for the insert_dp function,
    I don't s

[2022-08-28 17:49] DongyuXu77 commented on #737
Hope to work on it as a newbie

[2022-08-29 03:05] DongyuXu77 commented on #753
I'd like to work on this as a newbie

[2022-08-29 17:28] #738 closed

[2022-08-30 03:38] Spartee commented on #711
After talking with @msaroufim I wanted to take a stab at this implementation. Below is the prototype code I put together solely for the purpose of discussion. this uses the ``IterDatapipe`` class but the map one is probably even simpler.

Once we figure out a good strategy for handling some of the design items below I can
- abstract the cache interface
- clean up loose ends like authentication and

[2022-08-30 18:54] msaroufim commented on #754
It feels like we're slowly reinventing https://github.com/more-itertools/more-itertools

Ideally I think we should try to leverage the same API as itertools so users could do something like `from torchdata import itertools` and use those well known APIs. Feels similar to compatibility discussion between PyTorch and numpy https://github.com/pytorch/pytorch/issues/50344

[2022-08-30 18:57] NivekT commented on #742
Closing this as #748 has landed.

[2022-08-30 18:57] #742 closed

[2022-08-30 19:01] NivekT commented on #753
Hi @DongyuXu77,

Feel free to create a PR in `pytorch/pytorch` to fix that. It will need additional unit/integration tests to ensure that the converter behaves lazily in multiprocessing. There should be similar tests in `test_datapipe.py` or `test_dataloader.py` to guide you.

[2022-08-30 21:30] NivekT opened #756 "[RFC] More support for functionalities from `itertools`"
### 🚀 The feature

Over time, we have received more and more request for additional `IterDataPipe` (e.g. #648, #754). Sometimes, these functionalities are very similar to what is implemented in [`itertools`](https://docs.python.org/3/library/itertools.html) and [`more-itertools`](https://github.com/more-itertools/more-itertools).

Keep adding more `IterDataPipe` one at a time seems unsustainable(?

[2022-08-30 21:48] NivekT commented on #754
@msaroufim  I think the API/functionality discussed here is different from `itertools`, but nonetheless I see your point. I just opened #756 to discuss.

[2022-08-31 07:49] DongyuXu77 commented on #753
OK, thank's a lot

[2022-08-31 09:02] NicolasHug commented on #756
Thanks for opening this issue @NivekT !

Regarding coverage I think this is the kind of things you want to figure out organically, mostly driven by user-requests (i.e. option 0 above). If a user comes with a need, hopefully there will already be a nice canonical way to compose a few datapipes to achieve what they want to do. If it's not super easy to invent or discover, it might be worth documenti

[2022-09-01 10:58] rehno-lindeque commented on #751
I just wanted to mention I managed to fix this in my code repo by making sure that my `__main__.py` script was properly separated from my package.

So that datasets would not be `./datasets` relative to the script, and would instead be `../app/train/datasets` relative to the script instead.

It's not my ideal directory structure, but in the end I think it's a python shortcoming rather than somethi

[2022-09-01 10:58] #751 closed

[2022-09-01 22:07] NivekT commented on #756
#757 might allow users to more easily use existing functions from other libraries to compose a IterDataPipe that they would like.

Agree and our team should have a look soon.

[2022-09-01 23:01] rehno-lindeque opened #759 "Ability to specify which aws profile (credentials) to use"
### 🚀 The feature

Provide an argument or environment variable to specify which aws profile in your `~/.aws/credentials` to use.

### Motivation, pitch

I have multiple profiles in my `~/.aws/credentials`, with the format:

[code]

I have this instead of a single default profile:

[code]

If I'm not mistaken I believe there isn't currently a way to specify which non-default profile to use.

### Al

[2022-09-02 18:08] nikvaessen opened #760 "Loading audio files from archives"
### 🐛 Describe the bug

I've been playing around with `torchdata` as a replacement for the `webdataset` library. My main use-case is reading data from network-attached file systems (such as ceph), which implies streaming from e.g. `.tar` files, which is something `webdataset` is designed for.

In the following code I have the following relative file system:

[code]
Where each `.zip` or `.tar` arch

[2022-09-02 18:13] DongyuXu77 commented on #753
I have read the comment carefully, and I need to double-check that the only thing I should do is remove the lines of code mentioned above and add a test unit? I can't figure out a way to get the correct self._map without worker_id in processes.
@NivekT

[2022-09-03 09:16] songyuc opened #761 "Would TorchData provide GPU support for loading and preprocessing images?"
### 🚀 The feature

Would TorchData provide GPU support for loading and preprocessing images?

### Motivation, pitch

When I am learning PyTorch,  I find, currently, it do not support using GPU to load images or any other transforms of preprocessing and encoding data.
I want to know whether this would be taken into consideration into the design of TorchData.

### Alternatives

Currently, NVIDIA-DAL

[2022-09-05 06:21] nikvaessen commented on #760
I've also tried the `soundfile` backend. Soundfile can read the `.flac` files correctly from the stream, but also fails when we call `info()` on the stream before `load()`.

[2022-09-05 10:57] DongyuXu77 commented on #589
I could add the shuffle test when I  fix the #753

[2022-09-06 10:35] msaroufim commented on #761
Hi @songyuc this is something I'm working on and will keep you posted on plans

[2022-09-06 11:04] NicolasHug opened #762 "Allow Header(limit=None) ?"
Not urgent at all, just a minor suggestion:

In the benchmark scripts I'm currently running I want to limit the number of samples in a data-pipe according to an `args.limit` CLI parameter. I'd be nice to be able to just write:

[code]

and let `Header` be a no-op when `limit=None`. This might be a bit niche, and the alternative is to just protect the call in a `if` block, so I would totally unders

[2022-09-06 11:09] songyuc commented on #761
I am looking forward to your contribution sincerely🥳

[2022-09-06 11:11] msaroufim commented on #711
Hi @Spartee thank you for your patience here are my thoughts

Overall I think a PR doing what you describe should be pretty easy to merge with the value being that a Redis cache is yet another data source that anyone could leverage

Regarding some of your specific design questions
1. cached_elements is a good idea, although I wonder is it common for people to use Redis caches for more than one use

[2022-09-06 14:31] ejguan commented on #756
I generally have concern on the snapshotting with `itertools` as it heavily uses generator function that won't be serializable. What's your opinion since you might have better knowledge on snapshotting?

From API perspective, as we started torchdata, we kind tried our best to mimic the api toward `itertools` to reduce friction and we should continue to maintain it this way.

[2022-09-06 15:28] ejguan commented on #711
@Spartee Thank you for putting up a prototype! Here are my thoughts.

Aside from `optimize retrieval`, we might be able to provide multiple-layer `cache` to reduce cach miss. For `redis` example, `cached_elements` is used to define the cache size. When we runs out of `cache`, we might fall back to the another layer of `cache` (maybe by default use a on-disk file - this might need the format discus

[2022-09-06 15:35] ejguan commented on #750
Sounds like a reasonable request. Do you want to open a PR to append it to the in-line doc [here](https://github.com/pytorch/data/blob/61bab053dd408cea4ee832c70d2ab6fb84e4151a/torchdata/dataloader2/graph.py#L39-L42)?

I will open another issue regarding our online doc.

[2022-09-06 15:37] ejguan opened #763 "Online doc for DataLoader2/ReadingService and etc."
### 📚 The doc issue

As we are preparing the next release with `DataLoader2`, we might need to add a few pages for `DL2`, `ReadingService` and all other related functionalities in https://pytorch.org/data/main/

- [ ] DataLoader2
- [ ] ReadingService
- [ ] Adapter
- [ ] Linter
- [ ] Graph function
- [ ]

### Suggest a potential alternative/fix

_No response_

[2022-09-06 16:06] NivekT commented on #763
Potential duplicate issues of:
* #649
* #655
* #661

We should keep one and close the other ones?

[2022-09-06 17:57] #362 closed

[2022-09-06 18:23] Spartee commented on #711
Happy to! Some responses

I think it's most common to have one cache per application, but I have seen some places where a number of microservices use the same cache for a number of purposes (pubsub/brokering/caching). whatever we decide here should be well documented. I lean towards a more "hands off" approach here as the size checks would need to occur regularly on the client side which, under lo

[2022-09-07 23:15] NivekT commented on #756
That's a valid concern. I believe if the function is stateless (i.e. the next output only depends on the next input) then it is fine.

Otherwise, it will have to fall back onto naive snapshot restoration (i.e. counting the number of elements yielded).

[2022-09-08 06:54] pmeier commented on #756
I don't think the proposal was ever to wrap `itertools` inside the pipes, but rather to mirror the functionality and naming. So if the function is indeed stateless, we can use `itertools`, but otherwise nothing stops us from implementing the functionality ourselves. cc @NicolasHug

[2022-09-08 11:56] quancs opened #766 "Shuffler inside a Zipper only shuffle some elements"
### 🐛 Describe the bug

`d1` and `d2` have different length, `d3` is a zipper contains them.

[code]

The results:
[code]
As we can see, the results of 10 runs only contain partial elements of `d2`.

### Versions

Collecting environment information...
PyTorch version: 1.12.1
Is debug build: False
CUDA used to build PyTorch: 11.6
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.4 LTS (x86_64)
GCC

[2022-09-08 12:08] quancs commented on #766
Iterable Shuffler with Zipper for datapipes with different length works right. Seems it's only the problem of map Shuffler and Zipper

[2022-09-08 12:25] quancs opened #767 "Caught IndexError in DataLoader worker process 0."
### 🐛 Describe the bug

The following code raises an Exception.

[code]

### Versions

Collecting environment information...
PyTorch version: 1.12.1
Is debug build: False
CUDA used to build PyTorch: 11.6
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.4 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-6ubuntu2) 7.5.0
Clang version: Could not collect
CMake version: version 3.16.3
Libc version: glibc-2.31

[2022-09-08 14:40] ejguan commented on #760
Based on the traceback, I think it's about how does `torchaudio` expect the input type. It would be easier for us to understand the functionality of `tab.load`. Does it support loading inner file streams from `tar`? cc: @mthrok

Regarding your comment about seekable, at least tar file stream should be seekable. So, I assume this won't be the root cause.

As a workaround, could you read data from t

[2022-09-08 14:51] ejguan commented on #767
There are two problems in your script.

1. `a` should use integer rather than string as the index. `a = dp.iter.IterableWrapper([0, 1, 2, 3])`
2. The input order of `Zipper` should be flipped to make sure the index is at the first place. `c = dp.iter.Zipper(a, b).to_map_datapipe()`

You can iterate the datapipe before `to_map_datapipe` to validate the result.

I am closing this issue as it should

[2022-09-08 15:07] ejguan commented on #711
Here are some references. [`DataLoader2`](https://github.com/pytorch/data/blob/86df1a09c0f649aca195a233508669de35b8623b/torchdata/dataloader2/dataloader2.py#L116-L117) would rely on `MultiprocessingReadingService` to spawn processes.
https://github.com/pytorch/data/blob/86df1a09c0f649aca195a233508669de35b8623b/torchdata/dataloader2/reading_service.py#L147-L166

The datapipe should be automatically

[2022-09-08 15:11] quancs commented on #766
Great! Thank you.

[2022-09-08 21:20] nikvaessen commented on #760
Thanks for your comment.

Your code sample throws the following errors:

(for wav)
[code]

(for flac)
[code]
However, simply using `stream.seek(0)` between `tab.info()) and `tab.load()` solves the issue for both `TarArchiveLoader` and `ZipArchiveLoader`. It this something which is worth documenting?

Moreover, loading `.flac` files remains an issue for the `sox_io` backend. But I think that seems

[2022-09-08 23:57] mthrok commented on #760
`info` consumes some bytes from file-like object, so it calling `load` after that would fail without reseting the position of the input file object.

There are reports filed recently on file-like object loading of FLAC format. I haven't looked into the detail yet, but meanwhile I think ffmpeg-based solution could work. Can you tell what happens if you replace `load` function with `torchaudio.io._c

[2022-09-09 07:12] nikvaessen commented on #760
Replacing `load` with `torchaudio.io._compat.load_audio_fileobj` results in the flac stream correctly loading.

[2022-09-09 07:15] nikvaessen commented on #760
Similarly, replacing `info` with `torchaudio.io._compat.info_audio_fileobj(stream, format='flac')` results in the flac stream info correctly loading.

[2022-09-09 23:35] #519 closed

[2022-09-13 16:58] josiahls commented on #750
@ejguan I'm happy to! I'll try to get a pr made later this week hopefully

[2022-09-13 21:18] #718 closed

[2022-09-13 21:20] ejguan commented on #752
Re-open as the PR has not been landed yet.

[2022-09-14 14:18] ejguan opened #772 "Unavailable Distributed Store for MPI backend"
### 🐛 Describe the bug

We previously land a change to make DataLoader to communicate across distributed processes to share the random seed per epoch. However, I just found distributed store is not available when `mpi` backend is used.

https://github.com/pytorch/pytorch/blob/706b99030656c573619cebaa3be9298a575fc776/torch/utils/data/dataloader.py#L574

To fix that, we should convert the distribute

[2022-09-14 14:19] ejguan commented on #739
Closing this issue as both https://github.com/pytorch/pytorch/pull/83741 and https://github.com/pytorch/data/pull/745 are landed.

[2022-09-14 14:19] #739 closed

[2022-09-15 02:58] DongyuXu77 commented on #589
Is anyone take it? Maybe I could work on it

[2022-09-15 13:13] ejguan commented on #589
@DongyuXu77 Thank you for asking. This is actually blocked by determinism support for DataLoader2, which I am currently working on.
I will assign the Issue to myself.

[2022-09-15 13:44] DongyuXu77 commented on #589
Oh, thanks to your reply

[2022-09-15 18:27] #753 closed

[2022-09-16 14:01] ejguan opened #775 "Failing CI tests on MacOS with Python 3.10 caused by protobuf"
### 🐛 Describe the bug

The nightly builds were failing during the last two days caused by an update from protobuf.
See:
https://github.com/pytorch/data/actions/runs/3059924230/jobs/4937858576#step:13:272

This is caused by the issue from https://github.com/protocolbuffers/protobuf/issues/10571

### Versions

main branch

[2022-09-16 15:43] ejguan opened #778 "Failing AIStore CI"
### 🐛 Describe the bug

See the example [log](https://github.com/pytorch/data/actions/runs/3068818736). The AIStore tests are failing on MacOS.
It seems that there is an undefined variable from `github.com/NVIDIA/aistore v0.0.0-20220915224653-1741e9446349`. @gaikwadabhishek  Do you know if there is a proper way to fix it?

### Versions

main branch

[2022-09-16 17:18] #775 closed

[2022-09-16 18:28] DongyuXu77 commented on #613
Is anyone working on it? I could take it if it isn't

[2022-09-17 04:49] kiukchung opened #779 "Include `py.typed` marker file for mypy type hint compatibility"
### 🚀 The feature

From what I can tell torchdata actually had type stubs but mypy won't pick it up because it is missing the `py.typed` marker file (see: https://mypy.readthedocs.io/en/stable/running_mypy.html#missing-library-stubs-or-py-typed-marker)

The ask is to add `py.typed` to the package data similar to how [torch does it](https://github.com/pytorch/pytorch/blob/d05a11337c8aafb663ca3b2972

[2022-09-19 13:28] ejguan commented on #779
Sounds like a reasonable request. Sending a patch shortly.

[2022-09-19 17:48] ejguan commented on #778
Closing as it seems the Error is automatically fixed after aistore's update

[2022-09-19 17:48] #778 closed

[2022-09-19 18:15] gaikwadabhishek commented on #778
sorry for the late reply @ejguan. The team of AIStore took care of the issue. Thanks

[2022-09-19 19:42] rehno-lindeque opened #781 "CacheHolder buffer size limited to 1000"
### 🐛 Describe the bug

The `.on_disk_cache()` data pipe uses `.demux()` under the hood with a default `buffer_size` of 1000.

Unfortunately this appears to break when the source datapipe has more than 1000 elements. See https://github.com/pytorch/data/blob/v0.4.1/torchdata/datapipes/iter/util/cacheholder.py#L251-L260

For example, to reproduce something like this should show the problem:

[code]

[2022-09-19 19:50] ejguan commented on #781
Thank you for opening the issue. The reason that `demux`'s buffer blows up because we will yield cached data first then `todo`. See: https://github.com/pytorch/data/blob/983e87ada583b7a58d13a1a5f047dd9d256155dd/torchdata/datapipes/iter/util/cacheholder.py#L424

However, it seems weird to me to change the order to yield data from `todo` then `cached`. A proper solution might be adding an argument t

[2022-09-19 20:50] ejguan commented on #163
Another Misc tracker:
| Name | Module | Deprecation Version | Status | Earliest Removal Version
| ------------- | ------------- | ------------- | ------------- | ------------- |
| torch.utils.data.graph.traverse | Core | 1.13 | Deprecating | 1.14 / 2.0 |

[2022-09-19 23:08] kiukchung commented on #779
Awesome, I can confirm mypy is able to get type hints for torchdata from my project. Will depend on the nightly until a dot release. Any ideas on when 0.4.2 will be released?

[2022-09-20 02:50] rehno-lindeque commented on #781
Personally I think I would expect caching to be FIFO with respect to the source datapipe, in order to be as deterministic as possible.

In other words, if the cache can cause data in the pipe to re-order as a side-effect, then surely this harms reproducibility. (I.e. the current run can be affected by a previous run if the data happens to still be present on disk)

(Instead of `demux`, maybe a sum

[2022-09-20 14:17] ejguan commented on #781
Agree. Will take a look later today

[2022-09-20 16:23] ejguan opened #782 "Definition of `IterDataPipe` in `pyi` file breaks inheritance path"
See comments in https://github.com/pytorch/data/pull/780

@pmeier
At list for the first Error, the proper typing should be:
[code]

However, even with the proper typing shown above, the Error is changed to `Incompatible types in assignment (expression has type "FileListerIterDataPipe", variable has type "IterDataPipe[Any]")`. And, it doesn't explain what causes the second Error.
So, I spent a few

[2022-09-20 16:25] rehno-lindeque commented on #781
Thank you, I appreciate the support!

[2022-09-20 16:58] ejguan commented on #782
In order to fix this problem, we have to find a way to extend the existing `IterDataPipe` with all functional APIs rather than re-defining a new `IterDataPipe` in the interface file.

[2022-09-20 18:08] NivekT commented on #782
Does that metaclass have the exist in Core?

[2022-09-20 18:11] ejguan commented on #782
What do you mean? I assume `metaclass` is able to directly attach those functional API to the class. But, I have never tested it.

[2022-09-20 20:57] ejguan commented on #781
Did a quick research and it looks doable by adding a DataPipe to join two DataPipe with a `key_fn` should do the job. And, it does require some changes in CacheHolder.

[2022-09-21 05:36] DongyuXu77 commented on #737
Does anyone work on it? If it isn't, I could take it

[2022-09-21 14:00] ejguan commented on #737
Feel free to open a PR

[2022-09-22 15:02] #752 closed

[2022-09-23 06:43] saicoco commented on #760
Maybe you can try this`stream.file_obj.read()` to get bytes:
[code]

[2022-09-24 22:42] nikvaessen opened #788 "MaxTokenBucketizer does not guarentee `max_token_count` holds if padding is used"
### 🐛 Describe the bug

The  `MaxTokenBucketizer` data pipe should probably be aware whether users will pad the resulting list of data to equal length.  As the description gives an example in the audio domain, where padding is frequently used to create a batch of equal length sequences, users will probably run into edge cases where the current behavior will create OOM errors.

For example, assume

[2022-09-26 14:38] ejguan commented on #788
I am a little confused here. When input is `[100, 10, 10, 10, 100]` with `max_token_count=150`, I would expect the result is `[100, 10, 10, 10]` and `[100]`. If you want to make batches as `[100], [10, 10, 10], and [100]`, why not to set `max_token_count=100`.

And, could you please clarify why OOM would happen without your proposed `padded_tokens`?

[2022-09-26 15:04] nikvaessen commented on #788
I can sketch the following scenario:

The librispeech dataset has audio files with lengths varying from 1 second (16_000 tokens) to 30 seconds (480_000 tokens), with a mean of 12 seconds. When creating batches of training data, each audio sequence needs to be padded to the longest sequence in the batch. We can use the `MaxTokenBucketizer` to create batches with at most `x` tokens. When reproducing

[2022-09-26 19:35] weiji14 opened #792 "Missing docstring of IterDataPipes in functional form"
### 🐛 Describe the bug

When using an IterDataPipe in their functional form as recommended in https://pytorch.org/data/0.4/torchdata.datapipes.iter.html#torchdata.datapipes.iter.IterDataPipe, users have to write something like `dp.batch(...)`. However, when looking at the docstring or function signature, it doesn't show any of the possible keywords arguments such as `batch_size`, `drop_last`, etc,

[2022-09-26 19:41] ejguan commented on #792
@weiji14 Wondering have you tried to use `functools.wraps` to see if this works or not?

[2022-09-26 19:47] weiji14 commented on #792
No, `functools.wraps` won't work because 1) it's only for wrapping Python functions, but IterDataPipe is a class, and 2) It gets circular if we try to wrap the class as it is being defined...

A bit of searching led me to https://stackoverflow.com/questions/6394511/python-functools-wraps-equivalent-for-classes, but it looks a bit complicated :sweat_smile:

[2022-09-26 20:46] ejguan commented on #788
I see. Then, a `padden_tokens` is not enough to support this feature. An option to specify the total padded length for a batch would be a better option. And, this number seems always larger than `max_token_count`. It looks more reasonable to me to add another DataPipe for your specific use case rather than using the `MaxTokenBucketizer`. WDYT?

[2022-09-26 21:33] nikvaessen commented on #788
Do you mean that the padding should be done within (a new version of) `MaxTokenBucketizer`? I think it is reasonable to have the resulting output (with `padden_tokens=True` if your use-case desires it) be passed through `Collator` to create a batch of the output list.

[2022-09-27 21:37] msaroufim opened #794 "Does torchdata already work with GCP and Azure blob storage"
### 🚀 The feature

We already have an S3 integration and it seems like the S3 API already works with both
* Azure: https://devblogs.microsoft.com/cse/2016/05/22/access-azure-blob-storage-from-your-apps-using-s3-api/
* GCP: https://vamsiramakrishnan.medium.com/a-study-on-using-google-cloud-storage-with-the-s3-compatibility-api-324d31b8dfeb

### Motivation, pitch

So ideally we can already support A

[2022-09-28 11:43] philip-bl opened #795 "KeyError when wrapping a dict with a SequenceWrapper"
### 🐛 Describe the bug

I get the following errors.

[code]

I expect them to return `(100, 200, 300, 400)` and `("100", "200")`, respectively, instead.

### Versions

torchdata 0.4.1

[2022-09-28 13:20] philip-bl opened #796 "The Sampler datapipe produces indices instead of the actual data."
### 🐛 Describe the bug

[code]

produces three numbers from the 0..99 range, e.g. `(11, 27, 15)`, but I expect it to produce three numbers from the 1000..1099 range.

### Versions

torchdata 0.4.1

[2022-09-28 13:33] ejguan commented on #795
Can I know what is the use case?
You can do `tuple(SequenceWrapper(...). to_iter_datapipe(indices=[...]))`

[2022-09-28 13:40] ejguan commented on #796
This is the expected behavior of `Sampler`.
And, for `IterDataPipe`, since there is no random-accessing pattern. To get sample data, you should do:
[code]

[2022-09-28 13:40] #796 closed

[2022-09-28 13:55] ejguan commented on #794
Technical speaking, with `fsspec`-DataPipe, torchdata has already working with cloud vendors.
- AWS: https://github.com/fsspec/s3fs
- Azure: https://github.com/fsspec/adlfs
- GCP: https://github.com/fsspec/gcsfs

[2022-09-28 15:20] msaroufim commented on #794
Have you by any chance observed any perf impact from using fsspec vs the S3 integration. If not then agreed fsspec is a good option and we just need to spend some time authoring a tutorial

[2022-09-28 18:57] ejguan commented on #794
After the observation on the performance regression last time, I didn't get a chance to take a deeper look at the culprit. But, discussed with @ydaiming earlier, and he claimed that S3 integration works better on archive files but not on small pieces of files compared to `boto3` (`boto3` is the internal implementation of `fsspec`).

Overall, in some cases, `fsspec` does provide benefit to our user

[2022-09-28 19:03] ejguan commented on #788
NVM. Let's add this argument to the `DataPipe`. I will review your PR shortly.

[2022-09-28 19:38] ejguan commented on #788
Another question. Does this feature request also needs data will be batched starting from shorter data to longer data. Let's say you have [100, 10, 10, 10, 100] as input with `max_token_count`. The actual result will be `[10, 10, 10], [100], [100]`. This would guarantee that data with closer length within the buffer will be aggregated into a batch.

[2022-09-28 19:49] nikvaessen commented on #788
I think ideally, you would solve a knapsack-like problem to create a batch with largest length from the items in the buffer (and thus get the batch with the least amount of padding possible). But I'm not sure how much that actually matters in practice, and whether the extra complexity would be worth it.

I think the current behavior, with taking the smallest samples from the buffer, is fine.

[2022-09-28 19:53] nikvaessen commented on #788
Although, perhaps it might be worth it to consider randomly filling the batch instead of using the smallest tokens, to increase the randomness of the generated batches. Or instead of starting at index 0 of the heap (the smallest index), take a random index `i`, between 0 and len(buffer), and fill the batch with samples `i, i+1, ...` until the batch would exceed `max_token_count`. If `i` reaches `l

[2022-09-28 20:06] ejguan commented on #788
IMHO, taking the smallest is equivalent to taking the largest from the buffer in terms of minimizing padding.

I think it makes this DataPipe too complicated. Users should be able to achieve the similar result by using a smaller `buffer_size` and doing `shuffle` before and after this operation to achieve the similar result.

[2022-09-28 20:09] nikvaessen commented on #788
I agree. But perhaps worth to document this in the PR.

[2022-09-28 21:50] NivekT opened #799 "AWS S3 DataPipe doesn't terminate when used with `.load_from_tar(mode="r|")`"
### 🐛 Describe the bug

Note this issue only occurs when `mode="r|"`, not when it is `mode="r:"`.

Sample code:
[code]
Not sure if `mode="r|"` is incompatible with S3 DataPipe/SDK or there is something off with our implementation.

### Versions

main branch

cc: @ejguan

[2022-09-28 22:19] NivekT commented on #794
I am going to take a quick look into `fsspec` vs `s3` performance in my benchmark

[2022-09-29 16:05] ejguan commented on #799
Here are what I have found regarding S3Handler:

Originally I was expecting the returned stream from `S3handler` is non-seekable stream. But, it turns out that the whole archive/files will be dumped into memory based on the implementation here:
- C++ side: https://github.com/pytorch/data/blob/a435c7f5f7543e3614130eb2ecee520396b8efd2/torchdata/csrc/pybind/pybind.cpp#L28
- Python side: https://githu

[2022-09-29 18:13] NivekT commented on #799
The main branch is fine. The root cause is [here](https://github.com/pytorch/data/pull/764/files#diff-66cd262a8255d300ebf9545d21252142f118900419f78241d76733448d0d64c5).

[2022-09-29 18:13] #799 closed

[2022-09-29 18:22] ejguan opened #800 "[Experiment] Make S3Handler.s3_read return a stream rather than bytes"
Originally I was expecting the returned stream from `S3handler` is non-seekable stream. But, it turns out that the whole archive/files will be dumped into memory based on the implementation (I might be wrong about it then I need someone to validate it)
- C++ side: https://github.com/pytorch/data/blob/a435c7f5f7543e3614130eb2ecee520396b8efd2/torchdata/csrc/pybind/pybind.cpp#L28
- Python side: https

[2022-09-29 18:37] ejguan commented on #800
And, there is a use case that might affect the performance on S3FileLoader.
If I do `tarfile.open(fileobj=s3_stream_returned_from_s3fileloader, mode=m, bufsize=20000000240)`, the speed with mode `r:` is way faster than the mode `r|`

[2022-09-29 18:38] ejguan commented on #800
cc: @ydaiming for confirmation about the files are dumped into memory rather than streaming from `S3Handler.s3_read`. And, do you want to see if there will be benefit to revamp it to an iostream?

[2022-09-30 15:30] NivekT commented on #794
My benchmark shows that using `FSSpecFileOpener` is faster and it also provides the ability to stream (rather than downloading a whole archive into memory before reading).

[2022-09-30 15:33] ejguan commented on #794
Our benchmarking results shows even for archives (large files) `fsspec` performs better than the current implementation of S3Handler. I suspect this is caused by the downloading behavior. See: https://github.com/pytorch/data/issues/800
cc: @ydaiming

[2022-09-30 19:36] #788 closed

[2022-10-03 18:15] NivekT opened #802 "Add support for `kwargs` in S3 DataPipes"
### 🚀 The feature

`S3FileLister` and `S3FileLoader` currently doesn't support keyword argument beyond `request_timeout_ms`, `region`, `buffer_size`, and `multi_part_download`. Th

One example is [here](https://discuss.pytorch.org/t/bucket-versioning-using-s3fileloader/162699/2), where a user would like to read a specify version of the bucket. I imagine there are similar parameters that users may

[2022-10-03 18:25] NivekT opened #803 "Add support for `kwargs` for `.open()` within `fsspec` DataPipes"
### 🚀 The feature

Currently, `kwargs` is only being passed to `fsspec.core.url_to_fs()` to establish a connection with a storage. This feature will allow users to pass `kwargs` for `fs.open()` or `fs.list()`, which will specify the interaction with `fs` after the connection is established.

### Motivation, pitch

Many specific parameters (such as accessing a certain version) are not passed during

[2022-10-03 18:26] NivekT commented on #803
I will take a first stab at this.

[2022-10-04 13:49] ejguan commented on #438
Closing as it has been solved

[2022-10-04 13:49] #438 closed

[2022-10-04 15:45] ejguan commented on #155
This is done by the test of traverse function

[2022-10-04 15:45] #155 closed

[2022-10-04 16:46] ejguan opened #805 "[v0.5.0] Release Tracker"
### 🚀 The feature

We cut a [release branch](https://github.com/pytorch/data/tree/release/0.5) for the 0.5.0 release at the same time with PyTorch.

## Cherry-pick (until TBD)
We will keep cherry-picking all PRs landed to main branch until PyTorch 1.13.0 official released.
When you add PR against release branch, please link the landed PR from main branch.

RC-release can be found in https://downlo

[2022-10-04 20:35] NivekT opened #806 "`PrototypeMultiProcessingReadingService` does not properly terminate on MacOS"
### 🐛 Describe the bug

Running the code snippet below in MacOS will print the correct values but will not automatically terminate afterwards without manual interruption. I don't think it is related to the recent prefetch update.

[code]

Trace:
[code]

### Versions

main

cc: @VitalyFedyunin

[2022-10-05 15:21] ejguan commented on #802
And, with your PR https://github.com/pytorch/data/pull/804, it should become doable for users.

[2022-10-05 15:50] #803 closed, assigned to nobody

[2022-10-07 14:11] ejguan commented on #805
Cherry-picking PRs for the week of Oct 3rd:
- [ ] https://github.com/pytorch/data/pull/804

[2022-10-11 20:06] ejguan opened #820 "Invalidate `DataLoader2Iterator` would potentially violate other iterators by `finalize_iteration` reading service"
### 🐛 Describe the bug

We do `finalize_iteration` when `__next__` is called for the invalid `DataLoader2Iterator ` (let's call it Iter_A):

https://github.com/pytorch/data/blob/c42587a828d05f24f6f0586d17d3e9d55e1433ed/torchdata/dataloader2/dataloader2.py#L67-L68

However, as a new `DataLoader2Iterator` (Iter_B) has been created and the same `ReadingService` has already called `initialize` here:
h

[2022-10-11 20:21] ejguan opened #821 "`DataLoader2.shutdown` should guarantee `finalize_iteration` is called for `ReadingService`"
### 🐛 Describe the bug

Per title:
https://github.com/pytorch/data/blob/c42587a828d05f24f6f0586d17d3e9d55e1433ed/torchdata/dataloader2/dataloader2.py#L176-L183

Even though the `ReadingService` should guarantee the `finalize_iteration` called in `finalize`, it's better to guard this behavior in `DataLoader2` as well.

### Versions

main branch

[2022-10-11 21:26] NivekT commented on #820
I think the solution might be:
1. Call `finalize_iteration` within `DataLoader2`'s `__iter__` or `DataLoader2Iterator`'s `__init__` to ensure that, if there is an existing RS reading through, that gets terminated properly
    - Thoughts on whether this is necessary?
3. We still should check when `__next__` is called whether the iterator is valid, otherwise we can't know?
4. When the iterator is in

[2022-10-11 22:30] ejguan commented on #820
Thinking a little bit on those options. I think the only possible solution might be always calling `finalize_iteration` before `initialize_iteration` in `DL2`'s `__iter__`. In the following case with the current implementation:
[code]
So, it might be better to call `finalize_iteration` if `initialize_iteration` has been called before

[2022-10-11 22:55] VitalyFedyunin commented on #821
In addition to it, DLv2 should guarantee that `finalize` of `ReadingService` is called, even if Exception raised during iterations.

[2022-10-11 23:23] NivekT commented on #820
Agree with that.

[2022-10-12 01:17] ejguan commented on #805
Cherry-picking PRs for the week of Oct 10th:

- [ ] https://github.com/pytorch/data/pull/786
- [ ] https://github.com/pytorch/data/pull/817
- [ ] https://github.com/pytorch/data/pull/818

[2022-10-12 16:23] NivekT opened #825 "`DataLoader2` does not properly reset iterator when using `PrototypeMultiprocessingReadingService` and prefetch"
### 🐛 Describe the bug

Vision team reported this behavior on Linux

[code]

### Versions

https://github.com/pytorch/data/pull/815

cc: @VitalyFedyunin

[2022-10-13 03:24] Atharva-Phatak commented on #761
@msaroufim I am interested to help you out if its possible. Seems pretty useful :). Let me know if I can do anything here.

[2022-10-14 08:41] ling0322 opened #831 "document of parameter buffer_size in MaxTokenBucketizer is wrong"
According to the document [MaxTokenBucketizer](https://pytorch.org/data/main/generated/torchdata.datapipes.iter.MaxTokenBucketizer.html#torchdata.datapipes.iter.MaxTokenBucketizer)
buffer_size – This restricts how many **tokens** are taken from prior DataPipe to bucketize

However, in the code, [bucketbatcher.py#L277](https://github.com/pytorch/data/blob/84587ff57575fd47fcae61635a3f4ffc1e639941/to

[2022-10-14 12:54] ejguan commented on #831
Thanks for reporting it. Feel free to open a PR to fix the inline doc.

[2022-10-14 18:29] ejguan commented on #806
If you call `dl.shutdown()` at the end, is the problem still persistent?

[2022-10-14 22:01] ejguan commented on #805
Cherry-picking PRs for the week of Oct 17th:

[2022-10-17 17:36] #831 closed

[2022-10-17 21:49] NivekT commented on #806
I can confirm that it does fix it. I think the issue is that `reading_service.finalize()` never get called for PrototypeRS, such that `process.join()` isn't called and it hangs.

I have considered calling `process.join()` in `finalize_iteration()` but that is not a good option.

[2022-10-18 13:41] ejguan commented on #806
What we might be able to do is to register all cleanup functions to 'atexit'. This technically should guarantee cleanup functions called before Python exits.

[2022-10-18 23:38] #806 closed

[2022-10-19 08:04] sgrigory opened #840 "File paths get duplicated by `list_files_by_fsspec` pipeline if folder path starts with `az://`"
### 🐛 Describe the bug

## Context
For reading files from Azure Blob storage Gen2, `fsspec` [allows both path prefixes `abfs://` or `az://`](https://github.com/fsspec/adlfs/blob/f15c37a43afd87a04f01b61cd90294dd57181e1d/README.md?plain=1#L33) as synonyms. Paths starting `abfs://` work fine for us, but paths starting with `az://` result in duplicated output when passed to `list_files_by_fsspec` pipe

[2022-10-19 13:08] ejguan opened #841 "Failing DataLoader2Integration Test"
### 🐛 Describe the bug

After my [PR](https://github.com/pytorch/data/pull/827) is landed, the nightly releases become broken. See https://github.com/pytorch/data/actions/runs/3281029405

- [x] Fix the test
- [x] Investigate why the test is failing but succeeded on PR. And, the integration test is unrelated to my PR
### Versions

main branch

[2022-10-19 13:44] ejguan commented on #841
Found the culprit https://github.com/pytorch/pytorch/pull/87017/files
We should check `isinstance(datapipe, (MapDataPipe, IterDataPipe))`. Sending a fix now

[2022-10-19 15:48] ejguan commented on #772
Closing as we are not using process group rather than distributed store

[2022-10-19 15:48] #772 closed

[2022-10-19 15:51] ejguan commented on #589
Tests are completed. But, I still need to remove the `TODO` comment in the test

[2022-10-20 06:14] diggerk commented on #567
It's really a deficiency of `torchdata`. It seems `/etc/pki/tls/certs/ca-bundle.crt` is the default location on RedHat, but on Debian/Ubuntu it's `/etc/ssl/certs/ca-certificates.crt`. As I understand, `S3Handler.cpp` should really configure the AWS client properly depending on the system it's running on, see a related discussion at https://github.com/aws/aws-sdk-cpp/issues/1863.

Shouldn't this be

[2022-10-20 14:05] ejguan commented on #841
Closing this issue as the fix has been landed.

[2022-10-20 14:05] #841 closed

[2022-10-20 14:37] ejguan commented on #567
@MatthewCaseres @diggerk
Would this tutorial help you as we do have `fsspec` as an alternative path to load from S3?
https://pytorch.org/data/beta/tutorial.html#working-with-cloud-storage-providers

[2022-10-20 16:51] ejguan commented on #805
Special cherrypick:
We want to cherrypick https://github.com/pytorch/data/pull/810, needs confirmation from torchtext https://github.com/pytorch/text/pull/1942

[2022-10-20 17:49] NivekT commented on #712
Yea let's close this. Thanks!

[2022-10-20 17:49] #712 closed

[2022-10-20 17:52] NivekT commented on #794
Since #812 and #836 have landed, I believe users should be able to use GCP and Azure Blob storage. Please feel free to re-open this issue or open a new issue if additional features are required. Thanks!

[2022-10-20 17:52] #794 closed

[2022-10-20 19:07] rsokl opened #844 "`import torchdata`: `GLIBC_2.29' not found"
### 🐛 Describe the bug

OS: Ubuntu 18.04.6 LTS

[code]

When I attempt to run

[code]

I get:

[code]

### Versions

[code]

[2022-10-20 19:34] NivekT commented on #844
I think you need to install/update the C compiler (for example, `gcc`). Is it possible for you to do that?

cc: @ejguan

[2022-10-20 19:37] rsokl commented on #844
I don't think it is possible on 18.04.6

[2022-10-20 20:01] ejguan commented on #844
Try `pip install torchdata` as well. We do have manylinux2014 which should provide minimum `GLIBC_2.27`

[2022-10-21 00:30] #625 closed

[2022-10-21 14:41] mabu-github commented on #762
I had a quick look at it and during the implementation noticed the following: it is probably more appropriate to leave it up to the caller to determine whether to limit the elements (using `Header`) or not (using the source datapipe without wrapping it into `Header`).

Using Header is an operation that needs a limit. Otherwise the `__len__` function is undefined for the case of an unbounded source

[2022-10-21 14:45] mabu-github opened #848 "[RFC] Verify that the docs contain working code and self-contained examples using doctest"
### 🚀 The feature

Currently there does not seem to be an automatic way to verify that the examples in the documentation are actually working. This leads to issues like (https://github.com/pytorch/data/issues/433).

An example should also be complete enough so that developers can easily try out the code.

A solution could be to use the sphinx doctest extension to test the documentation before buil

[2022-10-21 14:47] ejguan commented on #762
This is true for the case that the whole pipeline is created by users. There can be a case that domain library provides a pre-assembled pipeline with a `Header` that can limit the length. When users don't want to use it, it should be feasible to reset it back to no-op.

[2022-10-21 14:51] ejguan commented on #848
Thanks for opening this RFC. I do have a prior issue related to this [here](https://github.com/pytorch/data/issues/736).

For TorchData, we should definitely add the similar strategy as well.

This points to a link to open PR against your branch. Do you mind opening a PR directly?

[2022-10-21 15:07] mabu-github commented on #762
Do you have a code example for that case? It might be worth investigating a bit into the context for a better understanding.

Generally one wants to avoid opening up the possibility to construct an instance in a way that leads to undefined behavior. Maybe there are options like differentiating between pipelines that do not have or require a length and ones that do. Then correctness could be ensure

[2022-10-21 15:16] ejguan commented on #762
Here is a similar example of `shuffle`.
https://github.com/pytorch/text/blob/2978507775283859e0519bbbd8e25527428d9a12/torchtext/datasets/ag_news.py#L41-L81

The pipeline provided from torchtext has shuffle disabled. Users can specify if they want to shuffle by giving an adaptor to `DataLoader2`.

[code]
I would expect users having the similar way to specify `Header` as well

[2022-10-21 16:03] #821 closed

[2022-10-21 19:59] ejguan commented on #805
Backward cherrypick: https://github.com/pytorch/data/pull/853

[2022-10-21 23:40] rsokl commented on #844
Thanks! Mainly just wanted to let you know about this as a potential issue with the current conda recipe for Ubuntu 18

[2022-10-22 02:22] ejguan commented on #844
I am reopening this issue since it seems we might have a working solution. I need to find a proper container to build conda package that is backward compatible with GLIBC_2.27.

[2022-10-24 18:40] ejguan opened #857 "PrototypingReadingService is stuck for distributed training on windows"
### 🐛 Describe the bug

After https://github.com/pytorch/data/pull/827 is landed, our nightly release becomes broken for distributed test on windows.

Needs to investigate.

### Versions

main

[2022-10-24 18:46] ejguan commented on #805
Cherry-picking PRs for the week of Oct 24th:

- [ ] https://github.com/pytorch/data/pull/858

[2022-10-24 21:58] ejguan commented on #857
Two blocking tests:
- test_proto_rs_dl2
- test_proto_rs_determinism

[2022-10-25 02:51] #844 closed

[2022-10-25 13:14] ejguan commented on #844
@rsokl Hey, I just enable the conda release with lower glibc requirement. Do you mind helping me verify it by installing our new nightly release?
you can do `conda install torch torchdata -c pytorch-nightly`

[2022-10-27 04:02] Qjbtiger commented on #844
Thanks, work for me while my system is Ubuntu 18.04.4

[2022-10-27 04:56] rsokl commented on #844
@ejguan I ended up upgrading my Ubuntu before I saw this update. Thank you for enabling the new conda release! It sounds like it is working for @Qjbtiger

[2022-10-27 08:32] magehrig opened #865 "Dataloader does not stop if one of the zipped DataPipes has a perpetual cycle"
### 🐛 Describe the bug

The Zipper is supposed to stop as soon as the shortest input DataPipe is exhausted. This is not the case if one of the DataPipes is constructed with a perpetual cycle.

Minimal Example:
[code]
Prints the following but does not exit the program:
[code]

### Versions

[code]

[2022-10-27 20:06] magehrig commented on #865
Version 0.4.1 does not seem to have that bug

[2022-10-27 20:12] ejguan commented on #865
Yeah. It's introduced after 0.4 to clean up remaining opened file streams in the DataPipes within `zip`.

As discussed with Vitaly, we think it's better to add a method for `DataPipe` to clean up itself rather than relying on `zip` to do the job. And, `zip` should invoke the corresponding clean-up method for each `DataPipe` in the `finally` clause.

[2022-10-27 20:55] #848 closed

[2022-10-28 19:06] NivekT commented on #865
I think we will need to change the clean up for `zip` in particular as well. Calling `list(dp)` on infinite DataPipe will not work. Maybe some sort of time out or limit?

[2022-10-30 05:10] vedantroy opened #868 "Allow passing in init_process_group kwargs to fullsync datapipe"
### 🚀 The feature

The following issue on the Ray forums describes the problem: https://discuss.ray.io/t/get-distributed-process-group-timeout-when-using-torch-trainer-fullsynciterdatapipe/8075.

The TL;DR is, I need to be able to pass in arguments to this line: https://github.com/pytorch/data/blob/4ea88d1fb4d279def9213a23b054b4e7d46d5b3d/torchdata/datapipes/iter/util/prefetch.py#L174 in order to

[2022-11-01 13:51] ejguan commented on #868
I think it's reasonable to provide such argument.
And, I am curious why do you think providing a process_group would prevent hanging? I am generally interested in what would be the root cause of hanging, so that I might be able to provide a proper fix. I feel like sub-pg should be fine for the most of use cases.

[2022-11-01 14:14] srmsoumya opened #869 "datapipes.to_graph() throws AttributeError: 'tuple' object has no attribute 'items'"
### 🐛 Describe the bug

I upgraded to `torch v1.13.0` & `torchdata v0.5.0` over the weekend and am getting `AttributeError` for  `datapipes.to_graph()` call after that - it was working completely fine before the upgrade.

Sample code to replicate the issue
[code]

Complete stack trace:
[code]

### Versions

Collecting environment information...
PyTorch version: 1.13.0+cu117
Is debug build: False
C

[2022-11-01 14:22] ejguan commented on #869
Thanks reporting this issue. I think it's the problem that `traverse` has changed the output type, which leads to the Error from
https://github.com/pytorch/data/blob/db5ec7ace3bbe5d29b65321203bafc83dc4dd2df/torchdata/datapipes/utils/_visualization.py#L60

And, could we add tests to validate `visualization` functions as well?
cc: @NivekT

[2022-11-02 18:53] ejguan commented on #865
[code]

[2022-11-02 19:12] NivekT opened #871 "Make the Installation of S3 Optional in Release Packages"
### 🚀 The feature

Make the installation of S3 optional in release packages.

### Motivation, pitch

It will make our library a pure Python package, which will be easier to install.

### Alternatives

Keep things as they are.

### Additional context

cc: @ejguan

[2022-11-02 19:43] ejguan commented on #805
Closing as 0.5.0 has been released.

[2022-11-02 19:43] #805 closed

[2022-11-02 19:58] ejguan commented on #871
I have two concerns:
- Domain teams have experienced some users' complaint about the installed packages are the legacy versions. This is caused new binaries (with C++ code) has not provided the binary for a specific OS/Arch like M1, then it will automatically fallback to the previous package that is in pure python.
- We are kind making a BC breaking change for binary distribution

I would support

[2022-11-03 14:24] ejguan opened #874 "Timeout Error for elastic training with DataLoader2 on linux python 3.8 in nightly CI"
### 🐛 Describe the bug

It's interesting that only the test in nightly release failed. See: https://github.com/pytorch/data/actions/runs/3385120287/jobs/5622904458
However, the same test doesn't fail on PRs. Example: https://github.com/pytorch/data/actions/runs/3386337355/jobs/5625605798#step:12:22

### Versions

main

[2022-11-03 14:25] ejguan opened #875 "S3 test is failing on M1 due to permission issue"
### 🐛 Describe the bug

This is caused by our M1 machine doesn't allow to access such url. https://github.com/pytorch/data/actions/runs/3385120287/jobs/5622905445

`ValueError: Access Denied` is raised

Needs to disable the test for M1

### Versions

main

[2022-11-03 20:49] #869 closed

[2022-11-04 10:38] Lingeng56 opened #881 "MaxTokenBucktizer for dict type item"
### MaxTokenBucktizer For Dict Type Item

I build a dataset which type of items is a python dictionary, and when I try to use MaxTokenBucktizer, I got an error
<img width="1038" alt="image" src="https://user-images.githubusercontent.com/78547692/199952414-7f992007-740f-402a-9d9b-15cf64ecce75.png">
And I check the source code of torchdata, it caused by heappush method which not support python dict.

[2022-11-04 10:48] Lingeng56 commented on #881
Maybe it's because my code is wrong
<img width="963" alt="image" src="https://user-images.githubusercontent.com/78547692/199954671-b067fc27-5f0e-434a-ba8e-dee18ef5a9d2.png">
above is my code
`self.sampler` is an instance of `torch.utils.data.DistributedSampler`

[2022-11-04 14:11] ejguan commented on #881
Thanks for finding this problem as `dict` is not comparable in `heapq`. I can send a patch to fix this problem.

[2022-11-04 14:41] #875 closed

[2022-11-04 16:39] netw0rkf10w opened #884 "Steps per epoch for training"
### 🚀 The feature

For huge datasets, an epoch may take a very long time to complete and it's good practice to perform evaluation and model checkpointing every N steps instead of at the end of an epoch. The tricky part lies at resuming training: how to tell the data loader to start from where it was left off? It would be great if torchdata could provide such a feature.

I have no idea how such a f

[2022-11-04 16:42] ejguan commented on #884
We do have this feature in our mind during the development of `DataLoader2`.
See:
https://github.com/pytorch/data/blob/b1b3406389fa6665ec3422ae5e1ebf65ae7e2938/torchdata/dataloader2/dataloader2.py#L219

Please stay tuned as this feature hasn't been accomplished yet.

[2022-11-04 16:44] netw0rkf10w commented on #884
Ah that is great! Thanks for the quick reply. I look forward to testing it at release!

[2022-11-04 16:44] #884 closed

[2022-11-04 19:22] ejguan opened #885 "Determinsim about Local shuffle/random_op after `sharding_filter`"
### 🐛 Describe the bug

## Current state of determinism

Using `DataLoader2` + `PrototypeMultiProcessingReadingService` as an example:
1. Before each iteration starts, a distributed shared seed will be generated ([link](https://github.com/pytorch/data/blob/b1b3406389fa6665ec3422ae5e1ebf65ae7e2938/torchdata/dataloader2/reading_service.py#L282-L285))
2. With multiprocessing, each subprocess will res

[2022-11-04 20:09] netw0rkf10w commented on #884
@ejguan I have a quick question please. I had a quick look at the current implementation and it's more complicated than I thought. I don't know much about dataloader2 so this question may sound stupid: Wouldn't it be suffice to store the indices of the already consumed training examples (or alternatively the remaining ones)?

[2022-11-04 20:14] ejguan commented on #884
There won't be the concept of indices in `DataPipe` + `DataLoader2` regime because we are targeting streaming scenario where the number of data (indices) is unknown to us.

[2022-11-04 20:15] ejguan commented on #884
For hacking purpose, you might be able to add a wrapper around the existing `DataLoader` by simply storing the sampler state.

[2022-11-04 20:17] NivekT opened #886 "Protecting users from overwriting special DataPipe methods"
### 🚀 The feature

There are some built-in methods that exist across DataPipes (most commonly `reset`, and potentially `full_stop`, `resume` in the near future). Those methods are often used in ways that are hidden/not obvious to the users. Notably, `reset` is called when `iter(datapipe)` is called.

Currently, it is possible to define a new custom DataPipe with attributes using those names. While

[2022-11-04 20:32] ejguan commented on #886
You can add a `final` decorator to the `_reset` method to prevent overriding.
https://peps.python.org/pep-0591/

But, I am not sure about if it would prevent users to override the method by an attributed with the same name

[2022-11-04 21:00] netw0rkf10w commented on #884
Ah I see. That makes sense. Thanks.

Indeed, I was about to implement something like that. It's a bit tricker to implement for training with DDP though. I noticed that @VitalyFedyunin attempted to implement this (https://github.com/pytorch/pytorch/issues/36650#issuecomment-1144149178_) but did not come up with a satisfactory results, so maybe it's tricker than I thought.

[2022-11-07 06:28] Lingeng56 commented on #881
Hi, due to some version problems, I'd like to implement MaxTokenBucktizer from scratch, but with my implemantation, cuda cache allocated is continuely increasing due to dynamic batch size, which caused an oom error. I think it was caused by pytorch cache machnism, but I dont know how to solve it... Did you ever meet any similar problems ? Or maybe you have an idea to solve this problem.❤️

[2022-11-07 14:33] ejguan commented on #881
@Lingeng56

It would be good for us to have a minimum repro script, otherwise it's hard to say. I would assume an explicit `del` of buffer would help.

[2022-11-07 14:33] ejguan commented on #874
Temporarily closing as it has been solved by a newly updated pytorch nightly. Re-open if the same problem happens

[2022-11-07 14:33] #874 closed

[2022-11-07 21:37] #881 closed

[2022-11-08 15:56] ejguan commented on #881
@Lingeng56
It's weird as I can't tell your code is using cuda tensor

[2022-11-08 16:28] #737 closed

[2022-11-08 22:22] Lingeng56 commented on #881
My data will convert to cuda tensor during collation in dataLoader..And Sampler contains index of each data item, so you can't see any code about cuda tensor in my screenshot.
My problem is cuda memory allocated will continually increasing during training procedure because of dynamic batch size. I think this caused by pytorch's cache mechanism. Maybe you ever met similar problems or you know how t

[2022-11-10 01:35] kiukchung commented on #802
Curious as to what the s3 perf issue is?

[2022-11-10 18:55] ejguan commented on #649
Closing as the most of docs have been updated.

[2022-11-10 18:55] #649 closed

[2022-11-10 22:56] NivekT commented on #661
Closing this as documentation has been added. If additional content is needed, please comment on #763.

[2022-11-10 22:56] #661 closed

[2022-11-10 22:56] NivekT commented on #655
Closing this as documentation has been added. If additional content is needed, please comment on #763.

[2022-11-10 22:56] #655 closed

[2022-11-10 23:06] dahsh commented on #655
Yeah, this makes sense. Thanks. We can also refer to the train loop under examples folder.

[2022-11-10 23:07] dahsh commented on #661
Yeah, this makes sense. Thanks. We can also refer to the train loop under examples folder.

[2022-11-10 23:14] dahsh commented on #763
Do we plan to add some demo runs in the colab linked in the TorchData [README.md](https://github.com/pytorch/data#readme)

https://colab.research.google.com/drive/1x1ESG0_N02txFuQwyTfCnjhqzS-PzQjA

Thanks.

[2022-11-11 00:24] kiukchung commented on #500
Thanks @NivekT and @ejguan for the context in https://github.com/pytorch/data/pull/847!

I've run some preliminary benchmarks on our datasets comparing s3io (aka s3 plugin - pybinded c++ client) versus fsspec. TL;DR - at high enough batchsize + num_workers (dataloader workers) the throughput is comparable (although s3io is still ~ 16% faster) at ~2.4M samples/sec versus ~2.0M samples/sec. Where th

[2022-11-11 11:15] Red-Eyed commented on #293
Hey there, any plans to make it as a separate python package w/o torch deps?

[2022-11-11 15:19] ejguan commented on #500
@kiukchung Thank you so much to help us benchmarking on the text use case! This seems contradictory to the benchmarking result we have carried out previously (I am more focusing on `num_worker=0` case, because I want to make sure the baseline should showcase. As @NivekT suggested, we did find `fsspec` having better performance when loading archives of images even the size of each archive (shard) i

[2022-11-11 16:28] kiukchung commented on #500
@ejguan thanks for taking a look and your insights/questions. I’m on PTO today so will update with the answers to your questions on Mon/Tue. Will also clean up the benchmark so that you can also run it on your end (I need to remove some dependencies to our internal tools that read the dataset manifest containing the s3 URLs of the shards).

RE: P0 being super low. I should’ve been clearer, yes you

[2022-11-14 20:20] PKizzle opened #893 "Promise files for caching not reliably deleted"
### 🐛 Describe the bug

With version 0.5.0 the promise files for caching are no longer reliably deleted. Instead of trying to delete the file as soon as the cache has been created torchdata seems to wait for the end of the data pipe before it tries to delete it. I did not encounter this issue with version 0.4.1

### Versions

PyTorch version: 1.13.0
Is debug build: False
CUDA used to build PyTorch

[2022-11-14 20:28] ejguan commented on #893
Yeah. We did that to make sure the cache working with 1-to-N scenario like caching the result from `untar` an archive.
It would be good if you can share a minimum scripts to understand your use case.

[2022-11-14 20:33] PKizzle commented on #893
Would be nice to have a flag to alter the behavior for each use case. For me the current behavior just results in a caching timeout and the DataLoader2 only outputs the first element from the data pipe. I'll try to write a minimum script, but that may take some time.

[2022-11-15 15:13] ejguan commented on #763
@dahsh
It would be great if we can update it with DataPipe + DataLoader2.

[2022-11-15 22:29] NivekT opened #898 "Traverse the DataPipeGraph in in a breadth-first order rather than depth-first order in `traverse_dps`"
### 🚀 The feature

Traverse the DataPipeGraph in in a breadth-first order rather than depth-first order in `traverse_dps`

### Motivation, pitch

In cases such as pausing or stopping, a bread-first order will ensure that consumer DataPipes (i.e. DataPipes consuming data from other DataPipes) stop before producer DataPipes.

### Alternatives

_No response_

### Additional context

cc: @ejguan

[2022-11-16 03:13] vedantroy commented on #868
Hm, I assumed that the issue was that I'm using Ray (https://docs.ray.io/en/latest/train/train.html), and I just needed to configure some environment variables for the process group or something like that. But I could definitely be wrong.

One thing of interest (maybe) is that the bug does not happen the first time I run my training script, instead it happens the 2nd time I run my training script.

[2022-11-16 03:42] #735 closed

[2022-11-16 18:04] andre-bauer opened #899 "Prefetcher drops remaining samples at the end"
### 🐛 Describe the bug

`PrefetcherIterDataPipe` can have remaining samples in `prefetch_buffer` that are not yielded by `__iter__`

### Versions

[code]

[2022-11-16 18:11] ejguan commented on #899
Thanks for opening the issue. Comment on your PR.

[2022-11-16 18:34] andre-bauer commented on #899
See comment in #900

[2022-11-16 18:34] #899 closed

[2022-11-16 20:11] ejguan commented on #898
After thinking deeply on this topic, I think it's not `traverse_dps` should be `breadth-first` order because the returned graph is the same no matter it's traversed in BFS or DFS.

I think you are requesting `list_dps` using BFS rather than DFS. So, the DataPipes with smaller depth should be in the front of returned list. WDYT?

[2022-11-16 20:37] ejguan commented on #898
Will update `list_dps` in https://github.com/pytorch/data/pull/894

[2022-11-16 21:04] #840 closed

[2022-11-17 12:39] drubinstein commented on #497
I have been having a similar issue with gco. After investigating, I found that multiprocessing+gcsfs/fsspec hanging is a [https://github.com/fsspec/gcsfs/issues/379](known issue). I've been able to get around it by making my own datapipe that uses the google-cloud-storage python package.

[2022-11-17 12:53] NivekT commented on #497
Hi @drubinstein, thanks for letting us known. Just to confirm, that is specific to ikernel as well? Which multiprocessing start method are you using (i.e. `spawn`, `fork`, `forkserver`)?

[2022-11-17 13:01] drubinstein commented on #497
It was an experiment at the time and I didn't try anything but the defaults for DataLoader and DataLoader2 with the MultiprocessingReadingService. I can try to dig up the code and experiment with the other start methods and report back.

This was not specific to ikernel. I was running a script.

[2022-11-17 16:45] songyuc commented on #761
Just for discussion, would `torch.cuda.Stream` would facilitate GPU data loading?

[2022-11-17 20:27] drubinstein commented on #497
Ran some tests. Please tell me if there are any other permutations you'd like me to run.
✅  = training ran
❌ = hung

1. DataLoader + spawn ✅
2. DataLoader + fork ❌
3. DataLoader + forkserver ✅
4. DataLoader2 + default reading service ✅ (also 15% slower than DataLoader)
5. DataLoader2 + MultiProcessingReadingService + spawn ✅  (also 33% slower than DataLoader)
6. DataLoader2 + MultiProcessingReadin

[2022-11-18 15:51] ejguan opened #904 "Azure test is broken due to missing authentications"
### 🐛 Describe the bug

See example CI test result:
https://github.com/pytorch/data/actions/runs/3496367745/jobs/5854203850#step:13:527

To resolve it, we need to properly set environment variables `AZURE_CLIENT_ID`, `AZURE_TENANT_ID` and `AZURE_CLIENT_SECRET` as shown in https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/identity/azure-identity/TROUBLESHOOTING.md#troubleshoot-environment

[2022-11-18 16:37] ejguan commented on #893
Thank you for providing the pipeline. I will take a look!

[2022-11-21 16:29] ejguan commented on #868
Thanks for providing the script. It's feasible for us to provide an argument to this DataPipe. However, it's not clear to me if this is going to solve the problem you have encountered.
Could you please elaborate what is the error/issue running your script? Hanging or Error raised?

[2022-11-21 20:06] wenleix commented on #761
cc @dracifer

[2022-11-22 00:20] kiukchung commented on #500
Sorry it took me longer than expected. Here's the benchmarking script:

[code]

[2022-11-22 23:37] kiukchung opened #906 "FSSpecFileOpenerIterDataPipe raises a `NoCredentialsError` on large dataloader `num_worker`"
### 🐛 Describe the bug

There are two issues (both are reproducible using the script below):

1. `FSSpecFileOpenerIterDataPipe` gets stuck if one tries to iteratively create `DataLoader(num_workers=0, ...)` then `DataLoader(num_workers=greater_than_zero)`. Practically speaking this isn't much of an issue since typically a trainer will create the dataloader once but for benchmarking this means that

[2022-11-22 23:55] kiukchung commented on #500
Did some more digging and here are some observations:

1. s3io is technically faster but you can get close with fsspec by using a larger (e.g 16, 32) dataloader `num_workers`
2. fsspec tends to scale more linearly, predictably as `num_workers` increases (up to a certain point)
3. fsspec is stable w.r.t `batch_size` (e.g. same throughput regardless of different batch_sizes)
4. fsspec has a bug wher

[2022-11-23 16:56] ejguan commented on #163
@BlueskyFR
IIRC, we plan to remove this DataPipe in the future. The general reason is that we think this can be easily achieved by using a `demux` based on file types then decode each datapipe correspondingly then `mux` them together. Glad to hear your use case.

[2022-11-23 19:34] BlueskyFR commented on #163
Okay, but why was support for decoding dropped then?

[2022-11-23 19:46] BlueskyFR commented on #163
Okay. What is the preferred mechanism to decode images? Ideally I think it should be done in batches if performance is needed

[2022-11-23 19:55] ejguan commented on #163
It depends on if your `decode_fn` supports batched decoding in high performance. Otherwise, I think it's going to be similar to do decoding per image.

[2022-11-27 02:18] vedantroy commented on #868
@ejguan
There's hanging, and if I wait 30 or so minutes -- that line will eventually throw a `Timeout` error.

[2022-11-28 14:57] ejguan commented on #868
When did hanging happen? At the time of `dist.new_group` or after the first epoch?

[2022-11-28 15:41] ejguan commented on #865
@peterdudfield Thanks for trying to fix it.
To prevent such problem happening, I think a method like `cleanup` is required for `DataPipe`. I will send a PR to fix it.

[2022-11-28 16:59] ejguan commented on #500
@kiukchung This is amazing! Thank you for providing such detailed benchmarking result and analysis.

Even without `asyncio`, IMHO, `prefetch_factor` would help the perf by doing some kind of reading ahead. Have you tested enlarging `prefetch_factor`? If we find this is helpful, we might do reading ahead directly within the `S3DataPipe`.

All your bottom lines you mentioned are super useful for use

[2022-11-28 18:05] ejguan commented on #906
Thanks for opening the issue.
I am able to reproduce the first issue that the subsequent `DataLoader` would be stuck when the prior `DataLoader` has `num_workers=0`. I am investigating it now.

However, I am not able to reproduce the second issue. I am not sure why larger number of processes would interfere the credential. I suspect this is tied to boto3 not handling racing on credential read corr

[2022-11-28 18:51] ejguan commented on #906
For Issue 1, I am currently able to boil down to `fork` starting method. If I set `multiprocessing_context="spawn"` for the subsequent `DataLoader`, there won't be hanging issue.

[2022-11-28 21:09] NivekT commented on #500
@kiukchung Thanks for looking into this and sharing the results! Your findings are very helpful and we should incorporate them into our doc. A few questions:

1. Does `s3io` support streaming? One common use case may be a tar archive with JPGs inside and `fsspec` allows reading of JPGs without download the whole archive first, which reduces memory footprint. The code looks something like:
[code]
2

[2022-11-28 21:28] NivekT commented on #904
I think this can be closed after #905 has landed?

[2022-11-28 21:31] ejguan commented on #904
I prefer keeping it open since the test failure hasn't been fixed. I just skipped it.

[2022-11-28 22:41] NivekT commented on #497
It makes sense that `fork` hangs because of the issue that you linked. However, I do not expect `DataLoader2` + `MultiprocessingReadingService` to be slower since it currently relies on DL1 under the hood.

Can you try the same with [`PrototypeMultiprocessingReadingService`](https://github.com/pytorch/data/blob/335eaaa59c86a3b2481c3b5d79a03c8a2d0c990a/torchdata/dataloader2/reading_service.py#L176)

[2022-11-29 00:29] vedantroy commented on #868
At the time of. The example shows that it never gets passed the initialization phase to actual data loading

[2022-11-29 03:22] drubinstein commented on #497
1. PrototypeMultiprocessingReadingService + spawn ✅
2. PrototypeMultiprocessingReadingService + fork ❌
3. PrototypeMultiprocessingReadingService + forkserver ✅

Not sure if it made a difference, but I modified my pipeline to remove a `prefetch()` call I had at the end of it and yield to the reading service's prefetch addition.

[2022-11-29 18:19] NivekT commented on #497
Thanks for running that. What was the observed performance with PrototypeMultiprocessingReadingService?

[2022-11-29 18:31] drubinstein commented on #497
Sure
1. PrototypeMultiprocessingReadingService + spawn ✅
2. PrototypeMultiprocessingReadingService + fork ❌

[2022-11-29 19:22] drubinstein commented on #497
With `spawn`, MultiprocessingReadingService was ~2x slower than `PrototypeMultiprocessingReadingService` assuming I had all the correct arguments.

[2022-11-29 21:40] NivekT commented on #497
Just to confirm, various setups all have the same arguments for shuffle, prefetch, num_workers, and etcs?

We will make a note of the result here. If you have any minimally reproducible script, it would have us reproduce and investigate. Thanks!

[2022-11-29 22:05] drubinstein commented on #497
Yes. They all had the same DataIterPipe passed to the DataLoader. However, there may be arguments in the reading service I haven't accounted for.

[2022-11-29 22:10] drubinstein commented on #497
I want to emphasize that this issue only appears on GCS as far as I know. I believe making a custom GcsFileLoader/GcsFileLister that avoids fsspec and uses google-cloud-storage may avoid the problem. Unfortunately, I deleted my implementation of those when moving to fsspec, but can rewrite them if you want. I can't copy the script _exactly_, but the shape of it looks like:
[code]

[2022-11-29 22:27] NivekT commented on #497
Thanks for that! I think the performance difference between DataLoader1 and MultiProcessingReadingService is likely due to `prefetch_factor` (defaults to 2 for former and 0 for latter I believe).

The fact that `fork` doesn't work also makes sense given the linked issue.

I am curious what your custom GCSFileLoader looks like? We maybe open to add that to our library.

[2022-11-29 22:29] drubinstein commented on #497
It was a copy of s3io.py but used [google-cloud-storage](https://pypi.org/project/google-cloud-storage/) instead of the S3Handler. Chose the python lib so I could avoid requiring a custom build.

[2022-11-29 22:31] drubinstein commented on #497
Just found it in my git history actually!

[code]

[2022-11-29 22:45] NivekT commented on #497
Thank you so much for sharing!

[2022-11-29 23:08] drubinstein commented on #497
Pasting an updated script below. The one above had a few bugs in it and what I'm pasting below does work with GCS + a `fork` multiprocessing context. I can PR it separately if you want and apply any changes you request.

<details>
<summary> Code </summary>
[code]
</details>