[2021-09-20 18:52] VitalyFedyunin opened #5 "Consider `isort` as linter"
Some of `__init__.py` imports are getting out of control, we should consider using https://pycqa.github.io/isort/ as hard linter and/or suggestion.

[2021-09-20 18:55] VitalyFedyunin opened #6 "Consider linting `# TODO` lines"
Frequently TODO lines left unattended, we should consider requirement to bind TODO lines to issues (like #TODO(issue_id))

[2021-09-21 15:50] ejguan opened #7 "`python setup.py clean` doesn't work."
`python setup.py clean` couldn't remove the package from my environment no mater I install the package in develop mode or release mode.

In order to remove it, I have to use `pip uninstall torchdata`.
- For develop mode (`python setup.py develop`), I have to re-install it using release mode then `pip uninstall`.

The script of setup.py probably has a bug to `clean`.

cc: @NivekT

[2021-09-27 21:18] ejguan opened #13 "Vision Test needs to add decorator of skipIfNoPillow"
per title

[2021-09-27 21:20] ejguan opened #14 "`test_json_parser_iterdatapipe` consistently fails."
`AssertionError: Lists differ: [('1.json', ['foo', {'bar': ['baz', None, 1.[61 chars] 2})] != [('2.json', {'__complex__': True, 'real': 1,[61 chars]]}])]`
at https://github.com/pytorch/data/blob/f83b8a112c94a9b3711ac82f58ac712f68923b92/test/test_datapipe.py#L637

[2021-09-27 21:20] ejguan commented on #14
[code]

[2021-09-27 21:32] ejguan commented on #14
Do you want to try AWS cluster and install this package? Since it's open-sourced, it's relatively easier.

[2021-09-27 21:33] NivekT commented on #14
I believe we should switch to this instead within `test_datapipes.py`:
[code]

[2021-09-27 22:15] NivekT opened #15 "Some unit tests in `test_datapipe.py` seem to behave nondeterministically"
The behavior seems to differ from AWS and MacOS, and likely different Python environment.

It may possibly related to the write order of test files being different on different OS/system.

Specific tests that may have issues:
- [Not an issue] LineReader
- [Not an issue] BucketBatcher
- [Fix] JSONReader

cc: @ejguan @VitalyFedyunin

[2021-09-27 22:16] NivekT opened #16 "Resources are not closed during testing in `test_datapipe.py`"
Resources should either be closed or the warnings should be caught.

[2021-09-28 16:39] ejguan opened #17 "Flake8 configuration needs to be refined"
Based on the internal tests, several signals needs to be removed from our ignore list.
- F821

[2021-09-28 23:12] NivekT commented on #15
Unable to reproduce the issues with LineReader and BucketBatcher. A PR has been made for JSONReader.

[2021-09-29 05:12] pmeier commented on #5
We recently opted to use [`ufmt`](https://ufmt.omnilib.dev/en/stable/) as code formatter. It combines [`black`](https://black.readthedocs.io/en/stable/) and [`usort`](https://usort.readthedocs.io/en/stable). AFAIK, `isort` had some issues on FB architecture. cc @NicolasHug

The [final vote is still out](https://github.com/pytorch/vision/pull/4384), but if we go for it, I can send a PR adopting it

[2021-09-29 07:57] NicolasHug commented on #5
Yes, `ufmt` was specifically made to match fb's internal `arc lint`.
If we expect pytorch/data to be modified from withing fbcode from time to time, I think it's much safe to keep fbcode linting and github linting in sync

[2021-09-29 14:50] #15 closed

[2021-09-30 07:21] tcapelle opened #26 "fastai's DataBlock"
This new data API looks great and has many similarities with the [DataBlock](https://docs.fast.ai/tutorial.datablock.html) api from fastai.
We have a [discord](https://discord.gg/Yy82YcR4) channel for fastai dev and we would love to help/test/integrate these cools pipelines.

[2021-09-30 07:51] pmeier opened #27 "Also expose `torch` native datapipes in `torchdata.datapipes`"
That would remove the need to import these from three different sources.

Before:

[code]

After:

[code]

I can send a PR if we want this.

[2021-09-30 11:00] dongreenberg commented on #26
Hi Thomas! Thank you for reaching out. We'd love to chat about that. Should I shoot you an email at the address linked in your profile?

[2021-09-30 13:15] tcapelle commented on #26
Of course!

[2021-09-30 20:39] ejguan commented on #27
That's a good idea to have a single source of Truth. And, we need to carefully take care of duplicated DataPipes like `TarArchiveReader`

[2021-09-30 20:41] ejguan commented on #14
Wait, why this issue is not automatically closed as the PR is merged. Closing manually.

[2021-09-30 20:41] #14 closed

[2021-10-01 05:15] pmeier commented on #27
The second part sound that there is no single source of truth if `torchdata.datapipes` diverges from `torch.utils.data.datapipes`. Looking at `TarArchiveReader`, I found this

https://github.com/pytorch/data/blob/77c07bffb83516fe11eaa425d1d1bb3b5a731174/torchdata/datapipes/iter/util/tararchivereader.py#L11-L12

So what is the plan here? Remove everything from `torch.utils.data.datapipes` that is a

[2021-10-01 05:33] pmeier opened #28 "Have a `keep_filename` option for all datapipes that read text files"
`CSVParser` has it

https://github.com/pytorch/data/blob/77c07bffb83516fe11eaa425d1d1bb3b5a731174/torchdata/datapipes/iter/util/csvparser.py#L28

but `JsonParser ` and `LineReader` don't. For me this often leads to something like this:

[code]

This means I will get warned to not use `lambda`'s, but that hardly justifies a separate function.

[2021-10-01 07:53] pmeier commented on #28
Or more general, equalize the options between the datapipes that read from text file. Another option that is missing from `JsonParser` and `LineReader` is `decode`:

https://github.com/pytorch/data/blob/77c07bffb83516fe11eaa425d1d1bb3b5a731174/torchdata/datapipes/iter/util/csvparser.py#L22-L24

[2021-10-01 09:46] pmeier commented on #28
I need to backpaddle a little: `JsonParser` is different from `CSVParser` and `LineReader`. But the others should still be "equalized".

[2021-10-01 13:28] ejguan commented on #27
We added a deprecation warning in PyTorch
https://github.com/pytorch/pytorch/blob/e3af4be96338d0645310e7cab47ce78509a6603e/torch/utils/data/datapipes/iter/tararchivereader.py#L37
We will remove them in the next release after 1.10. Before that, if any user imports DataPipe from torchdata, they should use the one in torchdata rather than the one in pytorch core.

For the list of duplicated DataPipes

[2021-10-01 13:31] pmeier commented on #27
I'll send a PR.

[2021-10-01 17:10] ejguan opened #33 "Add label to trigger slowTest on CI"
per title

[2021-10-01 17:12] ejguan opened #34 "Add annotation to DataPipe"
per title

[2021-10-01 21:27] #27 closed

[2021-10-04 14:11] ejguan commented on #7
Thanks to @NivekT, I just figured out:
- `python setup.py clean` should only clean up the build directory or related temporary files.
- `pip uninstall torchdata` is the right command to uninstall the package.

[2021-10-04 14:11] #7 closed

[2021-10-05 13:54] #28 closed

[2021-10-05 16:12] NivekT opened #42 "TarArchiveReader is not functioning with HTTPReader or GDriveReader"
This issue was discovered as part of #40. The `TarArchiveReader` implementation is likely wrong:

1. An error is raised when we attempt to use `TarArchiveReader` immediately after `HTTPReader` because the HTTP stream does not support the operation `seek`:

[code]
It returns an error that looks something like this:
[code]
Currently, you can work around by downloading the file in advance (or caching

[2021-10-05 16:44] ejguan commented on #42
Correct me if I am wrong, `tarfile` doesn't work with `HTTPResponse`.

If so, the second problem is not a problem. Even if we change the `validate_pathname_...` to accept `HTTPResponse`, `tarfile` is not able to open it for `GDriveReader`

[2021-10-05 16:52] ejguan opened #43 "Remove duplicated CSVReader"
As https://github.com/pytorch/data/pull/29 is landed, all csv-related DataPipes are located in https://github.com/pytorch/data/blob/main/torchdata/datapipes/iter/util/plain_text_reader.py.

But, we forget to remove the DataPipe in https://github.com/pytorch/data/blob/main/torchdata/datapipes/iter/util/csvparser.py

[2021-10-05 17:02] ejguan opened #44 "KeyZipper improvement"
Currently multiple stacked `KeyZipper` would create a recursive data structure:
[code]
This is super annoying if we are using same key for each `KeyZipper`. At the end, it yields `(((dp, ref_dp1), ref_dp2), ref_dp3)

We should either accept multiple reference DataPipe for KeyZipper to preserve same key, or have some expand or collate function to convert result to `(dp, (ref_dp1, ref_dp2, ref_dp3))

[2021-10-05 17:41] #17 closed

[2021-10-05 18:55] NivekT commented on #42
Based on my observation, `tarfile.open` seems to handle `HTTPResponse` fine. Definitely a bit surprising.

The code snippet below runs:
[code]
Returns:
[code]

I omitted printing out `test.csv` and `train.csv` but their contents seem valid.

It will be interesting to see how `Zip` and `XZ` readers do with `HTTPResponse`. I suspect it may not work for those.
One better option is probably to have `T

[2021-10-05 19:04] ejguan commented on #42
So, if it's working for `GDriveReader`, then the problem probably come from `def _get_response_from_http`.

Based on the Python doc, do you want to try `requests` rather than `urllib` to get respond?

[2021-10-05 21:14] ejguan opened #45 "[RFC] Disable the multiple Iterators per IterDataPipe (Make Iterator singleton)"
This is the initial draft. I will complete it shortly.

State of Iterator is attached to each IterDataPipe instance. This is super useful for:
- Determinism
- Snapshotting
- Benchmarking -> It becomes easier to register each DataPipe since they have different ID in the graph.

Implementation Options:
- Each DataPipe has an attribute of `_iterator` as the place holder for `__iter__` calls.
- Implem

[2021-10-05 21:37] Alex-Gregory-1 commented on #13
Can I take this? I am really interested in contributing to this project.

[2021-10-06 14:35] ejguan opened #46 "Upstream vision helper DataPipe"
Vision Team found a series required DataPipe to revamp the Dataset, some of them are general-purpose in https://github.com/pytorch/vision/blob/main/torchvision/prototype/datasets/utils/_internal.py

[2021-10-06 18:16] #13 closed

[2021-10-06 21:58] NivekT commented on #42
Switching to use the module `requests` still returns an error:
[code]
However, we can access its content and covert it into `BytesIO`:

[code]

I am leaning towards adding an option to `TarArchiveReader` (and other readers as needed) to allow them to handle HTTP response. Does that sound about right?

Full runnable code snippet:
[code]

[2021-10-07 18:18] ejguan commented on #42
Looking at https://2.python-requests.org/en/master/user/advanced/#body-content-workflow. We should be able to do it as:
[code]

[2021-10-11 13:29] ejguan opened #52 "Use IoPath to download HTTP Url"
Since IoPath has features to download different sources: HTTP, S3, Google, and etc, we should add a `IoPathDownloader` to handle all different sources.

[2021-10-13 17:33] ejguan opened #54 "Router for same functional API"
## 🚀 Feature
We could support different DataPipe with same functionality using a same functional API with a router datapipe.
Like `open`, we can support:
- URL
- IoPath
- Local File

Option 1:
Based on the input (type), we could route it to corresponding DataPipe with extra argument to `functional_datapipe`
[code]

Option 2:
Implement a dispatcher toward functional_API. This may be more suitable b

[2021-10-13 18:59] ejguan opened #55 "[RFC] Wrapper/Proxy for Stream"
## 🚀 Feature
Discussed with @NivekT about the wrapper class for all streams:
Pros:
- We can add a `__del__` method to close the file stream automatically when ref count becomes 0 for wrapper. It would eliminate all warnings.
- A wrapper class can unify the reading API for file streams. (For `OnDiskCache`, I would prefer a unified API to read stream, otherwise I have to handle all different cases)

[2021-10-14 20:21] ejguan opened #62 "TestDataPipe needs to be configured to run on CI when PR is created by ghstack"
per title

[2021-10-15 14:17] #62 closed, assigned to nobody

[2021-10-17 15:04] fmassa commented on #54
Note that ioPath handles automatically all cases within itself by just specifying the correct URI.

This means that we can just use `IoPathFileListerIterDataPipe` and `IoPathFileLoaderIterDataPipe` and get the expected result that we want to achieve in here.

IMO if we are using ioPath as a dependency (or if we plan to make it a hard dependency), I think we should just use `ioPath` for all IO-base

[2021-10-18 16:29] ejguan opened #69 "Run tests from domains on our CI"
per title.
This would help us to notify domains about the BC breaking changes.

Reference:
- text: https://github.com/pytorch/text/blob/main/test/experimental/test_datasets.py
  - Run tests directly
- vision: https://github.com/pytorch/vision/tree/main/torchvision/prototype/datasets/_builtin
  - Call dataset creation to verify the API.
- audio: TODO
- torchrec: Wait until March when TorchRec is OS

[2021-10-19 20:48] NivekT commented on #55
Yea, I believe they should, and they should still work as intended given that `StreamWrapper` delegates the method to the underlying object.

[2021-10-20 20:24] Nayef211 opened #75 "Error with HashCheckerIterDataPipe"
## 🐛 Bug

Using HashCheckerIterDataPipe for implementing a [SST2 dataset within torchtext](https://github.com/pytorch/text/pull/1410) causes test failures for `unittest_linux_py3.6` and for all python versions on windows platform.

- Here is the CircleCI link for all the test failures: [failures](https://app.circleci.com/pipelines/github/pytorch/text/3962/workflows/a484c1a5-3500-4573-9079-541f77b2

[2021-10-21 03:46] NivekT commented on #46
I had a look at the different custom DataPipes in that file.
1. SequenceIterator
    - Perhaps we can have a flatten-er IterDataPipe? It will come with an option for the user to define how many `nesting_level` of iterable to flatten (starting from the top)? It would be somewhat similar to how `mapper` determines the level to which apply the function. Thoughts?
2. MappingIterator
    - Similar to S

[2021-10-21 14:31] ejguan commented on #46
I agree with `Enumerator` and `Decompressor` can be upstreamed.

Just wondering does `unbatch` work similar as `SequenceIterator`?

[2021-10-22 17:13] NivekT opened #80 "Create .pyi files for DataPipes"
## 🚀 Feature

Create .pyi files for DataPipes to provide information for IDEs

As @ejguan mentioned, codegen is needed in order for all the comments and argument types to be automatically attached to the .pyi file. We also need to account for the fact that operations exist in both Core and TorchData.

## Motivation

These files will allow IDEs to provide more information to users when they are usi

[2021-10-22 18:12] ejguan opened #81 "Improve debuggability"
## 🚀 Feature
Currently, when iteration on DataPipe starts and Error is raised, the traceback would report at each `__iter__` method pointing to the DataPipe Class file.
It's hard to figure out which part of DataPipe is broken, especially when multiple same DataPipe calls exist in the pipeline.

As normally developer would iterate over the sequence of DataPipe for debugging, we can't rely on DataLo

[2021-10-25 19:07] NivekT opened #86 "Close all streams within DataPipe after reading (if DataPipe's output isn't a stream)"
## 🚀 Feature

Close all streams within DataPipe after reading (if DataPipe's output isn't a stream). This is applicable to DataPipes such as `CSVParserIterDataPipe` and `JsonParserIterDataPipe`.

## Motivation

This features prevents streams that has been exhausted from remaining open. Since the end of the stream has been reached, the user must reset or reopen the stream before they can be reused.

[2021-10-28 13:19] fmassa opened #90 "`IoPathFileLoader` should default mode to the same value as `FileLoader`"
## 🚀 Feature

Self-explanatory. I believe the modes should be the same for ease of exchangeability.
PyTorch [`FileLoader` uses `b` by default](https://github.com/pytorch/pytorch/blob/62feadd76fb5760faccd526d9064b9ba5de13083/torch/utils/data/datapipes/iter/fileloader.py#L30), while `IoPathFileLoader` uses `r` https://github.com/pytorch/data/blob/4802a350d1bf954d0785e0f22fd1fcde2deded76/torchdata/da

[2021-10-28 15:41] fmassa opened #91 "Use iopath in `SaverIterDataPipe`"
## 🚀 Feature

`iopath` provides an API that can replace `open` and support saving to multiple destinations (including S3), we should probably reimplement `SaverIterDataPipe` to rely on `iopath` instead.

We could even then rename the functional API so that it's called `save` instead of `save_to_disk`.

[2021-10-29 18:15] ejguan commented on #91
Understood. I will go over `iopath` today and figure out a way to align everything to `iopath`.

[2021-11-01 19:55] ejguan opened #95 "Add lazy_import"
## 🚀 Feature

Currently we used `import` in each DataPipe class to make lazy importing happens. This is not elegant IMO.
https://github.com/pytorch/data/blob/4802a350d1bf954d0785e0f22fd1fcde2deded76/torchdata/datapipes/iter/load/iopath.py#L21-L29

As more potential libraries used in TorchData to support different functionalities, we could add a module to support lazy import module to global namesp

[2021-11-03 06:38] pmeier commented on #69
I'm currently adding tests for the `torchvision` datasets in pytorch/vision#4682. When this is merged, I'll update

https://github.com/pytorch/data/blob/4802a350d1bf954d0785e0f22fd1fcde2deded76/.github/workflows/domain_ci.yml#L48-L49

to run them.

[2021-11-03 13:22] ejguan commented on #69
@pmeier
Thanks!

[2021-11-08 19:01] NivekT opened #101 "Prevent (or at least flag) DataPipe attributes and methods that use existing functional datapipe names"
## 🚀 Feature
We should have some checks/tests that flag when a DataPipe has an attribute/method that shares

For example, `Batcher` (or `BatcherIterDataPipe`) has the functional datapipe name `batch`. However, currently there is nothing to prevent other IterDataPipes to use `batch` as the name of an attribute or method.

The change in the following PR is a [good example](https://github.com/pytorch

[2021-11-08 19:06] ejguan commented on #101
This should also be applied to customized DataPipe.

[2021-11-08 21:27] ejguan opened #103 "Switch `FileLoader` to `FileOpener`"
Should we change the name of `FileLoader` to `FileOpener`?

We split the file-loading functionality into three steps:
- List file names in a directory: `FileLister`
- Open file handles: `FileLoader` (I personally feel like the name is incorrect.)
- Read files: `dp.map(fn=lambda x: x.read(), input_col=1)`

cc: @VitalyFedyunin @NivekT

[2021-11-09 16:40] NivekT commented on #103
From a purely naming perspective, I think `FileOpener` is more accurate but `FileLoader` isn't wildly misleading either.

I had a look at `numpy.load`, `json.load`, `pickle.load`, these seem to either read or parse through files that have already been opened and return some structured data. In that sense, `FileLoader` definitely behaves differently that other modules. Renaming it is likely better.

[2021-11-09 16:47] ejguan commented on #103
Thanks for digging into it. You are right. And, the most concerning part is the functional API since we are currently using `load_file_...` to for each `FileLoader`. I don't want users to complain the inconsistent behavior across libs.

Thank you for pointing out. If we plan to move, we should definitely add deprecation warning at least before official release.

[2021-11-09 19:47] ejguan commented on #103
Also want to gather some insights from domains since this is going to be BC breaking.
cc: @pmeier @Nayef211

[2021-11-10 16:14] NivekT opened #106 "[DataPipe] Ensure all DataPipes Meet Testing Requirements"
## 🚀 Feature

We have many tests for existing DataPipes (both in PyTorch Core and TorchData). However, over time, they have become less organized. Moreover, as the [testing requirements](https://github.com/pytorch/pytorch/wiki/DataPipes-testing-requirements) expand, older DataPipes may not have tests to cover the newly added requirements.

This issue aims to track the status of tests for all DataP

[2021-11-10 16:31] ejguan commented on #106
This is awesome. One nit note: serializable should be same as picklable IMO.

[2021-11-10 18:30] Nayef211 commented on #103
I agree that `FileLoader` sounds misleading and that `FileOpener` would be a better name for what the datapipe is actually doing. I also think adding a deprecation warning is a good idea, so that users have time to migrate to the new datapipe.

[2021-11-10 20:16] pmeier commented on #103
+1 for `FileOpener`.

Not sure about the deprecation warning though. I mean `torchdata` is not even "released" yet and is also clearly labeled as prototype. Of course you can go for it, but that also ups the maintenance burden. For `torchvision` it is fine to ping me on PRs that break BC so I can land a fix quickly.

[2021-11-11 15:38] ejguan commented on #103
I agree with @pmeier mainly because we didn't mention these DataPipes and functionalities in PyTorch release. And, based on the prototyping policy, we should be able to switch name directly and prevent users to keep using a deprecated feature or name at prototyping phase.

Another way as I mentioned is to add a deprecation warning before our official release. Then, cleaning up during our branch cu

[2021-11-11 16:39] NivekT commented on #103
I agree that based on the prototyping policy we should be able to rename as we wish. I think the policy is very clear for things that exist in TorchData. Do you think that policy is clear to users for things that are in PyTorch Core? If so, then we can rename it without deprecation.

[2021-11-12 17:17] #52 closed

[2021-11-12 17:17] #91 closed

[2021-12-01 19:54] d4l3k opened #108 "ImportError: cannot import name 'StreamWrapper' from 'torch.utils.data.datapipes.utils.common'"
## 🐛 Bug

Seems like there's some messed up import paths? some things are torch.data where as others are torchdata?

[code]

## To Reproduce

Steps to reproduce the behavior:

1. `pip install -e git+https://github.com/pytorch/data#egg=torchdata`
1. `python -c "import torchdata"`

## Expected behavior

No import error

## Environment

[code]

## Additional context

[2021-12-01 19:57] d4l3k opened #109 "pip install torchdata"
Is the pypi package torchdata associated with this project? I naively ran `pip install torchdata` when trying to install this package and got some unexpectedly unrelated project.

https://pypi.org/project/torchdata/

That doesn't seem to have any github sources corresponding to it so wondering what's going on with that package.

[2021-12-01 19:58] ejguan commented on #108
Yeah, unfortunately as TorchData is not official release yet, you have to use PyTorch nightly with TorchData. The `StreamWrapper` didn't get into PT 1.10 release.

[2021-12-01 20:01] ejguan commented on #109
Simply speaking, we plan to upload wheel pypi in the short future. We plan to release against PyTorch 1.11.

That package is from a community repo. We have asked the writer to transfer it to us. Stay tuned for our first release. It should be held on both PyPi and conda.

[2021-12-01 20:04] d4l3k commented on #108
@ejguan got it, thanks!

[code]
solved that for me

[2021-12-01 20:04] #108 closed

[2021-12-02 03:33] d4l3k commented on #109
@ejguan got it, thanks for the clarification! Excited to try this stuff out :)

[2021-12-02 15:39] #86 closed

[2021-12-03 15:14] ejguan opened #112 "Warning for in_memory_cache"
## 🚀 Feature

Raise warning if users want to do in-memory cache over file handlers.

[2021-12-04 00:46] d4l3k opened #113 "datapipe serialization support / cloudpickle / parallel support"
I've been looking at how we might go about supporting torchdata within TorchX and with components. I was wondering what the serialization options were for transforms and what that might look like.

There's a couple of common patterns that would be nice to support:

* general data transforms (with potentially distributed preprocessing via torch elastic/ddp)
* data splitting into train/validation se

[2021-12-04 01:13] d4l3k opened #114 "fsspec support"
## 🚀 Feature

Add a new loader similar to the iopath loader that uses fsspec.

https://github.com/pytorch/data/blob/main/torchdata/datapipes/iter/load/iopath.py

https://filesystem-spec.readthedocs.io/en/latest/

## Motivation

It would be nice to have fsspec in addition to iopath for loading data from general data sources. A lot of projects already use it and support it which makes it a good to a

[2021-12-06 14:37] ejguan commented on #114
Wow. `iopath` is used a lot by research group, IIRC. If more STL project is using fsspec, it makes sense to provide such modular datapipe using fsspec.
I don't know Manifold is supported by fsspec internally.

[2021-12-06 14:49] ejguan commented on #113
I am hundred percent sure about it. I would say we would guarantee DataPipe graph (pipeline) is going to be serializable with user provided function. Our current way is to pickle lambda function using dill.

We have utility DataPipe provided to users to split data into two separate pipelines. This may not be related, but I want to let you know. We would provide dynamic sharding for users, which me

[2021-12-06 14:51] ejguan commented on #113
cc: @VitalyFedyunin to see if you want to supply other comments.

[2021-12-09 17:02] ejguan commented on #75
Closing this Issue as a refactor PR has been landed

[2021-12-09 17:02] #75 closed

[2021-12-09 17:03] #55 closed, assigned to nobody

[2021-12-10 03:32] #114 closed

[2021-12-10 18:58] VitalyFedyunin opened #117 "TODO"
Issue generate from TODO line

[2021-12-10 18:58] #117 closed

[2021-12-10 19:02] VitalyFedyunin opened #118 "TODO"
Issue generate from TODO line

[2021-12-10 19:02] #118 closed

[2021-12-10 19:48] VitalyFedyunin opened #119 "this test currently only covers reading from local"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/f102d25f9f444de3380c6d49bf7aaf52c213bb1f/test/test_local_io.py#L528
cc @ejguan

[2021-12-10 19:51] VitalyFedyunin opened #120 "[TODO] this test currently only covers reading from local"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/f102d25f9f444de3380c6d49bf7aaf52c213bb1f/test/test_local_io.py#L528
cc @ejguan

[2021-12-10 19:52] #119 closed

[2021-12-10 20:01] VitalyFedyunin opened #122 "[TODO] Figure out a way to consistently test caching when size is in megabytes"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/f102d25f9f444de3380c6d49bf7aaf52c213bb1f/test/test_datapipe.py#L70

[2021-12-10 20:01] VitalyFedyunin opened #123 "[TODO] __len__ Test: returns the length of source when it is less than the limit"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/f102d25f9f444de3380c6d49bf7aaf52c213bb1f/test/test_datapipe.py#L301

[2021-12-10 20:02] VitalyFedyunin opened #124 "[TODO] Replace the following tests with the corresponding tests in TorchText"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/f102d25f9f444de3380c6d49bf7aaf52c213bb1f/test/test_examples.py#L19

[2021-12-10 20:03] VitalyFedyunin opened #125 "[TODO] Make sure that `fork` complains when buffer becomes"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/f102d25f9f444de3380c6d49bf7aaf52c213bb1f/examples/vision/imagefolder.py#L80
cc @VitalyFedyunin

[2021-12-10 20:08] VitalyFedyunin opened #126 "[TODO] this will not work (or work crappy for non-seekable steams like http)"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/f102d25f9f444de3380c6d49bf7aaf52c213bb1f/build/lib/torchdata/datapipes/iter/util/hashchecker.py#L39
cc @VitalyFedyunin

[2021-12-10 20:09] VitalyFedyunin opened #127 "[TODO] This file copy-pasted from the pytorch repo"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/f102d25f9f444de3380c6d49bf7aaf52c213bb1f/build/lib/torchdata/datapipes/iter/util/ziparchivereader.py#L12
cc @VitalyFedyunin

[2021-12-10 20:09] VitalyFedyunin opened #128 "[TODO] https://github.com/pytorch/pytorch/issues/63095"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/f102d25f9f444de3380c6d49bf7aaf52c213bb1f/build/lib/torchdata/datapipes/iter/transform/bucketbatcher.py#L10
cc @ejguan

[2021-12-10 20:09] VitalyFedyunin opened #129 "[TODO] Verify _datapippe is not going to be serialized twice"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/f102d25f9f444de3380c6d49bf7aaf52c213bb1f/build/lib/torchdata/datapipes/iter/transform/bucketbatcher.py#L56

[2021-12-10 20:09] VitalyFedyunin opened #130 "[TODO] This file copy-pasted from the pytorch repo"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/f102d25f9f444de3380c6d49bf7aaf52c213bb1f/build/lib/torchdata/datapipes/iter/load/httpreader.py#L9
cc @VitalyFedyunin

[2021-12-10 20:09] VitalyFedyunin opened #131 "[TODO] This HTTP part is copy-pasted from the pytorch repo"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/f102d25f9f444de3380c6d49bf7aaf52c213bb1f/build/lib/torchdata/datapipes/iter/load/online.py#L13
cc @VitalyFedyunin

[2021-12-10 20:09] VitalyFedyunin opened #132 "[TODO] can this also have a timeout?"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/f102d25f9f444de3380c6d49bf7aaf52c213bb1f/build/lib/torchdata/datapipes/iter/load/online.py#L113

[2021-12-10 20:10] VitalyFedyunin opened #133 "[TODO] this will not work (or work crappy for non-seekable steams like http)"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/f102d25f9f444de3380c6d49bf7aaf52c213bb1f/torchdata/datapipes/iter/util/hashchecker.py#L65
cc @VitalyFedyunin

[2021-12-10 20:10] VitalyFedyunin opened #134 "[TODO] Fix the case that the length of source_datapipe is shorter than limit"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/f102d25f9f444de3380c6d49bf7aaf52c213bb1f/torchdata/datapipes/iter/util/header.py#L29

[2021-12-10 20:10] VitalyFedyunin opened #135 "[TODO] https://github.com/pytorch/pytorch/issues/63095"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/f102d25f9f444de3380c6d49bf7aaf52c213bb1f/torchdata/datapipes/iter/transform/bucketbatcher.py#L12
cc @ejguan

[2021-12-10 20:10] VitalyFedyunin opened #136 "[TODO] Verify _datapippe is not going to be serialized twice and is able to reconstruct"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/f102d25f9f444de3380c6d49bf7aaf52c213bb1f/torchdata/datapipes/iter/transform/bucketbatcher.py#L60

[2021-12-10 20:10] VitalyFedyunin opened #137 "[TODO] Add timeout to GDrive part of OnlineReaderIterDataPipe"
This issue is generated from the TODO line
https://github.com/pytorch/data/blob/f102d25f9f444de3380c6d49bf7aaf52c213bb1f/torchdata/datapipes/iter/load/online.py#L120

[2021-12-10 20:25] ejguan commented on #134
Assigning to myself as I remember this comment was added by me.

[2021-12-10 20:26] ejguan commented on #135
Task: Removing this TODO from codebase as the issue has been fixed.

[2021-12-15 14:09] fmassa opened #140 "Installing torchdata installs `example` folder as well"
### 🐛 Describe the bug

Looks like installing torchdata also installs `examples`. This should probably be removed from `setup.py` so that only the `torchdata` folder gets installed.

Example of what happens when trying to uninstall torchdata
[code]

### Versions

Lasted one from master

[2021-12-15 15:14] ejguan opened #141 "Decouple Dataset and MapDataPipe"
### 🚀 The feature

As we just decoupled `IterDataPipe` and `IterableDataset`, we should do the same for map-style

### Motivation, pitch

As the description.

### Alternatives

_No response_

### Additional context

_No response_

[2021-12-16 17:05] #140 closed

[2021-12-18 03:40] ejguan opened #144 "Multiprocessing with any DataPipe writing to local file"
### 🐛 Describe the bug

We need to take extra care all DataPipe that would write to file system when DataLoader2 triggered multiprocessing. If the file name on the local file system is same across multiple processes, it would be a racing condition.
This is found when TorchText team is using `on_disk_cache` to cache file.
DataLoader needs to know such DataPipe must be sharded with multiprocessing o

[2021-12-20 16:17] ejguan commented on #144
cc: @Nayef211

[2021-12-20 16:38] Nayef211 commented on #144
Thanks @ejguan for creating the issue. This is blocking distributed training for torchtext training recipes which uses torchdata backed dataset. I will follow the issue and hopefully we can get a fix for this soon!

[2021-12-21 17:22] ejguan opened #146 "Make all FileListers deterministic"
### 🐛 Describe the bug

Thanks to community's response (https://github.com/pytorch/pytorch/issues/70103)

Even though we don't need `Sampler` for `IterDataPipe`, a deterministic FileLister is definitely better. We need to test our lister can generates the same file order each time.

### Versions

master

[2021-12-24 02:18] tangbinh opened #149 "Maximum recursion depth exceeded when creating a DataLoader for an IterDataPipe dataset"
### 🐛 Describe the bug

It looks like there's an infinite loop involving the [`traverse`](https://github.com/pytorch/pytorch/blob/master/torch/utils/data/graph.py#L57-L65) function when we try to instantiate a data loader from the following dataset.

[code]

Here's the stacktrace:
[code]

### Versions

[code]

[2021-12-30 16:56] ejguan commented on #149
Thanks for pointing out the issue.

@NivekT We should add test cases of using Datapipe inside DataLoader to prevent such case happening again.

[2021-12-30 20:18] NivekT commented on #130
This issue has been resolved.

[2021-12-30 20:18] #130 closed

[2021-12-30 20:24] NivekT commented on #127
This issue has been resolved.

[2021-12-30 20:24] #127 closed

[2021-12-30 20:24] NivekT commented on #131
This issue has been resolved.

[2021-12-30 20:24] #131 closed

[2021-12-30 20:25] NivekT commented on #109
Closing this issue as our package is now on PyPI

[2021-12-30 20:25] #109 closed

[2021-12-30 20:26] NivekT commented on #126
Closing this because it is a duplicate of #133

[2021-12-30 20:26] #126 closed

[2021-12-30 20:51] ejguan opened #155 "Add test to validate graph"
### 🚀 The feature

We need to have tests to validate graph after traversal as we expected.
Sometimes, the graph of DataPipes can be traversed but wrong result could be returned.

Add the expected graph against each DataPipe instance. This would super helpful for the DataPipe with complicated logic like `OnDiskCacheHolder` and `Demux`, etc.

### Motivation, pitch

This can ensure the DataLoader ret

[2021-12-31 00:25] #149 closed

[2022-01-04 14:25] erip commented on #95
I'm happy to take this up.

It seems like if you return the lazily loaded module from some function, you don't actually need to support `as ...`. For example, you could do something like `np = lazy_load("numpy")` where you'd normally do this check.

One question about the lazy loading is how lazy we want to get. I understand the intent of this issue to effectively be a way to wrap up the try-excep

[2022-01-04 15:17] ejguan commented on #95
@erip

Thanks for taking interest in this issue.

This would cover partial requirement.

I think the ideal situation would be import module/submodule to global namespace lazily. And, when the methods from such module or submodule are invoked, the actual module is imported. By this mean, we don't need to assign the module to each DataPipe instance `self` to expose such modules into `__iter__` funct

[2022-01-04 15:23] erip commented on #95
I see. The failure to import would result in an immediate error, but the actual import is the lazy part. Is that right? In other words, attribute access on not-installed modules should never happen?

[2022-01-04 15:50] ejguan commented on #95
Yeah, you are right. The Error should be raised at the first place. Otherwise, it should be a bug.

[2022-01-04 15:58] erip commented on #95
Excellent, thanks for the clarification. One idea that's kind of messy is using `globals()` to populate the module with `as_`. The issue is that it will then be a global everywhere and not just within the file. For instance,

[code]

Using this, I think it might introduce some collisions or a heavily polluted global namespace.

[2022-01-04 16:14] ejguan commented on #95
You are right. Then, let's keep it as the minimum as possible. Not using global for now. If more users requested, we can easily extend it.

[2022-01-04 16:34] erip commented on #95
So you want to stick with the current, but wrap up the try/except logic?

[code]

[2022-01-04 17:21] #103 closed

[2022-01-04 17:45] erip commented on #95
I asked [here](https://stackoverflow.com/questions/70582704/how-can-i-lazily-import-a-module-in-python?noredirect=1#comment124772376_70582704) and it seems like [pandas has something similar](https://github.com/pandas-dev/pandas/blob/a6c1f6cccee6bbccfb29488a94664ed07db024d9/pandas/compat/_optional.py#L65) to what we want. They still need to import where used so it's not terribly different, but it

[2022-01-04 19:18] ejguan commented on #95
Sounds great.

[2022-01-05 15:17] NivekT opened #158 "Update caching examples with the latest API"
### 🐛 Describe the bug

Now that the PR related to the refactoring of `on_disk_cache` is merged, we need to update the caching [examples](https://github.com/pytorch/data/tree/main/examples) to reflect the latest API.

### Versions

main branch

[2022-01-05 15:28] ejguan commented on #158
Wait. I thought I had updated them.

[2022-01-05 16:39] ejguan commented on #158
You are right. I didn't modify the notebook files. Send a PR later. Thanks

[2022-01-05 22:30] ejguan opened #160 "Raise Error when HTTPReader get 503 Response"
### 🐛 Describe the bug

As I was testing the https://github.com/pytorch/data/blob/main/examples/text/CC100.ipynb, it would yield Error saying the object can not be decoded. I dug a little bit and found the root cause was HTTPResponse is a 503 Error.

But, I would expect the Error/Exception should be caught by HTTPReader
https://github.com/pytorch/pytorch/blob/2431218ee4ac1d2f016188c29869d817f6e3c7

[2022-01-06 16:53] ejguan opened #161 "Add a different bucketbatch DataPipe with max_token_num"
### 🚀 The feature

Requested by audio domain to have a bucketbatch with `max_token_num` (maybe also with infinite buffer).

### Motivation, pitch

A DataPipe to have similar logic like https://github.com/pytorch/audio/pull/2147

`min_len` and `max_len` can be achieved by a filterDataPipe.

### Alternatives

We may be able to combine it with the existing bucketbacth. And, `max_token_num` is mutual

[2022-01-06 17:24] erip commented on #161
cc @parmeet

[2022-01-06 18:59] ejguan commented on #158
Closing as the PR is landed.

[2022-01-06 18:59] #158 closed

[2022-01-07 21:29] #132 closed

[2022-01-07 21:29] #137 closed

[2022-01-08 16:36] erip commented on #161
I've been thinking about this and I'm interested to consider how this implementation will look. One challenge I envision is with materialization of the "lengths list" which is used to create the batches. Perhaps this is a feature that's only supported in `MapDataPipe`s unless there's some clever way to handle 1) getting lengths of all examples, 2) using the indices corresponding to those lengths t

[2022-01-10 14:48] ejguan commented on #161
Thanks @erip ,

I was talking to @nateanl earlier about the same concern. One of the reasons that`IterDataPipe` is introduced is to handle huge dataset that doesn't fit into memory. A streaming way to load data would be ideal. But, it means getting lengths of all examples may not be possible in all cases.
I consider a buffer size can be introduced for this DataPipe. If we set it as unlimited, we c

[2022-01-10 14:54] nateanl commented on #161
In torchaudio we have [``torchaudio.info``](https://pytorch.org/audio/stable/backend.html#info) method that reads the length of the audio without loading the whole file into memory. This could boost the speed of loading all the lengths into memory.

[2022-01-11 15:11] ejguan commented on #6
Closing this Issue as the PR has been landed.

[2022-01-11 15:11] #6 closed, assigned to nobody

[2022-01-11 15:12] ejguan commented on #141
Closing the PR as https://github.com/pytorch/pytorch/pull/70991 is landed

[2022-01-11 15:12] #141 closed

[2022-01-11 15:15] ejguan commented on #5
Thanks to @pmeier , we have added pre-commit hook to run auto formatter. `ufmt` is also included to make everything sorted.
Closing this Issue.

[2022-01-11 15:15] #5 closed

[2022-01-11 15:17] ejguan commented on #90
@NivekT Is this issue has been solved in one of your PRs? Can we close it?

[2022-01-11 16:16] NivekT commented on #90
Yep, fixed by https://github.com/pytorch/pytorch/pull/70367.

[2022-01-11 16:16] #90 closed

[2022-01-11 18:18] NivekT opened #163 "[DataPipe] DataPipe Deprecation Tracker"
We have a number of DataPipes that are being deprecated. Our general policy is that we first mark the DataPipe as deprecated with a warning, and wait at least one release cycle (~3 months) before removing it. Note that some DataPipes will be removed from the PyTorch Core library but will remain in TorchData.

## `IterDataPipe` Tracker

Status Types:
Deprecated - marked as deprecated with a warning

[2022-01-11 23:39] erip commented on #161
I think that's probably a fine tradeoff as compared to having the entire dataset in memory and would work well under a finite-buffer implementation.

[2022-01-12 20:13] ejguan commented on #161
Add a reference from TF: https://www.tensorflow.org/api_docs/python/tf/data/Dataset#bucket_by_sequence_length

[2022-01-13 21:49] ejguan commented on #144
One option to support backward compatibility is to modify `Saver` with a mutex or wait until a process has finished writing to the file.

[2022-01-14 20:40] NivekT opened #167 "Address CI issues related to GDrive download quota"
### 🚀 The feature

Mitigate false positive test failures related to Google Drive. Some possible solutions are:
1. Move the files to a location that is still on GDrive but has a higher daily download quota (or no quota at all)
   -  We can also use different files that are already in such GDrive location.
2. Make a request to third-party to life the quota for particular files

### Motivation, pitch

[2022-01-14 20:41] ejguan commented on #167
We may be able to use the API from google https://developers.google.com/drive/api/v3/about-sdk to see if this can be bypassed.

[2022-01-14 23:45] parmeet commented on #167
We have been long struggling with this issue on torchtext. As a middle-ground, we are doing daily caching on CircleCI that caches all the datasets in on job, and that is used by all other jobs/PR. But we are moving away from this in favor of mocked tests for our datasets #https://github.com/pytorch/text/issues/1493

[2022-01-18 15:19] #123 closed

[2022-01-18 15:19] #134 closed

[2022-01-18 22:13] NivekT commented on #101
Updating the issue:

Currently, the following lines should prevent users from registering multiple `IterDataPipe`s (or `MapDataPipe`s) with the same functional name:

https://github.com/pytorch/pytorch/blob/master/torch/utils/data/dataset.py#L93-L95

The issue is related the names of the methods/attributes within a subclass of `IterDataPipe`.

[2022-01-19 15:14] ejguan opened #171 "Demux (fork) can not be serialized if there is a child not depleted"
### 🐛 Describe the bug

As shown in https://github.com/pytorch/vision/pull/5187#issuecomment-1015479165

Not just special use case like vision. If users use `in_memory_cache` or any data structure to capture/store the data from any ChildDataPipe from `demux` or `fork`, the pipeline becomes non-serializable from the second epoch.

This may not interfere the DataLoader iteration. But, it is definite

[2022-01-19 15:34] ejguan opened #172 "Add comprehensive serialization tests"
### 🚀 The feature

We have serialization tests in PyTorch Core https://github.com/pytorch/pytorch/blob/b56ba296b1cb5d65a3fe2e33cc1d910481baa644/test/test_datapipe.py#L431

There are a few more things needed:
- [ ] Cover all DataPipe
- [ ] Cover DataPipe serialization after iteration starts
- [ ] Cover serialization for factory DataPipe (1-to-N) like `demux` and `fork`, especially when one of child

[2022-01-19 17:08] NivekT commented on #171
Yes, I am aware. I believe any DataPipes that contain a buffer will not be serializable without custom `__getstate__` and `__setstate__` methods that avoid storing any components that are not serializable (e.g. the buffer).

If I understand correctly, this is not blocking anything in torchvision, correct?

[2022-01-19 17:11] ejguan commented on #171
TorchVision is actually blocked by this. They can't use demux if DataLoader is involved. The another workaround Phillip proposed would also not work. We have to fix it.

[2022-01-19 17:12] ejguan commented on #171
If `buffer` is attached to instance, serialization won't work. If `buffer` is created within iterator, then it's fine.

[2022-01-19 22:06] NivekT commented on #172
I just added these PRs related to this issue:

https://github.com/pytorch/pytorch/pull/71456
https://github.com/pytorch/pytorch/pull/71497

Those additions should cover the basic serialization (first checkbox), but we need more work the remaining ones.

Another thing to add may be - if a DataPipe takes a function as argument, it should be serializable with `dill`?

[2022-01-19 22:11] ejguan commented on #172
Please correct me if I misunderstand it. I think the test has been added https://github.com/pytorch/pytorch/blob/f45e217c0158c247772f6491a18662cc972c29cd/test/test_datapipe.py#L445

[2022-01-19 22:12] NivekT commented on #172
Yep, the test has been added but we need to make sure all relevant DataPipes are added to the test.

[2022-01-19 22:13] ejguan commented on #172
Sounds great.

[2022-01-20 09:08] pmeier opened #173 "New line stripping is broken in binary reading mode"
Let's say we have this file:

[code]

If we open in text reading mode (default), we get the following output for the lines:

[code]

[code]

By default, Python recognizes the different line terminators and maps them to `\n`. Thus, our current line stripping is sufficient:

https://github.com/pytorch/data/blob/c06066ae360fc6054fb826ae041b1cb0c09b2f3b/torchdata/datapipes/iter/util/plain_text_reader.

[2022-01-20 09:52] pmeier opened #175 "Refactor test suite to be more readable?"
While working on #174, I also worked on the test suite. In there we have the ginormous tests that are hard to parse, because they do so many things at the same time:

https://github.com/pytorch/data/blob/c06066ae360fc6054fb826ae041b1cb0c09b2f3b/test/test_datapipe.py#L382-L426

I was wondering if there is a reason for that. Can't we split this into multiple smaller ones? Utilizing `pytest`, placing

[2022-01-20 10:10] pmeier commented on #175
Or even more readable:

[code]

[2022-01-20 14:35] ejguan commented on #175
I like this idea!
cc: @NivekT Do you want to incorporate this into your PR https://github.com/pytorch/pytorch/pull/70215

[2022-01-20 14:41] pmeier commented on #175
Ah, that might be an issue. In PyTorch core you cannot rely on `pytest` so if you want to have this there, you need to adapt what I proposed a little:

- For `unittest` each test case needs to inherit from `unittest.TestCase` or any other derivative.
- `@pytest.fixture`'s are not available. A workaround might be to store the `files_with_text` in a class constant and access it from there.

[2022-01-20 14:44] ejguan commented on #175
I believe we can do `setupClass` for this case.

[2022-01-20 15:38] NivekT commented on #175
Thanks for the suggestion! I think this is cleaner than what we have. It will take quite a bit of manual refactoring of each DataPipe to get there.

I am wondering if we can do something even better - a standard template to test out DataPipe with less manual code writing (maybe just specifying the inputs), similar to what `OpsInfo` does in PyTorch Core.

[2022-01-20 22:04] #173 closed

[2022-01-21 19:25] erip commented on #175
FWIW, we've started something similar in torchtext. See [here](https://github.com/pytorch/text/blob/main/test/data/test_dataset_utils.py) if you're interested.

[2022-01-21 20:46] ejguan commented on #171
I have no idea why I created such issue, as I have sent a PR to fix it. https://github.com/pytorch/pytorch/pull/71311
Closing. Sorry about that @NivekT

[2022-01-21 20:46] #171 closed

[2022-01-21 20:47] ejguan commented on #171
Actually `Fork` is not fixed...

[2022-01-22 14:07] erip opened #178 "Add a flatmap datapipe"
### 🚀 The feature

Add a `FlatMapDataPipe` which simulataneously flattens nested `IterDataPipe`s and applies a function to nested pipes.

### Motivation, pitch

I have tarballs containing tarballs. When dealing with these types of recursive data, it's useful to have a mechanism to both flatten the structure and apply a function to it so I only need to consider the "inner-most" data.

### Alternati

[2022-01-24 13:45] erip commented on #178
Maybe another good analog would be `flatten` which does that same thing without the intermediate `map` (equivalent, flatmap with identity function)

[2022-01-24 14:37] ejguan commented on #178
We do have a plan to add `flatmap` but the behavior may be different than the proposal. We expect `flatmap` would expand the returned list from `map_fn`.
[code]

We do have a operator named `unbatch`, which behaves same as `flatten`

[2022-01-24 15:05] erip commented on #178
Hmm, I think maybe you're right and that my implementation is a `concatmap`. The difference is when the `map` happens (before for `flatmap`, after for `concatmap`). 🤔

[2022-01-24 15:12] ejguan commented on #178
Technical speaking, this `flatmap` can also be applied in your use case. The function becomes a generator yielding data..

[2022-01-24 15:18] erip commented on #178
Yes, the pseudocode I have in mind is basically

[code]

So the `read_from_tar` becomes the generator yielding data and `flatmap` flattens it into a `IterableDataPipe`.

[2022-01-24 16:21] #136 closed

[2022-01-25 19:35] Nayef211 commented on #144
This seems like a promising approach. Do you guys have any plans to work on this in the foreseeable future? I can also try to contribute once I have more bandwidth!

[2022-01-25 19:54] ejguan commented on #144
Feel free to grab it. I might not have time to add it in the next a couple of weeks.

[2022-01-27 15:28] #178 closed

[2022-01-28 15:34] ejguan opened #184 "Implement `UnzipperIterDataPipe`"
### 🚀 The feature

Add `unzip` as requested by both Vision and Text teams.
[code]
We may be able to reuse the logic of `_ChildDataPipe`https://github.com/pytorch/pytorch/blob/fa38e93fe98bfcbdb11288ecfbe5af5c264aabb3/torch/utils/data/datapipes/iter/combining.py#L145

Support `tuple`, `list` maybe `dict`?

### Motivation, pitch

It's way better than letting users to use the following script to mimic

[2022-01-28 15:45] ejguan commented on #184
cc: @NivekT Do you want to work on it since `demux` and `fork` are both implemented by you?

[2022-01-29 14:29] erip commented on #184
Does it make sense to add a `ignore_idx: Union[int, Tuple[int, ...]` which allows `unzip` to skip over certain elements within the inner dp? This avoids the problem, so you'd have something like

    dp0, dp1 = dp.unzip(ignore_idx=2) # or dp.unzip(ignore_idx=(2,))

[2022-01-31 14:53] ejguan commented on #184
Yeah. Probably doable.

[2022-01-31 16:34] NivekT commented on #184
I will add it to my list of TODOs.

[2022-02-01 16:11] pmeier opened #189 "`RarArchiveLoader` fails for nested rar archives"
### 🐛 Describe the bug

For this example, I'm using [this archive]().

---

For a single archive, `RarArchiveLoader` works fine:

[code]

[code]

As you can see from the output, the archive is actually a rar of rars. Thus, we need to use `RarArchiveLoader` again. Trying to iterate now leads to

[code]

[code]

pointing to

https://github.com/pytorch/data/blob/fb29c810e6e8881e5a3558743d9573cb82134c

[2022-02-01 16:15] ejguan commented on #189
Will take a look!

[2022-02-01 16:17] ejguan commented on #189
BTW, can I have a link to download that Dataset? The link above doesn't work.

[2022-02-01 16:38] pmeier commented on #189
Oops, fixed the link in the first post.

[2022-02-02 02:00] ejguan commented on #189
Spent long time figuring out the bug caused by our hacky patch. We can't simply patch `_read` method. With nested rar file, the inner file handle becomes `DirectReader`. When it starts to parse header within inner archive, it would invoke `_read` as well so our `seek` would violate the logic to parse header.

Will try to resolve it tmrw.

[2022-02-03 17:24] ejguan commented on #146
Closed as https://github.com/pytorch/pytorch/pull/70435 is landed

[2022-02-03 19:39] NivekT opened #195 "Documentation Improvements Tracker"
Here are some improvements that we should make to the documentation. Some of these likely should be completed before beta release.

- [ ] Add docstrings for the class `IterDataPipe` and `MapDataPipe`
- [ ] Review the categorization of `IterDataPipe` in `torchdata.datapipes.iter.rst`
- [ ] Edit first sentence of each DataPipe docstring to be a concise summary of functionality (also include function

[2022-02-04 13:53] pmeier commented on #189
We should document that and close this afterwards.

[2022-02-04 14:25] ejguan commented on #189
I will open a PR to raise Error for the case of nested rar file

[2022-02-04 14:29] pmeier commented on #189
Even better, thanks!

[2022-02-08 17:07] ejguan opened #200 "Register Functional API to different DataPipe"
### 🚀 The feature

[code]
Using the `functional_datapipe` above would register this functional API to `MapDataPipe`. As we want to register this functional_datapiep to the `IterDataPipe`, I have to do the following trick.

[code]

### Motivation, pitch

Option 1:
Use the type annotation of the first input datapipe from `__init__` or `__new__` function to determine which DataPipe class we should re

[2022-02-08 22:09] Nayef211 opened #204 "Getting `headers don't contain content-disposition` error when downloading data from Google Drive"
### 🐛 Describe the bug

I seem to intermittently get the following error when executing the following piece of code to download torchtext datasets from Google drive.
[code]
Stack trace
[code]
According to @parmeet:

The relevant discussion for this error can be found on this PR thread https://github.com/pytorch/text/pull/1594#issuecomment-1032824032.

cc @ejguan

### Versions
[code]

[2022-02-09 17:52] VitalyFedyunin opened #210 "Ability to track buffer statistics for `.fork` `.shuffle` `.demux` and similar pipes"
### 🚀 The feature

Ability to get statistics like maximum used size, elements passed etc.

### Motivation, pitch

Lots of unoptimized datasets had to use infinite buffer of some kind and it is important to know how bad situation is.

### Alternatives

_No response_

### Additional context

_No response_

[2022-02-09 22:16] ejguan commented on #204
This issue may also related to https://github.com/pytorch/data/issues/167
Using an google sdk may resolve it.

[2022-02-10 15:42] #184 closed

[2022-02-10 15:49] NivekT commented on #200
I personally like Option 2 better. It is more obvious what is being registered to which class.

[2022-02-10 15:57] NivekT opened #213 "Spin off `IterDataPipe` and `MapDataPipe` from `dataset.py` file"
Since we are not aliasing `Dataset` and `IterableDataset` anymore, this is possible and will make the code cleaner (especially the .pyi file).

[2022-02-10 22:16] NivekT opened #214 "Certain DataPipes may not work with DataLoader multiprocessing if `dill` is installed"
### 🐛 Describe the bug

The following code snippet doesn't work on MacOS when the package `dill` is installed.

[code]
#### Error Message:
[code]

### Versions

OS: macOS 12.1 (x86_64)
GCC version: Could not collect
Clang version: 12.0.0
CMake version: version 3.19.6
Libc version: N/A

Python version: 3.9.6 (default, Aug 18 2021, 12:38:10)  [Clang 10.0.0 ] (64-bit runtime)
Python platform: macOS-1

[2022-02-11 18:08] ejguan opened #218 "[v0.3.0] Release Tracker"
We cut a [release branch](https://github.com/pytorch/data/tree/release/0.3.0) for the 0.3.0 release.

We will keep cherry-picking all PRs landed to main branch until PyTorch 1.11.0 official released.

[2022-02-14 17:20] ejguan opened #222 "Workflow to generate documentation should not deploy for a PR"
### 🐛 Describe the bug

My PR #221 should not update the `gh-pages` branch in the workflow to generate documentation. https://github.com/pytorch/data/tree/gh-pages

We can test if doc generation is correct or not on PRs. And, we should only deploy changes to gh-pages when it's a push on `main` branch.

### Versions

main

[2022-02-14 20:17] #222 closed

[2022-02-15 22:07] NivekT commented on #214
Update on what we are going to do about this:
1. Opened an issue with `dill`
2. Change our implementation:
    - Try `pickle` first, if it fails (most likely because the function is a lambda), use `dill` with `recurse=True`
    - Also store the state: whether we use `pickle` or `dill` while serializing

We should be careful to see if `recurse=True` has any unreasonable side effect.

[2022-02-16 22:40] ejguan commented on #45
Looking at the code base, I still think it would be better if we make IterDataPipe as a singleton Iterator. Like our implementation of `Fork`, `Demux` and etc. They have already been singleton. If one child datapipe is referenced multiple times, `_Fork`, `_Demux` won't provide the same time for each reference of the child datapipe. This is crucial because we are providing different behaviors for D

[2022-02-16 22:47] NivekT commented on #45
I spent a lot time thinking about this as well, and I think we will have to have one iterator per DataPipe.

Some other useful, potentially features:
- Automatically reset the iterator when all elements are yielded (this seems important)
- Automatically fork when a second iterator is wanted (may be bad, not sure how often users actually want multiple iterators per DataPipe, manual forking should b

[2022-02-16 22:50] ejguan commented on #45
The missing feature in my mind is to reset in the middle of iteration. This can not be achieved by current generator function in `__iter__`.

[2022-02-17 22:31] ejguan opened #232 "`_get_response_from_http` doesn't work on Colab."
### 🐛 Describe the bug

Code ponter here:
https://github.com/pytorch/data/blob/6c5a9cb040740db1c5385fe9cc6ca3e5307d49f0/torchdata/datapipes/iter/load/online.py#L13

Faling code:
[code]

Code with right result:
[code]

![image](https://user-images.githubusercontent.com/68879799/154581876-d9784ef6-1eef-48a6-bcce-063eccccdf98.png)

### Versions

main

[2022-02-17 22:33] ejguan commented on #232
I will check what I can fix tomorrow. It seems this only happens on colab. The tests on our CI are consistently succeeded on Linux/Mac/Windows.
Just let you know about this bug. cc: @NivekT

[2022-02-18 00:09] Nayef211 commented on #232
@parmeet just as a fyi, this is why the text classification tutorial was failing on Collab.

[2022-02-18 20:29] #232 closed

[2022-02-21 20:19] pmeier opened #237 "Graph traversal is broken for custom iter datapipes"
[code]

[code]

Without the `.map()` call it works fine. I don't think this is specific to `.map()` though. From trying a few datapipes, this always happens if `self._dp` is composed in some way.

[2022-02-22 14:47] ejguan commented on #237
I believe this is due to the function `noop` is owned by `CustomIterDataPipe`. When we call `map`, `MapperIterDataPipe` would take reference of `CustomIterDataPipe`, and `CustomIterDataPipe` takes reference by `self._dp`, we are experiencing cyclic reference here.
'As a workaround, we can move `noop` out of the `CustomIterDataPipe`. But, the solution would be changing `traverse` function to preven

[2022-02-22 14:55] ejguan commented on #237
Another way would be changing it to staticmethod as this function doesn't really use `self`.

[2022-02-22 14:58] NicolasHug commented on #237
Thanks for the info @ejguan

In general, we'll be using non-static functions that rely on arbitrary `self.xyz` attributes, so static methods aren't an option for us. We can pass these to functions, for some extra verbosity as @pmeier mentioned.

So that we can plan on how to best move forward on our side, how long do you think a fix would take @ejguan ?

[2022-02-22 14:59] ejguan commented on #237
`Mapper` ----> `CustomIterDataPipe.noop`
`CustomIterDataPipe` -----> `Mapper`

`pickle` itself understands the circular references. `traverse` should behave similarly. We will fix it anyway.

[2022-02-22 15:00] ejguan commented on #237
It will be my top priority next week. I need to prepare all release-related stuff this week.

[2022-02-22 18:31] Nayef211 commented on #232
@ejguan thanks for fixing this issue to help unblock breakages in torchtext's text classification tutorial!

[2022-02-22 19:05] Nayef211 commented on #232
I just want to verify. Do we need to add the following line to our tutorial moving forward?
`!pip install "urllib3>=1.25" requests --no-cache-dir`

It seems like the classification tutorial is still failing unless the above line is added. However, since you specify `urllib3 >= 1.25` in the torchdata requirements.txt file, shouldn't this ensure that pip upgrades the system version of `urllib` to sa

[2022-02-22 19:07] ejguan commented on #232
Yes. It will be updated today in RC release.

[2022-02-23 15:35] henripal opened #245 "Support large data inputs and DDP consumption"
### 🚀 The feature

DataPipe support for very large datasets at source and sink levels:

*Source level*:
Support for large sharded datasets (think 100M protein sequences across 1000s of CSV files, 100M molecular graphs in 1000s of pickled binaries, ...)
- allow for loading and batched pre-processing
- some support for shuffling

*Sink level*:
Support for easy parallelization of dataloading when tra

[2022-02-24 19:46] NivekT commented on #214
This is fixed as https://github.com/pytorch/pytorch/pull/72896 has landed.

[2022-02-24 19:46] #214 closed

[2022-02-24 20:21] NivekT commented on #80
This is done with https://github.com/pytorch/data/pull/224, but we still need to automate the process.

[2022-02-24 20:22] NivekT commented on #46
Closing this since `Decompressor` and `Enumerator` have landed.

We can re-open this issue if there is strong demand to upstream the other two DataPipes.

[2022-02-24 20:22] #46 closed

[2022-02-24 20:24] NivekT commented on #172
Note that https://github.com/pytorch/pytorch/pull/73119 addresses these requirements, we still need to do the same for the DataPipes in TorchData.

[2022-02-24 22:09] ejguan opened #253 "Tracker of Releng"
### 🚀 The feature

This issue is used to track TODOs in my mind for releng:
- [x] Compare released git_version with the commit on the top of branch
- [ ] Auto doc gen for RC release
- [ ] Add conda upload
- [ ] Turn on nightly release
- [ ] Turn on nightly doc (currently used main branch )
...

After compilation matrix is enabled:
- [ ] Turn on matrix
- [ ] Add artifacts upload and download. The w

[2022-02-24 22:40] NivekT commented on #253
"Auto doc gen for RC release" - I believe we can add a GH action for that (i.e. whenever a push is made to the branch `release/0.x.0`, build a doc in the folder `0.x.0` in the `gh-pages` branch.

[2022-02-24 22:41] ejguan commented on #253
I am working on it currently. It should be attached after the `build_test_upload` workflow for RC release.

[2022-02-25 08:39] pmeier opened #256 "Support `keep_key` in `Grouper`?"
`IterKeyZipper` has an option to keep the key that was zipped on:

https://github.com/pytorch/data/blob/2cf1f208e76301f3e013b7569df0d75275f1aaee/torchdata/datapipes/iter/util/combining.py#L53

Is this something we want to support going forward? If yes, it would be nice to have this also on `Grouper` and possibly other similar datapipes. That would come in handy in situations if the key is used mul

[2022-02-25 16:56] ejguan commented on #256
Sounds reasonable to me

[2022-02-25 17:07] ejguan commented on #245
TorchData is introduced for loading large dataset with better syntax.
For you first pitch, I do not fully understand why it is not efficient. We provide `batch` for you to batch prior data to a list. Then, you can provide vectorized function to apply on a batch.
The example you point out is basically reading rows from a single csv file. I believe you want to yield multiple rows at the same time. B

[2022-03-01 19:52] ejguan commented on #163
For `TarArchiveReader`, should we add a deprecation warning in main branch as 0.3.0 branch cut has been finished.

[2022-03-01 19:53] ejguan commented on #129
Closing as it's been fixed.

[2022-03-01 19:53] #129 closed

[2022-03-03 17:58] ejguan commented on #237
I was able to provide a work around for `traverse` function to provide graph to you. But, I found a problem if I let `traverse` support this behavior.
When `multiprocessing` step in, `pickle` is used to serialize/deserialize such object. I originally thought pickle was able to do the serialization even with the circular reference. It turned out pickle didn't work in such case like the example belo

[2022-03-03 21:19] henripal commented on #245
Thank you! Let us know if we can help test or give feedback in any way!

[2022-03-06 04:02] josiahls commented on #245
Not sure if this is a similar thing, but I'm concerned about being able to cache certain points in a pipeline (maybe there already is something?).

My problem is simple: split a datapipe into train/valid datapipes.

For example, I want to split a datapipe into train/valid datapipes. I think this would be a combo of `fork` and `filter`. The problem is that per iter, the filter may have to iterate t

[2022-03-07 14:25] ejguan commented on #245
@josiahls
You can use `Demux` https://github.com/pytorch/pytorch/blob/1d497114e7e13822df403082975d4b212d836207/torch/utils/data/datapipes/iter/combining.py#L215 for this use case.

[2022-03-07 17:15] parmeet opened #280 "DataFrameMakerIterDataPipe is broken"
### 🐛 Describe the bug

Cannot convert DataPipe to yield DataFrame

(Below example taken from https://github.com/pytorch/data/blob/39e48da2a8a076f4a00715f82f761b606ba416f1/torchdata/datapipes/iter/util/dataframemaker.py#L42)
[code]

Error message
[code]

### Versions

Installed latest from source using following command:

[code]

[2022-03-07 17:29] ejguan commented on #280
cc: @wenleix @NivekT

[2022-03-07 17:45] parmeet commented on #280
One more information to add: I installed TorchArrow from source on Mac following instructions here https://github.com/facebookresearch/torcharrow#from-source

[2022-03-07 18:35] wenleix commented on #280
This is due to https://github.com/facebookresearch/torcharrow/pull/218 , DFDP still use `DataFrame` as the constructor name:  https://github.com/pytorch/data/blob/39e48da2a8a076f4a00715f82f761b606ba416f1/torchdata/datapipes/iter/util/dataframemaker.py#L73

Wondering if we should have tests on DFDP (at least on Phabricator) to catch such issues earlier? ^_^

[2022-03-07 20:52] NivekT opened #282 "Extend `FSSpecFileLister` and `IoPathFileLister` to support loading multiple directories"
### 🚀 The feature

**This is a good first issue for new contributors.**

Previously, `FileLister` only allowed a single directory as input argument (`root: str`). Later, in the following PR, we have added support for multiple directories (`root: Union[str, Sequence[str], IterDataPipe]`):
* https://github.com/pytorch/pytorch/pull/72260

We would like to do the same for `FSSpecFileLister` and `IoPat

[2022-03-07 21:01] NivekT commented on #160
For new contributors who would like to work on this issue, we recommend:
1. Reproduce the exception if possible
2. Implement changes that catch the error in `HTTPReader` and handle/re-raise the error as appropriate
3. Update the unit test for `HTTPReader` to ensure the new behavior works as expected

[2022-03-07 21:04] NivekT commented on #256
For new contributors who would like to work on this issue, we recommend:
1. Look at how `keep_key` is used by `IterKeyZipper`
2. Add the same feature to `Grouper`
3. Update the unit test for `Grouper` to ensure the new behavior works and is backward compatible with existing usages

[2022-03-08 21:22] ejguan opened #284 "Tracker for Debuggability Improvement"
### 🚀 The feature

This is a tracker issue for the improvement for debuggability
- [ ] Print out a graph of DataPipe from the Dictionary returned from `traverse` function https://github.com/pytorch/pytorch/blob/11231b0f935c092598c994a4bab686485aac1856/torch/utils/data/graph.py#L54
[code]
can be printed out as the following
[code]
- Find a way to differentiate DataPipe instance in the graph
  - [ ]

[2022-03-08 21:46] NivekT commented on #284
I made a similar [Google Doc](https://docs.google.com/document/d/1-YpeRiRFI7H2RcOyEMJWrKTQ3y6M8bPI7USj_YGkj70/edit#) here. Not sure if it is easier to brainstorm using GitHub issue or the doc to flesh out what we want to do for each point.

[2022-03-08 21:53] ejguan commented on #284
We should keep design in google doc. Adding it here for OSS users to gather their feedback

[2022-03-11 20:30] NivekT opened #293 "[RFC] Make the TorchData Library Standalone from PyTorch Core Library"
### 🚀 The feature

**Note that this is a request for comment; currently, there is no plan to make TorchData a standalone library.** We would like to solicit feedback from the community.

Proposal: Make the TorchData library standalone with little to no dependency on the PyTorch Core library (i.e. [`torch`](https://github.com/pytorch/pytorch)).

### Motivation, pitch

An argument for a standalone l

[2022-03-13 13:56] josiahls commented on #293
I would really like this on my end. I'm writing a RL framework and part of the goal is to pickle a model and deploy it on a robotic system. I may or may not want torch actually installed there (maybe im using onnx?), but still have a pipeline for generically executing code.

[2022-03-15 09:32] NicolasHug opened #295 "ShufflerIterDataPipe.set_shuffle_settings(True) gets overridden by DataLoader"
Sorry if this isn't the right place for this bug report, please let me know.

I think there's an issue with the shuffling API. Doing

[code]

won't actually shuffle anything unless `shuffle=True` is also passed to DataLoader.

This is because of

https://github.com/pytorch/pytorch/blob/3399876306772738936596f1711ec1b7f41495c8/torch/utils/data/dataloader.py#L231-L232
and
https://github.com/pytorch/

[2022-03-15 13:39] ejguan commented on #295
I think this is intentional design based on Philips's requirement that shuffle would be a no-op by default. And, users can turn it on/off after the pipeline is created.
cc: @pmeier

[2022-03-15 13:49] NicolasHug commented on #295
Hm, I'm not sure this is even the case right now: the default value of the `default` parameter is `True` https://github.com/pytorch/pytorch/blob/3399876306772738936596f1711ec1b7f41495c8/torch/utils/data/datapipes/iter/combinatorics.py#L85

In torchvision, `hint_shuffling()` sets `default` to False, so that users can then explicitly call `dp.set_shuffle_settings(True)`.

But the problem here is tha

[2022-03-15 13:56] ejguan commented on #295
Right, it depends on where we want users to set shuffle settings. We use this current implementation because users would use DataLoader to provide shuffle option (via sampler) and we still want to provide the similar experience.

[2022-03-15 13:58] pmeier commented on #295
We needed a way to disable shuffling at creation time of the datapipe while later being able to enable it through the data loader.

[2022-03-15 14:03] NicolasHug commented on #295
Let's go back to my initial issue, sorry if I'm not being clear enough:

[code]

The dataloader is actually not shuffled at all (for the reasons described in my original comment). This is unexpected because:

- one would expect `dp.set_shuffle_settings(True)` to actually shuffle the dataset
- a non-datapipe iterable dataset woudn't require the `shuffle` parameter to be passed to DataLoader - in fa

[2022-03-15 14:16] ejguan commented on #295
There are basically two different use cases we want to support:
- Iterate over DataPipe
- Iterate using DataLoader
For the first use case, users should be able to use `set_shuffle_settings` to control if they want to do shuffling in the pipeline. For the latter use case, `DataLoader` would become the POC to control it.

Do you have any suggestion on how to improve this UX?

[2022-03-15 14:22] NicolasHug commented on #295
The `DataLoader` shouldn't silently override what was set on the datapipe. Perhaps one way would be to change the default of `DataLoader`'s `shuffle` default to `None` instead of False. I believe this was the assumption behind using

[code]

from https://github.com/pytorch/pytorch/blob/3399876306772738936596f1711ec1b7f41495c8/torch/utils/data/graph_settings.py#L30-L35

[2022-03-15 15:34] ejguan commented on #295
I see. That makes sense. This would even help the case of non-DataPipe IterableDataset. Thanks for the suggestion, will make a change in DataLoader.

[2022-03-16 09:44] NicolasHug opened #298 "Suggestion: remove the `default` parameter of `ShufflerIterDataPipe`"
IIUC, the `default` parameter of `ShufflerIterDataPipe` is intended to allow users to disable shuffling and potentially re-enable it manually later.

This seems to be supported already through the `set_shuffle_setting(False)` method, namely:

[code]

So I would suggest to remove the `default` parameter so as to simplify the interface of `ShufflerIterDataPipe`, as its use-case is already natively s

[2022-03-16 13:50] pmeier commented on #284
Regarding graph visualization: I needed this today and hacked something together:

[code]

Simple example:

[code]

![sinple](https://user-images.githubusercontent.com/6849766/158603014-6b378534-672d-4016-ad57-0e6de35b07a5.png)

Complex example:

[code]

![coco](https://user-images.githubusercontent.com/6849766/158604303-5fde5b93-a84c-430a-9aee-b6e638a4e56b.png)

---

I've used `networkx` as backe

[2022-03-16 14:26] ejguan commented on #284
Thanks @pmeier , This looks great.
For the backend lib, I personally would prefer tensorboard to visualize the graph because PyTorch is using it to visualize the model graph. https://pytorch.org/tutorials/intermediate/tensorboard_tutorial.html#inspect-the-model-using-tensorboard

Code reference from tensorboard about how to transform it into `GraphDef` proto: https://github.com/tensorflow/tensorbo

[2022-03-16 15:02] pmeier opened #299 "Print out a graph of DataPipe from the Dictionary returned from `traverse` function"
https://github.com/pytorch/pytorch/blob/11231b0f935c092598c994a4bab686485aac1856/torch/utils/data/graph.py#L54

[2022-03-16 15:03] pmeier commented on #299
Regarding graph visualization: I needed this today and hacked something together:

[code]

Simple example:

[code]

![sinple](https://user-images.githubusercontent.com/6849766/158603014-6b378534-672d-4016-ad57-0e6de35b07a5.png)

Complex example:

[code]

![coco](https://user-images.githubusercontent.com/6849766/158604303-5fde5b93-a84c-430a-9aee-b6e638a4e56b.png)

---

I've used `networkx` as backe

[2022-03-16 15:04] pmeier commented on #299
Thanks @pmeier , This looks great.
For the backend lib, I personally would prefer tensorboard to visualize the graph because PyTorch is using it to visualize the model graph. https://pytorch.org/tutorials/intermediate/tensorboard_tutorial.html#inspect-the-model-using-tensorboard

Code reference from tensorboard about how to transform it into `GraphDef` proto: https://github.com/tensorflow/tensorbo

[2022-03-16 15:09] ejguan commented on #299
Let me ask around about it. It seems PyTorch core is still relying on it https://github.com/pytorch/pytorch/blob/0effac2b6aa15b5bf5c941b2b44d8762a787ab36/torch/utils/tensorboard/_pytorch_graph.py#L5

[2022-03-16 17:01] ejguan commented on #298
Sounds great to me. Eliminating this argument would also help us unify the API with TorchArrow's shuffle.

Great.

And, for DataLoader, we still need to modify the default argument to None to prevent overriding if users don't provide such `shuffle` argument.

[2022-03-16 17:22] NivekT commented on #298
I think the docstring is also slightly out of date. We should update those as well.

[2022-03-16 17:28] NivekT opened #301 "Add TorchArrow Nightly CI Test"
### 🚀 The feature

TorchArrow nightly build is now [available for Linux](https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html) (other versions will be next).

We should add TorchArrow nightly CI tests for these [TorchArrow dataframe related unit tests](https://github.com/pytorch/data/blob/main/test/test_dataframe.py).

### Motivation, pitch

This will ensure that our usages remain compa

[2022-03-16 18:08] NicolasHug opened #302 "Notes on shuffling, sharding, and batchsize"
(I'm writing this down here to have a written trace, but I'm looking forward to discuss this with you all in our upcoming meetings :) )

I spent some time porting the torchvision training recipes to use datapipes, and I noticed that the model I trained on ImageNet with DPs was much less accurate than the one with regular datasets. After **a lot** of digging I came to the following conclusion:

1.

[2022-03-16 18:20] ejguan commented on #293
Another feedback from our a downstream library (ray):
They previously provided an interface for users to transform `ray.Dataset` into `IterableDataset`. As we plan to collaborate to switch it to `IterDataPipe`, they would have a hard requirement to use `torch=1.11.0`. In order to provide a flexible requirements, they need to figure out how to fall back to use `IterableDataset` if `torch` doesn't m

[2022-03-16 18:22] abhi-mosaic commented on #293
I'm working on a downstream library (composer) that has the exact same issue -- we would love to allow users to build datasets with `torchdata` without hard requirements on the `torch` version.

[2022-03-16 19:01] NivekT opened #303 "DataPipe for GCS (Google Cloud Storage)"
### 🚀 The feature

Build a DataPipe that allows users to connect to GCS (Google Cloud Storage). There is a chance that existing DataPipes may suffice, so we should examine the relevant APIs first.

### Motivation, pitch

GCS (Google Cloud Storage) is one of the commonly used cloud storage for storing data.

### Alternatives

Existing DataPipes are sufficient and we should provide an example of how

[2022-03-16 19:41] ejguan commented on #161
Closing as this is done by #283

[2022-03-16 19:41] #161 closed

[2022-03-16 19:42] #81 closed

[2022-03-16 19:43] ejguan commented on #213
Is this done?

[2022-03-16 19:48] NivekT commented on #213
Yep

[2022-03-16 19:48] #213 closed

[2022-03-16 19:58] ejguan commented on #302
Thank you for adding the detailed notes.

I totally understand this problem. This is one thing we want to solve during this half. For each `shuffler`, it should contain their own RNG rather than using a global RNG. For the same seed, I am actually not sure if we want to have the same seed across processes, I believe you want the same seed to make sure all data are covered by a single epoch. In the

[2022-03-16 20:55] NivekT commented on #302
I might be missing something obvious here. If you shuffle before sharding, can't you make worker_0 take the first 1/96 samples, worker_1 takes the second 1/96 and so on?
This should make sure each sample is used by at least one worker.

In that case, each worker can still have its own RNG for random transformations.

[2022-03-16 21:08] jkulhanek opened #306 "Add tfrecord support"
### 🚀 The feature

Please add tfrecord support. This could be implemented as a "TFRecordLoader" similar to "TarArchiveLoader". It would load the tfrecord file and parse the records.

### Motivation, pitch

A lot of TensorFlow users have their datasets stored as tfrecords for efficient data loading. It would be great to support tfrecords to be able to use the same data format for both frameworks. T

[2022-03-16 21:27] NivekT commented on #306
This seems like a reasonable request to me and we will definitely consider a PR from the community to add this.

We'll also update here if we decide to work on it. If anyone thinks this will be valuable to their work, feel free to react or comment on this issue.

[2022-03-16 21:56] jkulhanek commented on #306
I will provide a PR soon.

[2022-03-17 00:19] ejguan commented on #302
I went through the example again and found the reason about this discrepancy.
For Dataset, it relies on the sampler on main process to distribute the workload. For the last batch, the main process would send a batch of indices to a **single worker process** per distributed process. That's why each rank would send 1 batch with size 18 at the end.
For IterDataPipe, each process would own 1/96 datase

[2022-03-17 10:57] pmeier commented on #299
Played with it some more. I've adapted the same style as `torchviz` and this the result for `torchvision.prototype.datasets.load("voc")`:

![Digraph gv](https://user-images.githubusercontent.com/6849766/158789091-09a3660e-43db-486b-8fed-b415b5447f3a.png)

There is an issue with the `Demulitplexer` but that seems fixable. Let me know if you want me to continue on this route.

[2022-03-17 11:06] NicolasHug commented on #298
Thanks for the feedback, I opened https://github.com/pytorch/pytorch/pull/74370

[2022-03-17 16:41] NivekT commented on #299
I talked with @albanD offline about using TensorBoard. I don't think using it will add anything beyond what `networkx` provides and `torchviz` also doesn't use TensorBoard. IMO not using it is fine.

I have been thinking about the issue related to `demux`, `fork`, `unzip` (basically any DP that returns multiple child DPs) as well, at a first glance it doesn't seen outrageous to show the `_ChildDat

[2022-03-17 17:17] tcapelle opened #307 "Blog post about torch data"
### 📚 The doc issue

Hello,
I have been looking at torchdata for a while now, so once it got released I decided to write about it!
I put together a small article about the usage here:
http://wandb.me/torchdata

Would really love feedback on this.

cc. @ejguan @msaroufim

### Suggest a potential alternative/fix

-

[2022-03-17 19:38] NivekT commented on #307
Thank you so much for using our library and writing a blog post! It looks great!

We re-wrote some part of our README due to user feedback, partly because in PyTorch there is a class `Dataset`,  so we are being extra careful while using that word. Do you mind changing the follow?

"A library that enables building DataSets with building blocks"
to
"A library that enable building datasets with reusa

[2022-03-17 22:30] tcapelle commented on #307
Thanks for the feedback, I modified the text and added a link to the documentation.

[2022-03-18 08:03] pmeier commented on #299
Yeah, all datapipes that return multiple ones when instantiated were affected. I fixed the issue and now

[code]

gives

![Digraph gv](https://user-images.githubusercontent.com/6849766/158960026-b574fdea-4d6a-4eb6-b689-9dcdbc7e1248.png)

I agree. I don't want to show `_ChildDataPipe`'s by default, since the user never put them in. The same goes for the extra underscore in front of `_Forker` for ex

[2022-03-18 08:13] pmeier commented on #284
One thing that would also simplify debugging, is for each datapipe to have a `__repr__`. We can follow the approach `nn.Module` is going:

[code]

[code]

That would also improve the graph visualization from #299, since each node could contain the `__repr__` of the datapipe rather than just its name.

[2022-03-19 07:17] jkulhanek commented on #306
I added a PR implementing the feature.

[2022-03-19 16:52] lezwon opened #309 "Add Support for bzip2 decompression in Decompressor"
### 🚀 The feature

As of now [Decompressor](https://github.com/pytorch/data/blob/main/torchdata/datapipes/iter/util/decompressor.py) does not have support for .bz2 files. This could be added.

### Motivation, pitch

I am currently working on https://github.com/pytorch/vision/issues/5352 with the [USPS](https://www.csie.ntu.edu.tw/~cjlin/libsvmtools/datasets/multiclass.html#usps) dataset which uses

[2022-03-19 19:31] josiahls opened #310 "MapDatapipe Mux/Demux Support"
### 🚀 The feature

MapDatapipes are missing Mux and Demux pipes as noted in https://github.com/pytorch/pytorch/issues/57031

Talked to @ejguan on https://discuss.pytorch.org/t/mapdatapipe-support-mux-demux/146305, I plan to do a PR with Mux/Demux added. However, I will add rough outlines / ideas here first. I plan to match the same test strategy as the Mux/Demux pipes already in IterDataPipes.

##

[2022-03-19 20:54] josiahls commented on #310
There are a couple of assumptions that seem like can differ between the Iter and Map versions of Demux/Mux. Please let me know if any caveats / assumptions you would expect from a Mux/Demux. I'm also curious about what the default bahvior is supposed to be. I am noticing that *lazy* loading seems to be a default

_**Assumption 1**_
`_ChildDataPipe` can assume that the instance id can be non-int, j

[2022-03-20 03:58] NivekT commented on #309
Thanks for the suggestion. We will be open to accepting a PR that adds bzip2 to Decompressor.

[2022-03-20 06:50] lezwon commented on #309
@NivekT I can take it up :)

[2022-03-21 13:46] ejguan commented on #299
I talked to the POC who owned TensorBoard in PyTorch. We are not deprecating it as the the API for Tensorboard is not going to change. I settup a meeting with them on Tuesday to understand what's the benefit using TensorBoard.
Only talking about graph visualization, TensorBoard does not provide any benefit compared to torchviz. I am thinking about by adding profiling into TorchData graph, Tensorbo

[2022-03-21 13:57] ejguan commented on #284
I would like to change it to `iter.ABC` from `ABCIterDataPipe` because the same name can be shared by both `iter` and `map` DataPipe.

[2022-03-21 14:14] pmeier commented on #284
Not sure what you mean. Could you give an example? Why does the functional interface need special handling? For example, calling `dp.map(...)` internally simply does `Mapper(dp, ...)`, right? If so, the returned datapipe will have a `__repr__` if `Mapper` has one.

[2022-03-21 14:15] ejguan commented on #310
Thanks for all the detail. cc @NivekT for the original author of Iter Demux.
I just skim through the assumptions. For the buffer and exhaustion, I don't think Map-style DataPipe needs such variables as the data should be indexable. And, the reason we have such variables is IterDataPipe is a streaming way, it requires us to cache the output from prior DataPipe.
I will take a deeper look at your pro

[2022-03-21 14:31] pmeier commented on #284
Maybe just color the nodes according to their type? Since it seems this is only relevant for the graph visualization, let's move the discussion to #299 if there is more to it.

[2022-03-21 19:34] NivekT commented on #310
I need more time to think about `demux` but here is a version of `mux` that I quickly put together:

[code]
It can be used as such:
[code]

Nothing is final and happy to discuss how the APIs should be:
I think the key difference compared to your version is that this one assume the input DataPipes have 0-index unless an alternate is specified in the input (so it doesn't need to check with `isinstan

[2022-03-22 17:53] mjlbach opened #315 "Missing cuda builds on conda channel"
### 🐛 Describe the bug

It seems like the cuda builds are missing from the PyTorch conda channel.

1. Create `environment.yml`:
[code]

2. Install the environment `conda env create -f environment.yml`

3. Activate `torchdata`
[code]

4. check for the installed PyTorch package:
[code]

5. When removing `torchdata` from the dependency list:

[code]

### Versions

N/A

[2022-03-22 18:03] ejguan commented on #315
Thanks for finding the issue. Will fix it ASAP.

[2022-03-22 19:30] ejguan commented on #299
Just talked to TB team about integration. They currently don't have a solution to connect graph with profiling result. And, considering TB is quite heavy framework, I don't think TB is going to be a better way compared with torchviz.

And, follow-up on the topic to differentiate `iter` and `map`.
For future development, if we are able to connect profiling result with graph, we may want to visualiz

[2022-03-22 19:45] NivekT commented on #299
There is at least one `IterDataPipe` that takes in `MapDataPipe` as input, maybe that can be a verbose option in the future to show whether something is `iter` or `map`.  At some point, we may also have to consider DataPipes that interacts with `torcharrow` DataFrames (or maybe that is where our graph starts/ends).

I am going to edit [this issue](https://github.com/pytorch/data/issues/284) a litt

[2022-03-22 22:01] ejguan commented on #315
It should have been fixed. Closing it as I have tested it locally and checked the info of all conda packages. Feel free to re-open it if it's still blocking you.

[2022-03-22 22:01] #315 closed

[2022-03-22 22:03] mjlbach commented on #315
Just verified it works, thanks for the fix!

[2022-03-23 00:47] #309 closed

[2022-03-23 07:41] pmeier commented on #299
Do you want me to send my code as PR?

[2022-03-23 08:59] tcapelle commented on #307
Hello again,
Should I make a PR to add this example somewhere?

[2022-03-23 13:35] ejguan commented on #253
Nightly release is working for wheel. But, it seems the conda token we have used to upload packages to `pytorch` channel cannot be used to upload them to `pytorch-nightly` channel.
See: https://github.com/pytorch/data/runs/5653050846?check_suite_focus=true

[2022-03-23 13:40] ejguan commented on #253
Another bug for wheel, the nightly version currently relies on date https://github.com/pytorch/data/blob/76733df6a8903bf95b938cf611355f05f5c2f821/packaging/pkg_helpers.bash#L93

But, the date on CI macos machine is not correct. I need to do a quick test.

[2022-03-23 15:43] NivekT commented on #307
Hi,

I see that you have Jupyter notebooks. I think the options we have are:
1. If the source data can be downloaded as part of the notebooks, we can add those notebooks into the `examples/` directory.
2. We can make an additional page on the documentation site by converting the blog post into a new RST file in `docs/source`.

Perhaps, we can potentially link to the blog post from our documentatio

[2022-03-23 16:57] NivekT commented on #310
1. Currently, we require the `classifier_fn` to return a value in `[0, ..., num_instance - 1]`, basically the `instance_id`. Every element is classified and assigned to the DataPipe of that `instance_id`. If we replace `instance_id`, we will have to take an additional argument that indicates what the possible classifications are and what the ordering should (which would impact the ordering of the

[2022-03-23 17:10] tcapelle commented on #307
That would be great! I really enjoying torchdata a lot!

[2022-03-23 17:56] VitalyFedyunin commented on #307
super nit: I believe our doc engine also supports MD format and notebooks format.

[2022-03-23 19:52] VitalyFedyunin commented on #310
Any reason to keep datapipes as MapDataPipe? You can always convert them into IterDataPipe, use standard `demux` and avoid all keep results in memory issues.

The main reason why we decided to limit MapDataPipes functionality is to encourage users to convert to IterDataPipes as fast as possible.

[2022-03-24 10:18] pmeier opened #322 "Warnings for deprecated datapipes are insufficient"
Consider this snippet:

[code]

There are three problems here:

1. Running this with `python $SCRIPT` will not give you any warning, because [`DeprecationWarning`](https://docs.python.org/3/library/exceptions.html#DeprecationWarning)'s are filtered by default. They are only visible if a user activates them manually, i.e. running `python -Wd $SCRIPT`:

[code]

    Since most users won't do that, we

[2022-03-24 14:36] NivekT commented on #322
@pmeier Thanks for the suggestion. I think your version is better and you should send a PR.

For your convenience, here is the list of DataPipes being deprecated:
* https://github.com/pytorch/data/issues/163

Two small complications:
1. `RoutedDecoder` is deprecated and will be removed without replacement
2. These DataPipes live in different libraries, making it hard to merge the changes without b

[2022-03-24 14:50] pmeier commented on #322
Not sure why this an issue. If you look into my suggestion above, only `old_class_name` needs to be passed. If neither `new_class_name` or `new_functional_name` is passed, only the first part of the message is generated. For example:

[code]

[code]

This is internal functionality, right? In that case I wouldn't worry to much. You are looking at one day of failure, which is kind of ok for code tha

[2022-03-24 15:07] NivekT commented on #322
Sounds reasonable, feel free to put in a PR

[2022-03-24 21:03] josiahls commented on #310
@VitalyFedyunin As an "outside" user, I would expect basic torchdata to allow me to build a common sense/non-weird data pipe for something popular like MNIST which is going to be **_Map based_**. I would expect a simple map based dataset to only require MapDataPipes. Having to switch to and from Iter pipes to train on a "simple" map indexed dataset doesn't seem intuitive to me even if using the It

[2022-03-24 21:08] josiahls commented on #310
@NivekT I've been busy this week, but should be able to spend this weekend on this. I do like the implimenations you put, they look way cleaner than mine (possibly because I was using the Iter versions as a base lol). This weekend I'll try to poke some holes into your implementation with some simpler unit tests (not the complex mnist I've been using).

    "I am starting to think it might be desir

[2022-03-24 21:33] ejguan commented on #299
Feel free to send PR, I believe Kevin would love to review it.

[2022-03-25 14:53] ejguan commented on #302
Do you think adding a `batch_size` to `DataLoaderV2` to guarantee batching at the end can be an option? Then, users can still do batching/unbatching in the pipeline.
cc: @VitalyFedyunin

[2022-03-28 13:17] pmeier commented on #298
Closed with pytorch/pytorch#74370.

[2022-03-28 13:17] #298 closed

[2022-03-28 13:28] pmeier commented on #237
`pickle` automatically detects duplicate items and handles them without a recursion error. The problem arises, because we have our [custom serialization logic](https://github.com/pytorch/pytorch/blob/5667c4ea21f15af8e707953f4337c9b7044b9fb4/torch/utils/data/datapipes/datapipe.py#L96-L102). With this patch

[code]

serialization works as expected:

[code]

The logic I patched above was introduced i

[2022-03-28 14:24] ejguan commented on #237
Wondering what would be the visualized graph with such circular reference?

[2022-03-28 14:30] NicolasHug commented on #256
I took a quick look at this issue.
I wonder if it would make sense to instead avoid the overlap between `keep_key` and `merge_fn`? For example we could remove the `keep_key` parameter, and instead let the `merge_fn` function accept `key, source_dp_item, ref_dp_item` ? Then passing `keep_key=True` would be equivalent to passing

[code]

[2022-03-28 16:54] pmeier commented on #256
Yes, we should be consistent. But there is no harm to phase out `keep_key` on the datapipes that have that param in favor of `merge_fn`.

[2022-03-28 17:16] NivekT opened #334 "Modify `IterKeyZipper` to accept any number (2+) of `IterDataPipe`"
### 🚀 The feature

Currently, `IterKeyZipper` can only zip two DataPipes together.

https://github.com/pytorch/data/blob/198cffe7e65a633509ca36ad744f7c3059ad1190/torchdata/datapipes/iter/util/combining.py#L13

The proposal is to modify its API to allow users to pass in any number (two or more) `IterDataPipe`, rather than just strictly two. We will have to think carefully about how the `key_fn` and

[2022-03-28 17:16] ejguan commented on #237
Yeah. We might need to use a different method to handle dispatch pickling method for callable inside IterDataPipe.
Using `copyreg` might be an option here (https://docs.python.org/3/library/copyreg.html#module-copyreg). But, we need to make the sure after pickling IterDataPipe, the pickling method for callable function is reset to original ones. cc: @NivekT

[2022-03-28 17:18] ejguan commented on #237
Actually, I am not 100% sure this issue can be resolved by using `copyreg`. The way we do serialization may need to change. When `dill` is not available, we use `self.__dict__` directly. If not available, we might be able to use the protocol you designed. @NivekT

We could add a test for such circular reference DataPipe and make sure the `__reduce__` and other pickle-related functions working as e

[2022-03-28 17:30] NicolasHug commented on #256
Yes :)

That was actually going to be my next question: if we were to add a `merge_fn`, what would it look like? I guess it has to have the following signature (and default behaviour)?

[code]

[2022-03-28 17:36] pmeier opened #335 "Unify `buffer_size` across datapipes"
The `buffer_size` parameter is currently fairly inconsistent across datapipes:

| name               |   default `buffer_size` | infinite `buffer_size`   | warn on infinite   |
|--------------------|-------------------------|--------------------------|--------------------|
| Demultiplexer      |                    1e3 | -1                       | yes                |
| Forker             |

[2022-03-28 17:40] pmeier commented on #334
Another alternative is to "stack" multiple `IterKeyZipper`'s. This is what `torchvision` is currently doing and it is ugly:

- [SBD](https://github.com/pytorch/vision/blob/1db8795733b91cd6dd62a0baa7ecbae6790542bc/torchvision/prototype/datasets/_builtin/sbd.py#L112-L120)
- [VOC](https://github.com/pytorch/vision/blob/1db8795733b91cd6dd62a0baa7ecbae6790542bc/torchvision/prototype/datasets/_builtin/v

[2022-03-28 18:15] NivekT commented on #256
@NicolasHug

If we choose to add `merge_fn` for `Grouper`, it will replace `wrapper_class`.

https://github.com/pytorch/pytorch/blob/ea44645c9a682a4e212e64b94a86383c3388ed6b/torch/utils/data/datapipes/iter/grouping.py#L262-L264

As @ejguan mentioned, `wrapper_class` is applied onto a `List` (variable `result_to_yield`) with length not known in advance. I do agree that `Grouper` is doing something

[2022-03-28 20:04] ejguan commented on #237
I can take a look after I helped on landing S3

[2022-03-28 20:12] NivekT commented on #237
FYI, this PR is work in progress (basically add graph traversal support for `MapDataPipe`, but feel free to propose how default serialization should be done differently and I will update the other PR to match what we end up deciding here.

* https://github.com/pytorch/pytorch/pull/74851

[2022-03-29 08:16] NicolasHug commented on #256
Should we just add `keep_key` to `Grouper` and remove `merge_fn` from the `Zipper` then? Both APIs would be consistent.

Perhaps I'm missing something but it looks like `merge_fn` isn't really necessary since it can be achieved just as easily with a subsequent call to `Mapper`?

[2022-03-29 14:03] ejguan commented on #256
Yeah. When `IterKeyZipper` starts to support multiple datapipes, the `merge_fn` is not really useful. IIRC, `merge_fn` is used as a syntax sugar for a sequence of `IterKeyZipper`.

[2022-03-29 15:42] pmeier opened #339 "Build the nightlies a little earlier"
`torchdata` builds the nightlies at 15:00 UTC+0

https://github.com/pytorch/data/blob/198cffe7e65a633509ca36ad744f7c3059ad1190/.github/workflows/nightly_release.yml#L6

and publishes them roughly 30 minutes later. The `torchvision` nightlies are build at 11:00 UTC+0 and also published roughly 30 minutes later.

This creates a 4 hour window where the `torchvision` tests that pull in `torchdata` run

[2022-03-29 15:48] ejguan commented on #339
I can move it back to UTC 11 or 12.
I changed it yesterday because pytorch core sometimes take more time to update nightly release for a certain platforms. Then, for that certain platform, torchdata can't not build the release with right version for conda release.

[2022-03-29 15:51] pmeier commented on #339
`torchvision` should also be hit by the same issue, right? Unfortunately, I can't be much of a help, since our release workflow is different and hidden in https://our.internmc.facebook.com/intern/chronos/job/?jobname=torchvision%20nightly%20trigger&smc=chronos_gp_admin_client. See pytorch/vision#1449.

[2022-03-29 16:01] ejguan commented on #339
It seems true like the windows build of nightly torchvision https://anaconda.org/pytorch-nightly/torchvision/files

I will change it to UTC 11

[2022-03-29 19:22] ejguan commented on #339
Fixed by #338

[2022-03-29 19:22] #339 closed

[2022-03-29 19:24] ejguan commented on #339
For the problem I mentioned, by enabling nightly wheel and nightly conda release at different times, might resolve this issue. Add it to the tracker for Releng improvement.

[2022-03-30 12:44] NicolasHug commented on #237
@ejguan @NivekT , going back to @pmeier 's https://github.com/pytorch/data/issues/237#issuecomment-1080651807:

- Does torchdata have to support `dill`?
- If not, would we consider merging Philip's proposed diff for fixing the cyclic reference issue?
- If yes, would you mind providing some details on why `dill` is needed? Hopefully we can still find a fix for the cyclic reference issue while still

[2022-03-30 14:14] ejguan commented on #237
No. We can revert the custom serialization code to unblock you. cc: @NivekT about if reverting will cause BC breaking?

[2022-03-30 14:22] NivekT commented on #237
The most common use case for `dill` is the serialization of `lambda` and similar functions. If we don't support it, any attempt to serialize a DataPipe with a `lambda` function will fail since `pickle` can't serialize `lambda` functions.

For context, prior to that PR, we also used `dill` to serialize. The difference is that the operations were performed within `__getstate__` and `__setstate__`  o

[2022-03-30 15:42] NicolasHug commented on #237
Thanks @NivekT

This means that the cyclic reference issue is still happening for users that have `dill` installed, right? Unfortunately I'm not sure we can expect torchvision's users to *not* have installed `dill`.

Do you think there is a way to fix the `dill` serialization to properly handle the cyclic ref issue?

[2022-03-30 16:05] NivekT commented on #237
Yep, the PR is meant to be a quick fix to unblock your work and I marked that as a TODO. I agree with your point and am looking into it.

[2022-04-01 14:24] ejguan opened #341 "Add backend switch for `IterDataPipe.__getstate__`"
The problem is that we will need to patch every single module where this is imported. You cannot patch the place where it is defined, but rather where it is used. If you look above, we are not patching `._utils.serialization` but rather `.datapipes.datapipe`, because this is where the flag is used. If we now need use this flag in multiple modules, we need to patch all of them. This is very brittle

[2022-04-01 15:56] ejguan commented on #237
This PR should resolve `traverse` https://github.com/pytorch/pytorch/pull/75034

But, for the problem of `dill`, we still need to fix it.

[2022-04-01 20:02] ejguan opened #342 "[Codegen] pyi files are not included in the wheel"
### 🐛 Describe the bug

We generate pyi file after setup function. https://github.com/pytorch/data/blob/71a16a3b63966af0f60af74d3044b3c963cfc5fb/setup.py#L89

This is not useful if users doing `python setup.py install`. And, for the pre-compiled library using `python setup.py bdist_wheel`, the pyi file would never be packaged into the wheel/conda.

### Versions

main branch

[2022-04-01 20:05] ejguan opened #343 "[Codegen] gen_pyi would change directory that leads to wrong directory to generate wheel"
### 🐛 Describe the bug

This is the follow up of #344

If we move `gen_pyi` before `setup` function, we would encounter a problem that the working directory is moved to `torchdata/datapipes` due to the code in PyTorch Core.

https://github.com/pytorch/pytorch/blob/ea2e0e773b6c043f0e17962c5a236b9f87241761/torch/utils/data/datapipes/gen_pyi.py#L173-L176

I have to change directory back to the root i

[2022-04-03 12:41] lezwon commented on #301
@NivekT I'd like to take up this issue

[2022-04-04 19:55] ninginthecloud opened #346 "Combining multiple `datapipes` together"
### 🚀 The feature

Introduce a few more multiplexer to handle combining multiple (two or more) DataPipes.
In this issue, I'm going to discuss 3 different multiplexers

## InOrderMultiplexer
Introduce `InOrderMultiplexerDataPipe`
Which takes a `List` of IterDataPipe, and yields items from DataPipes with respect to the order of DataPipes.

For example
[code]

## ZipMultiplexer
Introduce `ZipMultiple

[2022-04-04 21:00] ejguan commented on #346
- For `InOrderMultiplexerDataPipe`, we have `concat`  in PyTorch Core serves the same behavior.
https://github.com/pytorch/pytorch/blob/4fb7fa081e4fb5df3bf7bc85dcb9a3a9a3ac7133/torch/utils/data/datapipes/iter/combining.py#L14-L30
- For `RoundRobinMultiplexer `, we do have `mux` in PyTorch Core serves the same behavior.
https://github.com/pytorch/pytorch/blob/4fb7fa081e4fb5df3bf7bc85dcb9a3a9a3ac713

[2022-04-04 22:08] ninginthecloud commented on #346
Thanks @ejguan for replying and pointing me all the useful code pointers~

That's cool~ I think it serves the usage~

`mux` implemented `all_dataset_exhausted` situation, do we consider providing `mux_shortest` to exhaust smallest dataset?

Similar to `mux`, `zip` handles the case of `shortest_dataset_exhausted`, we can consider `zip_longest` as well.

[2022-04-04 22:12] ejguan commented on #346
This is a good question. Considering `mux` and `zip` at the same time, should we provide a unified behavior  for them? Let `mux` and `zip` representing the `shortest` and `mux_longest` and `zip_longest` for all depleted.

cc: @NivekT WDYT

[2022-04-05 04:39] nrlugg opened #348 "FSSpecFileLister error with S3 root"
### 🐛 Describe the bug

The following code — listing files on S3 — fails:

[code]
[code]

What's happening is that for the S3, `fs.protocol` is a `List[str]` (specifically `["s3", "s3a"]`) which is breaking `self.root.startswith(fs.protocol)` which excepts `Union[str, Tuple[str, ...]]`.
https://github.com/pytorch/data/blob/71a16a3b63966af0f60af74d3044b3c963cfc5fb/torchdata/datapipes/iter/load/fssp

[2022-04-05 04:42] nrlugg commented on #348
Since `fs.protocol` is a class variable, a *very* hacky workaround is:
[code]
(assuming you know the filesystem will always be `"s3"`

[2022-04-05 07:55] pmeier commented on #335
@NivekT does the :+1: mean you agree with my suggestions and I can send a PR?

[2022-04-05 13:37] ejguan commented on #335
@pmeier Sorry I missed this issue before. We are currently exploring a plan to add a `BufferSpec` class (configuration) for buffer. We should provide an instance for default value of all `DataPipe`. And, the `infinite_buffer` should be another special instance of such class. WDYT about this idea

[2022-04-05 13:49] NicolasHug commented on #237
Thanks a lot for looking into this. Should we keep this issue open until the bug is also fixed for cases where `dill` is installed?

[2022-04-05 13:53] ejguan commented on #237
Yeah. Let's re-open it as traverse a circular referenced DataPipe graph would break with `dill`

And, This issue is slightly different from https://github.com/pytorch/data/issues/341, which asks for a new feature to register backend for traverse.

[2022-04-05 13:57] ejguan commented on #348
Thanks for finding such issue. Please feel free to open a PR to fix it.
And, we are currently trying to land a PR that uses `AWSSDK` to load `s3`. https://github.com/pytorch/data/pull/165 . But, in order to use it, you may have to compile `awssdk` by yourself.
We are still working on releasing a nightly wheel with awssdk library.

[2022-04-05 14:09] ejguan commented on #335
Yeah. And, for this issue, we should definitely unify the buffer_size.
For the `infinite` one, I agree `None` is better than `-1`. WDYT whether or not we should raise Error for negative value. If not raising value, we are kind supporting both sentinels for infinite.

[2022-04-05 14:13] pmeier commented on #335
Let's not have two ways to do the same thing. If we decide on a sentinel, everything else should error `if not isinstance(buffer_size, int) and buffer_size > 1`.

[2022-04-05 19:24] ejguan opened #349 "Follow up on AWSSDK integration for nightly release"
### 🚀 The feature

Adding this issue to track all follow-up works need to be done for TorchData nightly release integrated with AWSSDK for @ydaiming and myself @ejguan

- [x] Add pybind to third-party library (submodule)
- [x] Add awssdk to third-party library (submodule)
- [x] Modify cmakelist to statically link awssdk into torchdata and validate the CI
- [ ] Convert codegen into cmake to prevent

[2022-04-05 22:16] ejguan commented on #342
In order to unblock the PR from AWS, I added the patch from #344 into #165. As it's landed, closing this issue

[2022-04-05 22:16] #342 closed

[2022-04-05 22:16] ejguan commented on #343
See https://github.com/pytorch/data/blob/88b23334fad6991f15457293c65cfa8690bcb36f/setup.py#L89-L92

[2022-04-05 22:32] ejguan commented on #293
I almost forget one of the most important benefits by making TorchData standalone. If we have some changes landed into PyTorch Core that, a dependent changes in TorchData have to wait until the nightly release is updated for PyTorch Core.
On the other hand, if we have BC breaking changes in PyTorch Core, we have to open another PR in TorchData to incorporate such BC breaking then make sure the nig

[2022-04-06 13:51] ejguan opened #350 "Failed conda nightly release"
### 🐛 Describe the bug

See https://github.com/pytorch/data/actions/runs/2102015416

After the PR for AWSSDK #165  is landed, the conda nightly needs some modification to add compiler related configuration for `conda-build`.

### Versions

main

[2022-04-06 21:16] NivekT commented on #346
The change to the behavior of `mux` will be BC-breaking but I do agree that this is the better API and we should switch to that.

[2022-04-06 22:46] parmeet commented on #144
@ejguan I wonder if there is someone looking at this issue and trying to implement mutex around saver datapipe?
cc: @hudeven

[2022-04-06 23:37] ejguan commented on #144
Sorry that I haven't found time to work on this.

[2022-04-07 13:00] NicolasHug opened #352 "DataLoader tutorial does not handle num_workers > 0"
I just wanted to document an issue with the tutorials https://pytorch.org/data/beta/tutorial.html#working-with-dataloader

The code in the tutorial will not work when running multiple DataLoader processes as the datapipe will be duplicated across workers:

[code]
gives

[code]

Even though this is still beta, it may still be worth  letting users know about such pitfalls.

Also, since there are var

[2022-04-07 13:44] ejguan commented on #352
Thanks for the feedback!!!

Yeah. Like where users should put sharding in the datapipe graph.

[2022-04-07 14:50] datumbox commented on #302
@ejguan I think ensuring that each image is processed only once per training epoch is a very common and reasonable assumption that we should maintain. Note that there techniques such as [Repeated Augmentation](https://github.com/pytorch/vision/blob/main/references/classification/sampler.py#L7) that rely on agreeing on using a single subset of data across processes and then generate augmentations o

[2022-04-07 15:23] ejguan commented on #302
@datumbox Thanks for your insights on the effect of random seed. I agree the `shuffler` should share the same seed across processes to make sure all images are processed by an epoch.

Here is my thinking about the random seed. Whatever random operations before sharding should use the same random seed to make sure the whole datasets are the same across process.
I wish I can gather your opionion on

[2022-04-07 17:05] ninginthecloud commented on #346
Yep. I will follow up with a PR.

[2022-04-07 17:15] ejguan commented on #346
Thank you!!!

[2022-04-07 22:46] abhi-mosaic commented on #302
@datumbox Hi! I'm an external user and was just following this thread as I am also very interested in sharding/shuffling behavior with DataPipes. I noticed your comment above and just wanted to clarify one thing:

The assumption of "each image is processed only once per training epoch" is not guaranteed true when DDP is used along with `drop_last: False`, even for indexed datasets. PyTorch require

[2022-04-08 04:11] nrlugg commented on #348
Will do! And thank for letting me know about `awssdk`

[2022-04-08 08:16] datumbox commented on #302
@abhi-mosaic Thanks for the input.

Though I agree with the technical details you provided, it's important to note how the two points being made here differ:
1. Currently it's true that Batch padding is very common and at the end of the epoch more samples are drawn if `drop_last=False`. In this case as you correctly noted above, it's going to be a very small number of images as the number of dupli

[2022-04-08 08:33] NicolasHug commented on #302
@ejguan I think your suggestion of keeping the seed constant across workers up until the sharding is reasonable. As @datumbox   re-itereated, we need different seeds after that. Let's discuss this more in depth in today's meeting, along with a robust user-friendly API, following up on https://github.com/pytorch/data/issues/352#issuecomment-1091758594

[2022-04-08 16:03] ejguan commented on #343
Another issue with the pyi gen. If `torch` is not installed into our environment and we call `python setup.py clean`, the setup script would raise ImportError because `gen_pyi` can not be imported from https://github.com/pytorch/data/blob/2623265ed3cfcbb039d8e0c28c183d2cdca1a4b6/setup.py#L19

What we should do is to move the `import` part into the if clause above and only import `gen_pyi` when the

[2022-04-08 17:58] #350 closed

[2022-04-08 20:20] NivekT commented on #307
Closed by #340

[2022-04-08 20:20] #307 closed

[2022-04-08 21:38] NivekT commented on #144
It seems like we need something within DataLoader to handle all these locks across writers of different DataPipes? I think wrapping a mutex around a single `Saver` will not suffice since another `Saver` may still try to access the same file for writing. Is this correct?

[2022-04-10 15:17] PatternFinder opened #355 "Exception: Could not get the file at https://s3.amazonaws.com/... [RequestException] None."
### 🐛 Describe the bug

Code that throw the excpetion:

code refuse to download via torchtext.datasets, but I can download the data right off the browser just fine.

Exception raised:
Traceback (most recent call last):
  File "C:\python\Python310\lib\site-packages\urllib3\connectionpool.py", line 700, in urlopen
    self._prepare_proxy(conn)
  File "C:\python\Python310\lib\site-packages\urllib3\co

[2022-04-10 15:34] PatternFinder commented on #355
Alternatively, how could I change wikitext2.py so I can point it to a locally saved copy, as a circumvention, thanks!

[2022-04-11 22:42] parmeet commented on #144
@hudeven is looking into the solution in this diff D35459528. Basically it is using io_path's file locking mechanism which internally depends on [portalocker](https://github.com/WoLpH/portalocker). would this be a viable cross-platform solution?

Sorry, I don't fully follow this. Since each process is instantiating and executing the dataset, I guess the problem of multiple processes writing to the

[2022-04-12 08:32] NicolasHug commented on #144
Thanks for the ping Parmeet. I haven't encountered this issue thus far, because torchvision datasets do not write anything to disk.

[2022-04-12 08:53] jkulhanek opened #358 "Add support for sharding filter in distributed settings"
### 🚀 The feature

Implement a `distributed_sharding_filter` that would behave similar to `sharding_filter` (https://github.com/pytorch/pytorch/blob/3f140c5b32fa8685cc7a10bdb94f3f8b127e3a92/torch/utils/data/datapipes/iter/grouping.py), but would filter according to global rank and world size if torch.distributed was initialized. If torch.distributed was not initialized, this filter would do nothin

[2022-04-12 13:25] PatternFinder commented on #355
That thrown the following:

Traceback (most recent call last):
  File "C:\python\Python310\lib\site-packages\urllib3\connectionpool.py", line 700, in urlopen
    self._prepare_proxy(conn)
  File "C:\python\Python310\lib\site-packages\urllib3\connectionpool.py", line 994, in _prepare_proxy
    conn.connect()
  File "C:\python\Python310\lib\site-packages\urllib3\connection.py", line 364, in connect

[2022-04-12 13:59] ejguan commented on #355
Can you check your `ssl` version?
[code]

[2022-04-12 15:52] jkulhanek commented on #358
Should I close this issue or should I link a feature request from the PyTorch repository?

[2022-04-12 18:14] ejguan commented on #293
Want to track the list of features we are currently depending on PyTorch Core:
- Dataset/IterableDataset
- Profiler
- default_collate_fn
- Sampler

The features that can be moved to TorchData easily:
- typing -> It basically being disabled for now
- MapDataPipe/IterDataPipe  -> functional_datapipe
- graph utils

In order to make TD standalone, we may need to reverse a few dependencies from TD -> P

[2022-04-12 22:21] nlgranger opened #360 "pointer to a similar library / feedback"
### 📚 The doc issue

Hi!
I'm the author of a python library which is called [SeqTools](https://github.com/nlgranger/SeqTools). It predates torchdata and provides essentially the same functionality as `MapDataPipes`.
I just wanted to let you know about it, maybe you can pick some code or ideas out of it. For instance:
- Saving the stack to point a runtime error back to when the transformation node

[2022-04-13 14:00] PatternFinder commented on #355
OpenSSL 1.1.1n  15 Mar 2022

[2022-04-13 17:12] ejguan commented on #355
Thanks for confirming. Then, your SSL should be fine. Now, let's see whether or not your network admin prevents you to download.

Does it work if you add `verify=False` to the code above within `session.get(..., verify=False)`?

[2022-04-13 22:48] #343 closed

[2022-04-15 03:15] PatternFinder commented on #355
think we're onto something here...
for verify=False, we get:

requests.exceptions.ProxyError: HTTPSConnectionPool(host='s3.amazonaws.com', port=443): Max retries exceeded with url: /research.metamind.io/wikitext/wikitext-2-v1.zip (Caused by ProxyError('Cannot connect to proxy.', FileNotFoundError(2, 'No such file or directory')))

I can still grab the file just copying the URL into chrome fine

[2022-04-15 21:15] NivekT commented on #45
Implementation aside. I believe the followings should be the expected behavior. Let's focus on DataPipes that produce a single DataPipe output first (i.e. excluding DataPipes that produce multiple child DataPipes).

[code]

It should return the following messages:
[code]

A note on exception and warning:
1. I think an exception should always be raised if the user tries to use an invalidated iterat

[2022-04-15 21:46] NivekT commented on #45
Here is the expected behavior for DataPipes that produce multiple child DataPipes
[code]
We should decide between the behavior stated in 2.i. and 2.ii.

2.ii is a simpler implementation, is there any case where the user would prefer 2.i. over 2.ii?
The only one I can think of is when they want to re-read the same child DataPipe multiple times before interacting with the others.

[2022-04-18 14:55] ejguan commented on #355
What is the result of `urllib.request.getproxies()`?

It seems related to a bug in Python that the proxy used for Windows is incorrect. https://bugs.python.org/issue42627

[2022-04-18 14:57] ejguan commented on #355
And, what's the version of your `urllib3`?

[2022-04-18 16:33] ejguan commented on #45
I have a concern. This design would only solve the single-branch DataPipe line. If a DataPipe instance is reference twice, users would experience Exception during iteration.
For example:
[code]
When we iterate over `dp3`, two iterators of `dp` would be created.

I would say the ideal solution is to have a switch between singleton and non-singleton mode. When users are iterating over `IterDataPipe`

[2022-04-18 17:11] NivekT commented on #45
I agree that will happen. Users will have to explicitly fork `dp1` if they want to use it in twice in this case.

Does this mean:
1. When `dp3` from the example above is passed into `DataLoader`, an exception will be raised (because there are multiple DataPipes referencing to `dp1`)?
2. Alternatively, do you mean that only the final DataPipe `dp3` cannot have multiple iterators in `DataLoader`?

I

[2022-04-18 17:16] ejguan commented on #45
I would expect `DataLoader2` would automatically `fork` dp for the graph. Then, no exception would be raised.

[2022-04-18 17:38] NivekT commented on #45
IIUC, what should happen is:
1. `DataLoader2` will automatically `fork` a DataPipe if there are multiple references by other `DataPipes` in the graph
2. Even then, we want to switch on a singleton mode within DataLoader. The mode will have the behaviors that I outlined above (i.e. ensure that each iterator is still valid whenever it is used, invalidate the first when a new iterator is created).

[2022-04-18 18:12] ejguan opened #362 "Add validation between `input_col` and `fn` for Callable DataPipes"
### 🚀 The feature

Using `inspect` to validate the `input_col` matching `fn` input for `Mapper`, `Flatmapper` and other DataPipe using both `input_col` and `fn` as the arguments.
- [`Mapper`](https://github.com/pytorch/pytorch/blob/6dc71461e11122494a303214a72b12adb353dc4d/torch/utils/data/datapipes/iter/callable.py#L55-L57)
- [`Filter`](https://github.com/pytorch/pytorch/blob/ec591087fb95525b430f2

[2022-04-18 18:56] ejguan commented on #80
Can we close this issue?

[2022-04-18 18:59] ejguan commented on #69
Closing the issue as we have domain referencing the DataPipe utilization in vision/test/audio domains

[2022-04-18 18:59] #69 closed, assigned to nobody

[2022-04-18 19:25] NivekT commented on #80
Yes

[2022-04-18 19:25] #80 closed

[2022-04-19 13:44] davidegavio commented on #362
I'd like to work on this if possible

[2022-04-19 20:16] NivekT commented on #45
I chatted with @VitalyFedyunin offline.

1. For the case where there are multiple child DataPipes as output, when a new iterator is created for one of the child DataPipes, we will invalidate all previous child DataPipes immediately. This is because by starting a new iterator, the `main_datapipe` needs to start reading from the beginning again in order to provide that child DataPipe with the sample

[2022-04-19 20:33] ejguan commented on #45
This is my initial thinking but I am tentative about it simply because this is going to be a huge BC breaking change. If everyone agrees on it, I would support to do it ASAP. And, we need to update our documentation about implementing `IterDataPipe`.

[2022-04-19 21:49] NivekT opened #364 "Linter for DataPipe/DataLoader2"
### 🚀 The feature

This issue proposes the addition of a linter for DataPipes and DataLoader2. The linter can analyze the graph of DataPipes and input arguments to DataLoaderV, and inform the users if any errors may occur ahead of time. The incomplete list of issues that the linter may try to analyze and raise is below. Please feel free to edit the list directly to add more or comment below.

Esse

[2022-04-20 15:11] pmeier commented on #364
IIRC, we should enforce shuffling before sharding. cc @NicolasHug

[2022-04-20 18:32] VitalyFedyunin commented on #364
If datasource is already shuffled to some extent, shard before shuffle might be valid operation. So warning IMO suffice.

[2022-04-20 18:33] VitalyFedyunin commented on #364
We should add one more linter to check DataPipe object size and warn if it is too big (ex premature initialization of large structures).

[2022-04-20 18:38] VitalyFedyunin commented on #106
We can require each DataPipe to introduce a simple usage example graph for this purpose.

[2022-04-20 18:39] VitalyFedyunin commented on #45
Agree with ASAP argument.

[2022-04-20 19:11] NivekT commented on #45
Just to be clear, I think this means:
1. Keep the existing DataPipes implementations as they are, but we will add checks to invalidate an old iterator when a new one is created (i.e. always be in singleton mode)
    - WIP implmentation: https://github.com/pytorch/pytorch/pull/70479
3. Update the documentation to recommend users to return `self` within `__iter___` for custom `IterDataPipe`

[2022-04-20 19:36] ejguan commented on #295
Closing as it's fixed by https://github.com/pytorch/pytorch/pull/75505

[2022-04-20 20:14] ejguan commented on #45
For the PR, could you verify all our existing customers' code would behave normally?

Just ignore my argument above. I misunderstood the approach in the PR. We can leave the API as it is. But, we need to document the behavior of the singleton iterator.

[2022-04-21 21:08] #295 closed

[2022-04-22 14:21] NivekT commented on #45
cc: @NicolasHug in case you have any concern about this

[2022-04-24 19:49] ydaiming commented on #349
@ejguan Surely, I can work on it this week. Will discuss with you during the process.

[2022-04-25 15:27] NicolasHug commented on #45
In torchvision's datasets, `__iter__` yields from a private `._dp` attribute and does not return self. Would this be a problem?

https://github.com/pytorch/vision/blob/6d85d74be6ac72b2ac3057d85d8ae0004fa0de3f/torchvision/prototype/datasets/utils/_dataset.py#L41:L42

CC @pmeier

[2022-04-25 15:39] NivekT commented on #45
I think not returning `self` from there will still work (but I'll certain test it out before I try to land anything). It will prevent users from having multiple active iterators referencing the same Dataset:
[code]

[2022-04-25 16:41] ejguan commented on #355
@PatternFinder Any update?

[2022-04-25 16:43] ejguan opened #370 "Clean up `buffer` inside DataPipe instance during destruction"
### 🚀 The feature

Could we add `__del__` to clean up `buffer`, which are attached to `DataPipe` instance.
- Demux
- Fork
- etc

### Motivation, pitch

We may encounter the problem that the objects inside `buffer` are not clean up by `DataPipe` instance itself but relied on `gc` to clean up.
This could potentially to resolve the problem from https://github.com/pytorch/vision/pull/5801#issuecomment

[2022-04-25 17:25] NivekT commented on #370
I can submit a PR for this. I gave this some thoughts, I think calling `clear()` should clear the buffer without deleting the underlying objects so that if there are other references to those objects, they will still work properly.

[2022-04-25 19:12] #306 closed

[2022-04-26 13:53] PatternFinder commented on #355
thanks for following up.
getproxies() returns:
{'http': 'http://127.0.0.1:3213', 'https': 'https://127.0.0.1:3213'}

[2022-04-26 13:53] PatternFinder commented on #355
Name: urllib3
Version: 1.26.9

[2022-04-26 14:04] ejguan commented on #355
I see. This is actually a bug from python library. Just to verify it, does it work if you run the following code:
[code]

If this works, we can add a quick fix to TorchData to override origin Python behavior and wait until Python add a patch to fix it.

[2022-04-26 14:39] PatternFinder commented on #355
Ok this works, replacing the proxy 'https' with 'http" will give a 200.

However I still get an error with torchtext.datasets, could you help me out with this? thanks:

from torchtext.datasets import WikiText2
train_iter, val_iter, test_iter = WikiText2(root='D:/ML/datasets/') # this makes a directory named 'WikiText2', but it's empty
for i in train_iter: # this throws the error Exception has occu

[2022-04-26 14:42] ejguan commented on #355
I can send a patch to TorchData later today. When it's landed, you can use nightly TorchText to support such behavior.

[2022-04-26 19:06] NivekT commented on #370
Fixed by https://github.com/pytorch/pytorch/pull/76345

[2022-04-26 19:06] #370 closed

[2022-04-26 20:43] #355 closed

[2022-04-27 00:19] msaroufim opened #376 "CONTRIBUTING.md new datapipe expectations"
### 📚 The doc issue

When a new user is adding a data pipe that should work well with the rest of the pytorch/data ecosystem, we don't make it clear what users need to do like a checklist for example

1. Does your data pipe contain state
2. Is your data pipe listed in https://github.com/pytorch/data/blob/main/docs/source/torchdata.datapipes.iter.rst
3. Is your data pipe serializable https://github

[2022-04-27 14:31] ejguan commented on #355
@PatternFinder #371 is landed yesterday and the nightly release of TorchData has been updated. Could you please try to install `torchtext` and `torchdata` via `pip3 install --pre torch torchdata torchtext --extra-index-url https://download.pytorch.org/whl/nightly/cpu`?

[2022-04-27 14:43] NivekT commented on #376
Hi @msaroufim, have you looked at [this section of CONTRIBUTING.md](https://github.com/pytorch/data/blob/main/CONTRIBUTING.md#adding-a-new-datapipe)?

[2022-04-27 17:03] #376 closed

[2022-04-27 18:23] NivekT commented on #376
@msaroufim I do see some small gaps in that section, I will be adding a few more detailed sentences to it soon to make sure the contribution process is smooth. Thanks for raising the issue!

[2022-04-28 16:08] ejguan commented on #106
When we have time, we might need to go over our DataPipes again to identify any missing test.

Besides, for future reference, we might need to improve our testing framework to something similar to `OpInfo` in PyTorch Core to run the testing coverage automatically without we go over each test by ourselves.

[2022-04-28 16:58] NivekT commented on #106
Agreed that the `OpInfo`-like way is probably the best. I think our inputs and necessary setup for each test is a bit all over the place. Having tests split between two repos doesn't help either.

[2022-04-28 17:04] ejguan commented on #172
Closing this issue as we rely on #106 to track test coverage.

[2022-04-29 22:30] ykabusalah commented on #282
@NivekT Could I tackle this issue? And if so, would you mind assigning it to me?

[2022-05-01 22:00] franchesoni commented on #302
The user friendly API would be welcome :smile:

My understanding was that `DataLoader` could be freed from shuffling if using datapipes, but this is not the case as shown in the example below.

I'm trying to implement a quite simple datapipe (which involves only shuffling and mapping) and it doesn't really work.
In the following simplified example, I can't get the shuffling behavior (nor the expec

[2022-05-01 22:09] franchesoni commented on #302
Answering my own question, setting `shuffle=False` in the DataLoader will stop the shuffling in the IterDataPipe. Setting `shuffle=None` will let things be as they should be. This is now the default.

What is non intuitive to me is the false separation between the datapipe and the dataloader. The dataloader still has control over the shuffling! I leave this only as an anecdote, you know way better

[2022-05-01 22:19] franchesoni commented on #352
It would be nice to see an updated tutorial, I don't know how to do this in an easy way :sob:

Using 0 < num_workers is a very common usecase, it could be nice to have a default solution. On top, the datapipe examples provided have no consideration for this case (except https://github.com/pytorch/torchrec/blob/main/torchrec/datasets/criteo.py).

Maybe a quick explanation here could suffice for now

[2022-05-02 00:21] franchesoni commented on #302
Find here one example showing how things are **not** yet solved :cry:
I would love to know if you came up with a solution in your meeting

[code]
gives
[code]

What seems intuitive to me is that each worker has access to a different local seed **and** to a global seed. Then in `.shuffle` the user could be able to define which seed to use. I know managing random numbers is not easy, but this could

[2022-05-02 13:56] ejguan commented on #302
@franchesoni
Thank you for taking exploration of DataPipe and DataLoader.

Yeah. Either setting `shuffle=True` or `shuffle=None` would make turn on shuffle in DataPipe graph. I think the reanson that the default value if `shuffle=None` (enable `shuffle` by default) is that it should reflect the same behavior if users iterate directly over `DataPipe` rather than using `DataLoader`.

[2022-05-02 14:06] ejguan commented on #302
@franchesoni

As a work around for now, you have to provide `worker_init_fn` to `DataLoader` to make sure the global seed is shared across workers. And, `shuffle` is using python random rather than `torch.random`.

For

This is the result if you do `sharding` before `shuffle` as you are shuffling each shard of dataset rather than the whole dataset.

And, the ultimate solution should be something l

[2022-05-02 14:30] NivekT commented on #282
Sure go for it.

[2022-05-03 10:22] franchesoni commented on #302
Thank you for the explanation. If I understand well, in the future, a `shuffle` datapipe will carry a random number generator (RNG) that will be in sync when the datapipe is distributed across workers. This RNG will be initialized with a seed provided by `DataLoader2`. This would also solve the augmentation problem, as by default will depend on different seeds on different workers (this solution i

[2022-05-03 12:01] ejguan commented on #302
@franchesoni
My current plan is to add a DataPipe to wrap a RNG for argumentation. So the example will become:
[code]
LMK if this design works for you. And, for `random_op`, `DataLoader2` will provide different seed based on workers.
And, this functionality only applies to `DataLoader2`. For BC of `DataLoader`, I might provide another API for `shuffle` to set seed for the isolated RNG, and you can

[2022-05-03 12:14] NicolasHug commented on #302
This might be ambiguous with all the other types of RNGs that are at play here. It's not clear from the API that this only affects the shuffling seed. Perhaps `set_epoch()` would work here, and be consistent with the `DistributedSampler()`?

[2022-05-03 12:20] ejguan commented on #302
The seed for `DataLoader2` is not designed to only provide seed for shuffling ops. The seed is used by `DataLoader2` to generate seeds for both `shuffle` and `random_op`. And, the difference would be the seeds varies per process for `random_op` but `shuffle` would share the same seed for all processes.

[2022-05-03 12:21] ejguan commented on #302
But, this requires users to add this `random_op` wrapper `DataPipe` to let `DataLoader2` that there is random operation in the wrapped `DataPipe`.

[2022-05-03 12:33] NicolasHug commented on #302
Is there a way for the DataLoader2 to be aware of a specific shuffling seed?
The proposed solution above exposes various implementation details that IMHO are still fairly complex and easy for users to get wrong.

In the case of map-style datasets, all these details are properly handled by the sampler or by the DataLoader, and users don't really need to worry about the RNG at all (except maybe with

[2022-05-03 14:31] NicolasHug commented on #302
I don't believe so. In the torchvision training references for example (which currently use map-style datasets), we don't need to worry about seeds at all. And yet:
- we're sure that all workers properly shuffle the data, and
- we're sure that all the transforms performs within the datasets `__getitem__()` methods all use different seeds.

Ideally the same simplicity would be available with datapi

[2022-05-03 14:51] ejguan commented on #302
This is not the mechanism for Map-style `Dataset` + `DataLoader`. Shuffling is carried out in main process using `Sampler` rather than in worker process.

You mean users don't need to call `torch.manual_seed()` right?
See `RandomSampler`: https://github.com/pytorch/pytorch/blob/9bfa7e9791a13e786d39d938ccce0798d3f18ffd/torch/utils/data/sampler.py#L117-L124

If not specified, the seed for the `gener

[2022-05-03 15:07] NicolasHug commented on #302
I agree with everything you wrote @ejguan , but I think we're not entirely talking about the same thing.

My main concern here is to provide an API for datapipes that is just as simple as what we currently have for map-style datasets.
Considering the non-reproducible use-case:

- users don't set a seed
- users don't need to worry about implementations details (except for `set_epoch()`).
- Shufflin

[2022-05-03 16:29] ejguan commented on #302
Great summary! And, thanks for bringing this discussion. It triggers me some thinking about BC @NicolasHug
For non-reproducible use case
- `DataLoader2` and `DataPipe` don't force users on manual seeding. And, from user perspective, it will be the same behavior. In terms of the implementation detail, `DataLoader2` would create own seed by default and make sure seed for `shuffle` being same across

[2022-05-03 21:47] ejguan opened #382 "The protocol of fsspec can be a list of strings rather than a single string"
### 🐛 Describe the bug

https://github.com/pytorch/data/blob/92d18b088eb43b9805bed5c90a0afca87292a338/torchdata/datapipes/iter/load/fsspec.py#L61-L62
The `fs.protocol` can be a list rather than a string. For example of `s3`, it will return a list of `['s3', 's3a']`.
Then, there will be an error due to `self.root.startswith(fs.protocol)`. We can't run `startswith` with a list.

### Versions

main

[2022-05-04 16:50] ejguan commented on #382
Lol, I completely forget there is a duplicated issue #348
Closing this.

[2022-05-04 16:50] #382 closed

[2022-05-05 13:54] ejguan opened #384 "Functional API document auto generation"
### 🚀 The feature

Currently, we rely on the inline doc for each DataPipe to indicate the functional API. Considering `torchdata` should have already been built when doc need to be generated, we should be able to rely on the following dictionaries to figure out the functional API with corresponding DataPipe.
- IterDataPipe: https://github.com/pytorch/pytorch/blob/b30c027abf6560dafb88d67ebd446851a5

[2022-05-05 14:23] NivekT commented on #384
I think this is certainly possible. There are a few paths we can go down:
1. Stay with the existing layout and inject the functional API names into the docstrings via a pre-processing function in `conf.py` during the generation process rather than having contributors explicitly add it to docstring
2. As we previously discussed, create a separate table/page with functional API

I think the priority

[2022-05-05 14:32] ejguan commented on #384
Agree on the priority. We can spend a few days for BE next half~

[2022-05-05 16:36] NicolasHug commented on #302
@ejguan and I just had a chat offline where we discussed some of the points above. Here's a summary of our discussion thus far. The points below are either re-hashing, or updating / correcting the ones above. @ejguan please feel free to edit / correct if this isn't accurate. And thanks again for your time and all your work on this!

-  For both datapipes and map-style datasets, DataLoaderV2 will p

[2022-05-05 17:54] ejguan commented on #302
Yeah. It will be one TODO in the proposal. I will make the RNG attached to shuffler can be seeded by `torch`

[2022-05-05 23:11] ykabusalah commented on #348
@nrlugg

I currently just submitted a solution to this issue as well in my solution to another issue. Could you please assign me to this issue?

[2022-05-06 17:49] ejguan opened #387 "Add functional API to FileLister"
### 🚀 The feature

Another follow up on https://github.com/pytorch/data/pull/383

Since `FileLister` support `IterDataPipe` as input, we could provide functional API to it.

[code]
- FileLister: https://github.com/pytorch/pytorch/blob/d21154b0989c7baa058428a5d22f7b379147fec0/torch/utils/data/datapipes/iter/filelister.py#L10
- IoPathFileLister and FSSpecFileLister: https://github.com/pytorch/data/t

[2022-05-09 15:38] #301 closed

[2022-05-09 22:36] ejguan opened #391 "Allow users to provide `auth` and other data to `HttpReader`"
### 🚀 The feature

This should extend the functionality of `HttpReader` to send more complicated POST request.
For authentication, users don't necessarily need to provide via `http://user:password@domain.com/`. They should be able to provide `auth` to the `HttpReader` and relay it to `request`.

https://github.com/pytorch/data/blob/8b95954ce431ade5905448ebd9a2909e30566377/torchdata/datapipes/iter/

[2022-05-09 23:12] NivekT commented on #391
I feel that this may be a good first issue. @ejguan - feel free to remove if it may be too complicated.

[2022-05-10 01:42] msaroufim commented on #391
I'll take a stab at this tomorrow

Seems like there's 2 obvious ways of doing this

Here: https://github.com/pytorch/data/blob/8b95954ce431ade5905448ebd9a2909e30566377/torchdata/datapipes/iter/load/online.py#L38-L43

1. `requests.Session()` has an `auth` parameter which takes an authentication tuple
2. `request.get()` can take in a dict with all query parameters including auth

Then here https://g

[2022-05-10 02:10] ejguan commented on #391
If we only consider the use case of authentication, IMHO, providing this dict object as the input of `IterDataPipe` constructor should be sufficient as it's hard to imagine people will change username and password per url.

Based on the doc from `urllib3` (used by `requests` module), there are so many things can be supplied to  `get` function. https://urllib3.readthedocs.io/en/latest/reference/url

[2022-05-11 12:19] nrlugg commented on #348
@ykabusalah

Sorry for my slow reply... And thank you for solving this issue! It looks like you have already been assigned to this issue?

[2022-05-11 14:31] ejguan opened #397 "TorchText tests failed when multiprocessing"
### 🐛 Describe the bug

I think the test from TorchText starts failing after https://github.com/pytorch/pytorch/pull/74984 is landed into core and shipped into nightly.

Should we either revert the change or fix this problem ASAP considering the closing branch cut for TorchText?
We can let TorchText team to remove all lambda function in their dataset if needed.

### Versions

main

### Progress
-

[2022-05-11 14:32] ejguan commented on #397
See the domain tests in my PR https://github.com/pytorch/data/pull/394/checks

[2022-05-11 14:43] VitalyFedyunin commented on #397
Thank you for reporting, lets fix it forward in DataLoader1 and DataLoader2

[2022-05-11 15:16] VitalyFedyunin commented on #397
@NivekT totally makes sense to update torchtext. As parallel topic: Should we consider `dill` as hard dependency for torchdata?

[2022-05-11 15:18] NicolasHug commented on #397
If that helps, we have opened https://github.com/pytorch/vision/pull/5938 so that you can check whether recent changes break the torchvision datapipes when `dill` is installed.

Re torchtext's useof `lambdas`: I noticed @parmeet yesterday that the use of `lambda`s will break users' code when doing multi-processing on Windows, so I believe they are planning on fixing this (would need Parmeet's conf

[2022-05-11 15:20] ejguan commented on #397
Yeah but technically, we can revert the change by doing `dill.extend(use_dill=False)`. https://github.com/pytorch/pytorch/blob/50efa3a6e8ff8a29f7a0cb08cf3e3e5ed42f38fe/torch/utils/data/_utils/serialization.py#L5-L15

[2022-05-11 15:23] NicolasHug commented on #397
Do I understand correctly that this `revert ` will only affect `torchdata` code? I.e. installing `dill` will still silently replace pickle in the rest of the users environement?

[2022-05-11 15:27] ejguan commented on #397
Install won't affect. It only affects the `pickle` when `import dill`. So, I think always reverting the change every time that`torchdata` finishes using `dill` should remove impact for other part of code.

[2022-05-11 19:28] #391 closed

[2022-05-13 15:59] NivekT commented on #397
Updating the original post to track progress

[2022-05-16 19:58] ejguan opened #410 "Make requirements.txt as the single source of truth for TorchData dependencies"
### 🚀 The feature

Currently, we have two locations containing TorchData requirements:
- https://github.com/pytorch/data/blob/main/requirements.txt
- https://github.com/pytorch/data/blob/3c7769682b5263acd889c7e7f0187323f7d9e9da/setup.py#L108-L112
We can let `setup.py` to decode `requirements.txt` to generate requirements automatically.

### Motivation, pitch

It will be safer and easy to maintain.

[2022-05-16 23:44] VitalyFedyunin opened #412 "Caching on dir level does not guarantee cache consistency"
This https://github.com/pytorch/data/blob/0e6554a5cb2747f01e39dc529e21009ff12e4e7a/test/test_remote_io.py#L155

Seems to be invalid use-case for me. What if code will fail at the middle of extraction and target dir would have only half of the files. Next cache pass would think that cache is properly propagated and will fail to find some of the pieces.

I have no better options so far (as tar unpac

[2022-05-17 02:31] #349 closed

[2022-05-17 09:36] #397 closed

[2022-05-17 10:07] tal66 commented on #410
Hi, I'll do this. PR soon

[2022-05-17 14:41] NivekT commented on #397
Keeping this open since we need the change for DataLoader V2 as well

[2022-05-17 16:50] #410 closed

[2022-05-17 20:00] msaroufim opened #416 "`data/benchmarks/`"
### 🚀 The feature

We're proposing a folder to hold all benchmark scripts which would be easily reproducible by anyone from the core PyTorch Data team, PyTorch domain teams and the broader community. original author @vitaly-fedyunin

### Motivation, pitch

As `pytorch/data` gains more widespread adoption there's going to be more questions about its performance. So it's important to have reusable r

[2022-05-18 08:46] pmeier opened #418 "import fails on Linux due to missing library libcrypto.so.10"
`torchvision` is seeing [CI failures](https://github.com/pytorch/vision/runs/6484672163) on Linux for a missing extension loaded by `torchdata`. I can reproduce with `docker`:

[code]

[code]

#399 might be the offender. #415 did not make it into yesterday's nightly.

[2022-05-18 10:11] NicolasHug commented on #416
Thanks for opening this issue @msaroufim !

On top of model training time and accuracy, I think we'll also want to monitor the time for the DataLoader to yield an entire epoch (or 5), without a training loop. Ultimately we do care about training time, but it depends a lot on the GPU (and the number of GPUs).

Regarding the vision models to benchmarks, I would suggest the following instead of Resne

[2022-05-18 10:15] NicolasHug commented on #418
I think @ejguan  is on it https://github.com/pytorch/text/pull/1729#issuecomment-1128886947

[2022-05-18 12:44] pmeier commented on #418
I think I found the issue: the Linux wheel build is running in a specific container

https://github.com/pytorch/data/blob/f80d07b0670ca2c68f06e4dfe236a6dbe6dd1b28/.github/workflows/_build_test_upload.yml#L55

which has a different version of `libcrypto` than ubuntu:

[code]

[code]

I was unable to install `libcrypto.so.10` on Ubuntu through vanilla `apt`.

Thus, if we depend on this specific vers

[2022-05-18 13:28] ejguan commented on #418
@pmeier Thanks for reporting this. I will take a deeper look.

[2022-05-18 13:32] ejguan commented on #418
I think `openssl-static` in https://github.com/pytorch/data/blob/f80d07b0670ca2c68f06e4dfe236a6dbe6dd1b28/.github/workflows/_build_test_upload.yml#L92 is culprit. Let me give it a try.

[2022-05-18 13:59] pmeier commented on #418
Nope. As you can see above, `libcrypto.so.10` is already present in the vanilla image without installing anything else.

[code]

[2022-05-18 17:43] VitalyFedyunin opened #419 "Magic function `reset` should not be called after __setstate__"
The first construction of `__iter__` after `__setstate__` should not call `reset`.

Might be some edge cases when we restore to the state of 'no active iterator'.

_Originally posted by @NivekT in https://github.com/pytorch/pytorch/pull/77741#discussion_r876157282_

[2022-05-18 18:17] NivekT commented on #419
I am adding a PR now

[2022-05-18 19:21] msaroufim opened #420 "`setup.py` failing on `main`"
### 🐛 Describe the bug

`python setup.py install` failing on `main`

[code]

Issue does not show up with release

[code]

### Versions

[code]

[2022-05-18 19:57] #420 closed

[2022-05-19 03:14] #282 closed

[2022-05-19 03:59] #144 closed

[2022-05-19 10:04] datumbox commented on #418
@ejguan Thanks for looking into this.

The specific issue is currently breaking TorchVision's CI for new PRs, which can cause some confusion to contributors. As Philip clarified, the issue only appears on Linux. Do you have any idea on when the fix will land? Do you recommend us to turn off the test until this is done? Thanks!

[2022-05-19 12:08] pmeier commented on #418
The problem is that the AWS package pulls in `libcrypto`, but we don't statically link against it. Thus, when trying to import the package it looks for `libcrypto.so.10` on the system and errors out if it doesn't find that.

If we want to depend on the compiled AWS package, we need ship `libcrypto` as well. Note that this of course has some license implications. Furthermore, this is only needed fo

[2022-05-19 13:36] datumbox commented on #418
@ejguan Thanks for the update. Can you provide a very rough estimate on when you believe this will become available? We are trying to figure out if we should disable the specific CI job or leave it be. A rough estimate will help us decide this easier.

[2022-05-19 17:13] ejguan opened #426 "Follow up on Shuffler interacted with DataLoader"
### 🚀 The feature

After https://github.com/pytorch/pytorch/pull/77741 and https://github.com/pytorch/pytorch/pull/77855 are landed, there are two follow-up discussions on the shuffling behavior of `DataLoader` and `IterDataPipe`.
- For Distributed training, we currently have to let users to call `torch.manual_seed()` with the same seed across distributed processes to guarantee all shuffles have t

[2022-05-19 17:29] ejguan commented on #418
All nightly should be updated https://github.com/pytorch/data/actions/runs/2353439246

[2022-05-19 19:15] ejguan commented on #426
Also cc: @parmeet  about `ShufflerDataPipe` now is deterministic with `DataLoader`. Users could use `torch.manual_seed()` in their training script to control shuffle state.
Even without `torch.manual_seed()`, all `ShufflerDataPipe` in worker processes should have the same random state to ensure the data order is the same before sharding.

[2022-05-19 20:04] ejguan opened #427 "DistributedReadingService Requirements"
### 🚀 The feature

The followings are the requirements for `DistributedReadingService`
- Automatic sharding
  - Shard based on Rank, WorldSize, num_workers
- Seeding
  - Generate the same seed deterministically for all `Shuffler` per epoch.
- FullSyncDataPipe
  - For uneven dataset, we need to attach FullSyncDataPipe to stop iteration for all `DataLoader2`s when a `DataLoader2` in any distributed

[2022-05-19 20:25] NivekT commented on #419
Fixed by https://github.com/pytorch/pytorch/pull/77774

[2022-05-19 20:25] #419 closed

[2022-05-19 20:26] NivekT commented on #348
Fixed by #383

[2022-05-19 20:26] #348 closed

[2022-05-19 20:28] #346 closed

[2022-05-19 20:29] NivekT commented on #237
I believe this is fixed by https://github.com/pytorch/pytorch/pull/74984

[2022-05-19 20:29] #237 closed

[2022-05-19 20:29] datumbox commented on #418
@ejguan Thanks a lot for the help. As far as I can tell, this [fixed](https://github.com/pytorch/vision/runs/6514403512?check_suite_focus=true) the problem. If no additional action is required on your side, I think we can close the issue.

[2022-05-19 20:31] ejguan commented on #418
@datumbox
Thank you for confirmation. Let's keep this issue opened until I fix AWS binary.

[2022-05-19 20:37] NivekT commented on #45
Fixed by:
https://github.com/pytorch/pytorch/pull/75995
https://github.com/pytorch/pytorch/pull/70479

[2022-05-19 20:37] #45 closed

[2022-05-19 20:57] ejguan commented on #341
I think with `SerializationWrapper` https://github.com/pytorch/pytorch/pull/77288, the similar functionality can be extended to DataLoader2 easily.

[2022-05-20 06:40] pmeier commented on #341
Unless `torchdata` gives a guarantee that the behavior is exactly the same whether `dill` is installed or not, IMO we do. Of course that doesn't mean that more functionality (`lambda`'s, local functions, ...) can be supported if `dill` is available. It just means if a workflow works without `dill` is *must* also work with `dill`.

The reason we (`torchvision`) want this switch is that we need to m

[2022-05-20 08:35] pmeier opened #432 "The developer install instruction are outdated"
https://github.com/pytorch/data/blob/6a8415b1ced33e5653f7a38c93f767ac8e1c7e79/CONTRIBUTING.md?plain=1#L49-L56

While debugging #418 it took my quite a while to figure out that I need to set

https://github.com/pytorch/data/blob/6a8415b1ced33e5653f7a38c93f767ac8e1c7e79/tools/setup_helpers/extension.py#L41

for the C++ code to be built.

[2022-05-20 11:14] NicolasHug commented on #341
It was my understanding from past meetings that this would be the case. Perhaps one of you can confirm?

In which case, as Philip already mentioned, we won't need the switch (I might still keep https://github.com/pytorch/vision/pull/5938 open for a bit though, to help me sleep at night :) )

[2022-05-20 11:44] pmeier opened #433 "HashChecker example is broken"
https://github.com/pytorch/data/blob/6a8415b1ced33e5653f7a38c93f767ac8e1c7e79/torchdata/datapipes/iter/util/hashchecker.py#L36-L48

Running this will raise a `StopIteration`. The reason is simple: we want to read from a stream that was already exhausted by the hash checking. The docstring tells us that much

https://github.com/pytorch/data/blob/6a8415b1ced33e5653f7a38c93f767ac8e1c7e79/torchdata/da

[2022-05-20 13:30] parmeet commented on #426
This is great! Thanks so much @ejguan for the fix :)

[2022-05-20 14:17] ejguan commented on #426
@parmeet
This issue is used to tracking other two features needed for distributed training.

[2022-05-20 14:39] NivekT commented on #341
I agree that the goal is still have the same behavior whether `dill` is installed or not and this [landed PR](https://github.com/pytorch/pytorch/pull/77288) should make sure of that for DataLoader V1. I am looking into the same for DataLoader V2 in a separate PR.

[2022-05-20 18:04] NivekT commented on #433
Thanks for flagging this. We definitely need to review the examples and tutorial before the next release.

[2022-05-20 21:14] VitalyFedyunin opened #434 "Caching will not unblock pipes if there is a filter between `on_disk_cache` and `end_caching`"
### 🐛 Describe the bug

See https://github.com/pytorch/text/issues/1735
Filtering of untar results leads to empty datapipe and block readers. Looks like we need to lint and probably work around this situation in cache too.

### Versions

Master

[2022-05-23 09:11] pmeier opened #435 "`traverse` is different from PyTorch core and broken"
Amongst other things, 0501f56323c09814c6c60a4bee4ffb6ca3d601d4 added the `torchdata/dataloader2/_graph_utils.py` module that implements `traverse`:

https://github.com/pytorch/data/blob/12cfaf8899b1337981cd4edf9deef127f925f1bd/torchdata/dataloader2/_graph_utils.py#L57

Unfortunately, this differs from the one in [PyTorch core](https://github.com/pytorch/pytorch/blob/88fca3be5924dd089235c72e651f370

[2022-05-23 10:37] pmeier opened #436 "Is our handling of open files safe?"
Our current strategy is to wrap all file handles in a [`StreamWrapper`](https://github.com/pytorch/pytorch/blob/88fca3be5924dd089235c72e651f3709e18f76b8/torch/utils/data/datapipes/utils/common.py#L154). It dispatches all calls to wrapped object and adds a `__del__` method:

[code]

It will be called as soon as there are no more references to instance. The rationale is that if this happens we can c

[2022-05-23 13:40] ejguan commented on #435
Confirmed. We should send a PR to fix it ASAP.

[2022-05-23 15:35] ejguan commented on #364
#429 This PR introduces the linter to check if there is a `shuffle` before each `sharding`. This should mainly be used by domain libraries.

For user-facing linter, we might provide a variant from this linter function. Raise warning when no `shuffle` before `sharding` and raise Error/warning if there is a `shuffle` behind `sharding.

[2022-05-23 15:53] ejguan opened #438 "Use `DataPipe` not `IterDataPipe` as the type hints for `DataLoader2` related code"
### 🐛 Describe the bug

There are a couple of places that `DataLoader2` uses `IterDataPipe` as the type hint ([here](https://github.com/pytorch/data/blob/12cfaf8899b1337981cd4edf9deef127f925f1bd/torchdata/dataloader2/dataloader2.py#L22), [here](https://github.com/pytorch/data/blob/12cfaf8899b1337981cd4edf9deef127f925f1bd/torchdata/dataloader2/reading_service.py#L17), etc.)

We should add a type ca

[2022-05-23 15:53] ejguan commented on #438
Let's not label it as the good first issue.

[2022-05-23 15:57] NivekT opened #439 "Add the functionality to read chunk by chunk"
### 🚀 The feature

This issue is a continuation of [the discussion from here](https://github.com/pytorch/vision/pull/6060#discussion_r879100379).

We are proposing to add some functionality to allow reading chunk by chunk from a stream. Ideally, this should be done without loading the entire stream/response into memory first, but this may not be possible in all cases.

### Motivation, pitch

From

[2022-05-23 15:59] ejguan commented on #439
We do have such DataPipe
https://github.com/pytorch/pytorch/blob/cac16e2ee293964033dffa6616f78b68603cd565/torch/utils/data/datapipes/iter/streamreader.py#L8-L9

[2022-05-23 15:59] ejguan commented on #439
I am okay with name changes.

[2022-05-23 19:39] parmeet opened #441 "Issue during import of portalocker on windows"
### 🐛 Describe the bug

Currently [TorchText CI is broken on windows](https://app.circleci.com/pipelines/github/pytorch/text/5580/workflows/4838fa07-1ae7-4087-9490-d8e35fb160fd/jobs/188952/parallel-runs/0/steps/0-108) due to following error:

[code]

The error occurred during import of portalocker.

cc: @vitaly-fedyunin

### Versions

Latest from main

[2022-05-23 19:53] ejguan commented on #441
I haven't seen such Error in TorchData CI. The tests running on the latest main branch: https://github.com/pytorch/data/actions/runs/2359941609

Could this part be the problem? https://github.com/WoLpH/portalocker/blob/00cffcb1831208691d3bf6850df4768989a0bd4c/setup.py#L133
If circle CI windows machines are too old to be upgraded to `pywin32`, this might be the problem.

[2022-05-23 20:34] parmeet commented on #441
Ahh I see! Thanks @ejguan for providing additional context. I am not too familiar with the CI machines on windows. I wonder if @atalman, @mthrok you provide some suggestions here?

[2022-05-23 22:13] ejguan opened #448 "[v0.4.0] Release Tracker"
### 🚀 The feature

We cut a [release branch](https://github.com/pytorch/data/tree/release/0.4.0) for the 0.4.0 release at the same time with PyTorch.

## Cherry-pick (until 06/13/22)
We will keep cherry-picking all PRs landed to main branch until PyTorch 1.12.0 official released.
When you add PR against release branch, please link the landed PR from main branch.

RC-release can be found in https:/

[2022-05-23 22:29] #433 closed

[2022-05-23 22:31] mthrok commented on #441
Couple of observations from quick skim
1. pywin32 is not a dependency of domains libraries, so it kinda explains why.
2. Probably not related, but the binary distributions of PyTorch core and domain libraries are, IIUC, compiled with VS 2019, while TorchData seems to be compiled with VS 2020.

The point 1. suggests that torchtext has to add pywin32 as hard dependency as well. Was this reviewed som

[2022-05-23 22:35] ejguan commented on #441
It's weird to me because `portalocker` is introduced in TorchData however we don't see any failure on CI related to `portalocker`.

If you mean the PR introducing `portalocker`, it's here https://github.com/pytorch/data/pull/409

[2022-05-23 23:28] mthrok commented on #441
In #409 I do not see a change in CI or packaging script. For the downstream projects, who consume torchdata's binary distribution, the additional dependency should be written probably in `setup.py`.

I meant the decision /  impact of adding a dependency reviewed? TorchData being upstream of domain libraries have to be careful adding a new dependency as the number of downstream projects are large.

[2022-05-24 01:02] ArXen42 opened #450 "Iterating over IterToMapConverterMapDataPipe leads to KeyError when using torchdata 0.3.0"
### 🐛 Describe the bug

From the `IterToMapConverter` documentation (https://pytorch.org/data/main/generated/torchdata.datapipes.map.IterToMapConverter.html):

[code]

crashes with
[code]

`len()` works fine and `_map` content also seems fine to me. Iterating over simple `SequenceWrapper` works fine, problem appears only with `IterToMapConverterMapDataPipe`. For some reason iterating over it attem

[2022-05-24 01:42] parmeet commented on #441
Thanks @mthrok  for the investigation. To test the hypothesis, I added the dependency for testing, but seems the error persist. https://app.circleci.com/pipelines/github/pytorch/text/5584/workflows/003de168-e3ed-4941-be1a-3017aba3b446/jobs/189114

If pywin32 is indeed the issue, I would expect the dependency to be added for TorchData, not downstream libraries right?

[2022-05-24 06:23] pmeier commented on #439
Oops, I was not aware of that. The implementation looks like

[code]

Compared to the proposal in https://github.com/pytorch/data/issues/439#issue-1245393098 this almost equivalent. The only difference is that `StreamReader` stops reading after the first empty chunk. HTTP responses sometimes include keep alive chunks, i.e. empty chunks, in the middle of the response. Stopping to read after the fir

[2022-05-24 07:34] pmeier opened #451 "Returned "path" of `HTTPReader` and `GDriveReader` diverges"
`HTTPReader` returns the URL for the "path"

https://github.com/pytorch/data/blob/13b574c80e8732744fee6ab9cb7e35b5afc34a3c/torchdata/datapipes/iter/load/online.py#L46

while `GDriveReader` returns the file name

https://github.com/pytorch/data/blob/13b574c80e8732744fee6ab9cb7e35b5afc34a3c/torchdata/datapipes/iter/load/online.py#L129

Since `OnlineReader` determines at runtime whether to call the H

[2022-05-24 08:25] pmeier opened #452 "Support chunks in `HashChecker`"
Imagine I have a really large file that I want to read in chunks to avoid memory overflow:

[code]

[code]

Now, it might be useful to also check the hash of the file. Naively, one could simply attach a

[code]

to the datapipe. Unfortunately this leads to a checksum error. This happens because if the input is  a `bytes`, it will taken as the sole item for the hash computation:

https://github.com

[2022-05-24 12:55] franchesoni commented on #302
Sorry for the delay. You figured things out already in a nice way. Given that `shuffle` is most of the times used to shuffle the full input data it makes sense that it is handled specially, sounds great!

If I understood well, the last proposal

[code]
changed and it is now
[code]
1- is this right?
2- could you implement an official `.shard` method so the users can import it instead of defining `S

[2022-05-24 14:07] ejguan opened #453 "Fix installation document for nightly and official release"
### 📚 The doc issue

In https://github.com/pytorch/data#local-pip-or-conda, we talk about the commands would install nightly pytorch and torchdata, which is actually the official release.

We should change this part and add another section for nightly installation

### Suggest a potential alternative/fix

_No response_

[2022-05-24 14:07] #450 closed

[2022-05-24 14:14] ejguan opened #454 "`IterToMap` can be more lazily"
### 🚀 The feature

Currently, `IterToMap` starts to load all data from prior `IterDataPipe` when the first `__getitem__` is invoked here.
https://github.com/pytorch/data/blob/13b574c80e8732744fee6ab9cb7e35b5afc34a3c/torchdata/datapipes/iter/util/converter.py#L78

We can stop loading data from prior `IterDataPipe` whenever we find the requested index. And, we might need to add a flag to prevent loa

[2022-05-24 15:16] ejguan commented on #441
I do see `pywin32` with the right version installed. And, it's installed based on the dependency graph where `torchdata` depends on `portalocker`, and `portalocker` depends on `pywin32`.

[2022-05-24 15:17] ejguan commented on #441
I have seen the same issue by searching on the website: https://lifesaver.codes/answer/dll-load-failed-while-importing-win32file-the-specified-module-could-not-be-found-17986

[2022-05-24 15:31] ejguan commented on #441
@parmeet
When you have time, could you please try to test if this is going to work by running `python3 .\env\Scripts\pywin32_postinstall.py -install` before testing?
I think you can download this file from https://github.com/mhammond/pywin32/blob/main/pywin32_postinstall.py

[2022-05-24 17:33] #453 closed

[2022-05-24 17:38] NivekT commented on #439
That seems reasonable to me. We can have a default argument `break_if_empty=False` to handle keep alive chunks:
[code]

[2022-05-24 20:28] NivekT opened #457 "Adding Progress Bar to Remote DataPipes"
### 🚀 The feature

Add a progress bar to remote DataPipes that will be shown in the terminal to display the status of the operation. We can potentially use [`tqdm`](https://github.com/tqdm/tqdm) or [`rich`](https://github.com/Textualize/rich).

Previous discussion comes [from this comment](https://github.com/pytorch/vision/pull/6060#discussion_r880116801) by @pmeier .

### Motivation, pitch

For D

[2022-05-24 20:33] ejguan commented on #457
I am pretty fine with adding `tqdm` as one dependency as it's commonly used across ml domains.

[2022-05-24 20:58] ejguan commented on #451
I am not sure about it. If any url contains directory path, idk this is the idea behavior. For example
[code]
Returning filename by default becomes a problem for users as there will be duplicate filenames.
So I would prefer option 2 but not enabled it by default for `HttpReader`. And, in order to align the behavior within `OnlineReader`, we might have to provide this default functions. This makes

[2022-05-25 09:43] xiurobert commented on #387
Hi, I know this issue is kind of old by now, but just want to check if anyone is working on this? If not, I would love to give it a try.

[2022-05-25 13:43] ejguan commented on #387
@xiurobert

Please go for it.

[2022-05-25 13:53] xiurobert commented on #387
Thanks for the update. The FileLister is in the main pytorch repo, should I be contributing to that instead?

[2022-05-25 13:59] xiurobert commented on #387
This should be implemented on IoPathFileLister and FSSpecFileLister?

[2022-05-25 14:01] ejguan commented on #387
You can start from there.

We have another one in PyTorch Core. https://github.com/pytorch/pytorch/blob/b447114873e5febbd93d6e2bd8f18c2e72ee9caf/torch/utils/data/datapipes/iter/filelister.py#L10

[2022-05-25 14:13] ejguan opened #460 "AWS S3 Tests start to failing due to `ValueError: Access Denied`"
### 🐛 Describe the bug

Build TorchData with AWSSDK enabled: `BUILD_S3=1 python setup.py install`
Run test: `cpurun python test/test_remote_io.py -v -k test_s3_io_iterdatapipe` and you will see `ValueError: Access Denied`

I will disable the test to make sure CI is green.

cc: @ydaiming
Could you please take a deeper look on the test case?

### Versions

main branch

[2022-05-25 14:14] ejguan commented on #387
Yes, you are right.

[2022-05-25 14:18] ejguan commented on #460
There are a few places yielding `ValueError: No response body`

[2022-05-25 14:20] xiurobert commented on #387
Thanks. Will get hacking ASAP.

[2022-05-25 14:44] ejguan commented on #451
Another thing is the other related `DataPipe`s are returning URL not filename such as [`FSSpec`](https://github.com/pytorch/data/blob/24ff1b53fbe9aae2efc3f98854a6e77d1564a152/torchdata/datapipes/iter/load/fsspec.py#L104-L133) and [`IoPath`](https://github.com/pytorch/data/blob/24ff1b53fbe9aae2efc3f98854a6e77d1564a152/torchdata/datapipes/iter/load/iopath.py#L99-L141).

I understand Google Drive is

[2022-05-25 16:29] ejguan commented on #293
Just for record, when decoupled, `expecttest` can be removed from our test dependency.

[2022-05-25 17:32] ejguan commented on #426
I am using `spawn` simply because it's available across different OSs (easier to write tests lol). Windows doesn't have `fork`.

[2022-05-25 19:02] ejguan commented on #441
Could you modify CircleCi yml?

[2022-05-25 21:45] NivekT commented on #45
If multiple references to the same `IterDataPipe` is necessary, please use `.fork()` to create separate instances.

[code]

Add `.fork()` and this will work as intended:
[code]

[2022-05-25 21:51] parmeet opened #468 "Potential Malfunctioning of GDriveReader for torchtext datasets (or files with larger sizes in general)"
### 🐛 Describe the bug

Currently none of the torchtext datasets with GDrive URL are able to download the files. The reason being is confirm token is alway None.

The logic to download large datasets is borrowed from tensor2tensor library [here](https://github.com/tensorflow/tensor2tensor/blob/a8e50c0364071ca596bc2e4a617e1f4174b2941b/tensor2tensor/data_generators/generator_utils.py#L286). This is

[2022-05-26 08:05] pmeier commented on #468
GDrive recently introduced a Virus scan warning for large files like the one from the link above. This was solved in pytorch/vision#5645. This is good use case to speed up what we already agreed on in https://github.com/pytorch/vision/pull/6060#pullrequestreview-980646299.

[2022-05-26 09:17] pmeier commented on #457
I think the only problem is, how we can detect when stop the current progress bar and start a new one. Progress bars are useful in scenarios where the downloaded data is large, so in most cases it will also be chunked before written to disk:

[code]

This works fine and is also what I implemented in pytorch/vision@2d03f026d2c04c38b23540f95c71f2006e4fbbcb.

The problem starts when `torchdata` wants

[2022-05-26 11:14] nlgranger opened #469 "Suggestion: Dataloader with RPC-based workers"
### 🚀 The feature

A dataloader which communicates with its workers via torch.distributed.rpc API.

### Motivation, pitch

Presently, process-based workers for Dataloader mean the workers live on the same server/PC as the process consuming that data. This incurs the following limitations:
- the pre-processing workload cannot scale beyond the GPU server capacity
- with random sampling, each worker

[2022-05-26 11:45] pmeier commented on #451
I don't think so, no. But that shouldn't be the issue TBH. `OnlineReader` is about convenience. The contract the user enters is "Here is a datapipe of URLs. Please give me back a datapipe of streams of the URL data as well as some information identifying each stream (URL / path / ...)". As a user I'm not interested what is happening in the backend, i.e. if I need a different functionality for down

[2022-05-26 12:47] parmeet commented on #468
Thanks @pmeier for the quick response. I guess the solution here https://github.com/pytorch/vision/pull/5645 could potentially be upstreamed to torchdata to fix this issue? I am curious if there is enough bandwidth and time to do that before release?  @ejguan , @NivekT any suggestions here?

[2022-05-26 13:15] ejguan commented on #469
Thanks for adding the issue. IIRC, RPS is used to communicate between distributed processes. We are working on `ReadingService` with `DataLoader2`, it seems `RPC` would be an good option as a `RPCReadingService`.

[2022-05-26 13:22] #204 closed

[2022-05-26 13:23] ejguan commented on #468
It's landed now. Do you want to test it using TorchData main branch? This patch didn't get into nightly today.

[2022-05-26 13:31] #460 closed, assigned to nobody

[2022-05-26 13:33] ejguan opened #470 "Test for TF recording is breaking on main branch"
### 🐛 Describe the bug

Reason: protobuf is upgraded recently. We might need to specify the protobuf version from testing requirements..

Another thing is `numpy` is not needed for test_tfrecord. See: https://github.com/pytorch/data/pull/421

### Versions

main branch

[2022-05-26 13:34] ejguan commented on #468
Closing it for now. LMK if the Error persists with the patch.

[2022-05-26 13:34] #468 closed

[2022-05-26 13:46] ejguan commented on #451
Understood about the convenience for users. I am more concern about how to maintain this `OnlineReader`.

So, to achieve a common ground, we might need to:
- Add option for users to define `filepath_fn` for urls returned by all `Reader`s (disabled by default due to BC)
- Add the same option for `OnlineReader` but provide a default method to return filename. Since we can extend `OnlineReader` to ha

[2022-05-26 14:22] ejguan commented on #448
Here is the list of PR needs to be cherry-picked:
- [ ] #442
- [ ] #464

[2022-05-26 15:02] parmeet commented on #468
Thanks @ejguan for letting me know.  seems working fine now :).

[2022-05-26 15:57] #470 closed

[2022-05-26 16:54] NivekT commented on #448
Here are the ones that I cherry-picked:

- [x] https://github.com/pytorch/data/pull/458
- [x] https://github.com/pytorch/data/pull/440

[2022-05-27 09:51] xiurobert commented on #362
Was this ever worked on?

[2022-05-27 11:31] xiurobert commented on #293
100% support this. I primarily use torch but dang is the data loading library useful

[2022-05-31 13:47] ejguan commented on #362
Hi @davidegavio, do you still have plan to work on this issue?

[2022-05-31 16:08] ejguan opened #480 "Add deprecation warning for the functional API."
As a follow-up task, add deprecation warning for the functional API.

_Originally posted by @ejguan in https://github.com/pytorch/data/pull/479#discussion_r885829721_

[2022-05-31 16:09] ejguan commented on #480
Add a flag to indicate deprecation and add a wrapper function to the `DataPipe` cls constructor in https://github.com/pytorch/pytorch/blob/235f8db3d896e1c4810a2adc3c8a0996292793db/torch/utils/data/datapipes/_decorator.py#L14-L21

[2022-05-31 17:28] ejguan commented on #454
@linminhtoo Thanks for providing feedback on your use case.
Could you please share the operation you are using for the last step? I am trying to understand why generating `Tensor` would require a custom DataPipe.

In terms of speed, could you please also share how you measure the speed? I think the overall time, 3 should be the same as 1. If we are talking about the speed per iteration, the (3) sh

[2022-05-31 18:24] NivekT commented on #480
I am thinking we can add a class attribute `_deprecated_functions: Set[str]` and a check here to see if the method name is deprecated, and raise a warning if it is.

https://github.com/pytorch/pytorch/blob/fe67dff82abf883dfb3623757dda6dab4dd848b7/torch/utils/data/datapipes/datapipe.py#L111-L112

[2022-05-31 18:27] ejguan commented on #480
Doable, we still need to let `functional_datapipe` know this API is deprecating. Or, we can add a `deprecating_functional_datapipe` to achieve the similar functionality.

[2022-06-01 01:11] linminhtoo commented on #454
Thanks for your very prompt reply. Before the last step, the samples only contain the identity and metadata, such as paths. I'm in the cheminformatics space where we generate various features for a given molecule or a protein. We may, for example, generate morgan fingerprints of dimension 2048, or a large 3d surface mesh of the protein. These can be both computationally and memory expensive.

As f

[2022-06-01 14:49] ejguan commented on #454
It is definitely the right way to place shuffle and sharding as early as possible to get rid of redundant operations. We should add a few words on our tutorial https://pytorch.org/data/beta/tutorial.html#working-with-dataloader

When you measure the total time per epoch, do you include the time creating iterator of `DataLoader`?

[2022-06-01 18:30] ejguan commented on #441
Even if we are able to fix such Error using this script above, TorchData needs to add notes for users who might encounter the same problem on Windows OS.

[2022-06-01 18:36] mthrok commented on #441
How about making it optional dependencies? I think dependency-related issues make it difficult to adopt torchdata. We were looking to adopt dataloader2, but if Windows users require such unusual step to just import the package, we are reluctant to adopt torchdata.

[2022-06-01 21:31] VitalyFedyunin commented on #364
[ ] Warn if `filter` appears between `on_disk_cache` and `end_caching` sections.

[2022-06-02 03:12] linminhtoo commented on #195
Hello, does this issue also plan to update the PyTorch documentation as well?
Actually, I find it can be quite confusing to first-time users of `datapipes`.

For example, in the official PyTorch repo, like, https://github.com/pytorch/pytorch/blob/master/torch/utils/data/datapipes/datapipe.py
the doc-string for how to properly multiprocess with `IterDataPipe` is incorrect (bcos the `worker_init_fn`

[2022-06-02 03:19] linminhtoo commented on #195
That being said, I would be happy to contribute, if you could give me pointers on how I can do so.

[2022-06-02 08:24] linminhtoo commented on #454
I went back to my code to do more extensive and more rigorous speed benchmarks. As I realized the thread is geting a little long, I decided to create a new Issue and link to this one.

[2022-06-02 08:30] linminhtoo opened #492 "speed benchmark: `IterDataPipe` is slower than `MapDataPipe`"
### 🐛 Describe the bug

I ran a series of speed benchmarks comparing 3 methods of building a `datapipe`. This is a continuation of the conversation from https://github.com/pytorch/data/issues/454#issuecomment-1141858156

Brief context:
I start with `.csv` containing unique ID of each data sample. I apply a series of maps & filters. Finally, I generate tensors needed by my model for training. The l

[2022-06-02 13:17] ejguan commented on #492
As @NivekT pointed out the overhead of profiler is significantly huge, potentially this PR would solve the performance regression for `IterDataPipe`: https://github.com/pytorch/pytorch/pull/78674

[2022-06-02 15:18] NivekT commented on #195
Hi @linminhtoo,

Thanks for looking into this!

This issue does cover our documentation within `torch` as well.

Can you elaborate on that point?

We are planning to land this PR, after which, users should not need to pass in additional `worker_init_fn` for the purpose of sharding.
* https://github.com/pytorch/pytorch/pull/78631

[2022-06-03 17:48] ejguan opened #494 "fsspec requires to delegate `kwargs` to FileSystem to list/load file correctly"
### 🐛 Describe the bug

Based on the current [implementation](https://github.com/pytorch/data/blob/6f1f81db751d28e675728ab36007be05db0614af/torchdata/datapipes/iter/load/fsspec.py#L69), the following code will raise `ConnectTimeoutError`.
[code]

However, if we provide extra arguments to `url_to_fs`, we should be able to successfully execute the following code:
[code]

It should be easily fixed by

[2022-06-03 18:15] NivekT commented on #494
This issue raised in the forum is also somewhat related:

https://discuss.pytorch.org/t/using-a-google-cloud-storage-bucket-for-dataset/146253/6?u=nivek

[2022-06-03 18:20] ejguan commented on #494
Yeah. Will send a patch shortly. I need it to test performance of S3

[2022-06-03 21:55] #387 closed

[2022-06-06 13:48] ejguan commented on #426
Closing this Issue as it's resolved by https://github.com/pytorch/pytorch/pull/78765

[2022-06-06 13:48] #426 closed

[2022-06-06 17:39] sephib opened #497 "running FSSpecFileLister in ikernel doesn't work"
### 🐛 Describe the bug

Hi
This bug is following the conversation on  [discuss.pytorch.org](https://discuss.pytorch.org/t/using-a-google-cloud-storage-bucket-for-dataset/146253/14?u=sephib)
When running the following code in a jupyter kernel - the  fs.protocol is not consistent

To reproduce - there is a need to update the `url_to_fs` call in  `/torchdata/datapipes/iter/load/fsspec.py` file

then

[2022-06-07 05:14] xiurobert commented on #362
I'll give this a try when I get home

[2022-06-07 05:35] sephib commented on #497
Running with

Solved the issue
Will need to understand why the `num_workers` is causing issues on my setup

[2022-06-07 10:12] czmrand opened #574 "Support offloading data pre-processing to auxiliary devices"
### 🚀 The feature, motivation and pitch

Occasionally one might find that their GPU is idle due to a bottleneck on the input data pre-processing pipeline (which might include data loading/filtering/manipulation/augmentation/etc). In these cases one could improve resource utilization by offloading some of the pre-processing to auxiliary CPU devices.
I have demonstrated how to do this using gRPC in

[2022-06-07 13:39] #494 closed

[2022-06-07 15:49] ejguan opened #500 "Performance Comparison between native AWSSDK and FSSpec"
### 🐛 Describe the bug

After `AWSSDK` is integrated with TorchData, we now have two categories of `DataPipe`s to access and load data from AWS S3 Bucket:
1. [`DataPipe`](https://github.com/pytorch/data/blob/main/torchdata/datapipes/iter/load/fsspec.py) using `fsspec`: It relies on `s3fs` module to list/load data from S3 bucket.
2. [`DataPipe`](https://github.com/pytorch/data/blob/main/torchdata/d

[2022-06-07 20:12] ejguan commented on #497
Thanks for spotting the issue. Investigating it.

[2022-06-07 21:21] ejguan commented on #497
I have used the same script with a public dataset on GCS, but I can't reproduce this issue. Could you please try to re-install `torchdata` using the nightly release?
`pip3 install --pre torch torchdata --extra-index-url https://download.pytorch.org/whl/nightly/cpu`

[2022-06-08 00:48] Nintorac opened #502 "SQL Pipe"
### 🚀 The feature

Allows for sourcing datasets from SQL queries. Should allow to substitute in different backends. eg Athena, Presto, Postgres. Should do smart batching to minimize number of query requests and maximize data returned per query.

Batching will probably be backend dependent. Eg Athena/Presto do not support `LIMIT .. SKIP ...` queries

### Motivation, pitch

Data is often stored in l

[2022-06-08 04:58] linminhtoo commented on #480
just to clarify, does this mean we should use the DataPipe class directly? the documentations seemed to suggest that functional form is recommended

i.e.
[code]

[2022-06-08 05:00] linminhtoo commented on #492
thanks! i'll try to test this out soon.

[2022-06-08 14:24] ejguan commented on #480
Closing this issue as https://github.com/pytorch/pytorch/pull/78970 has landed

[2022-06-08 20:51] #299 closed

[2022-06-09 12:46] xiurobert commented on #362
@ejguan just to check, is this to check that fn has type annotations for returning a Sequence?

[2022-06-09 13:46] ejguan commented on #362
If the provided `fn` has type annotations, we should validate the number of function's arguments matches `input_col`.

Let's say there is only 1 argument in `fn`, but `input_col` is specified as 1. We should raise Error.

[2022-06-09 14:26] xiurobert commented on #362
What does `input_col` refer to in this scenario? Is it the dimension?

[2022-06-09 14:41] ejguan commented on #362
Yeah. Let's say you have a DataPipe yielding tuples like `(1, 2), (3, 4), ...`.
[code]
And, `input_col` would specify which element in each tuple should be applied by the `fn`. In this case, as `input_col=1`, the function will apply to `2, 4, ...`.

We should add inline doc to explain the behavior of `input_col`

[2022-06-09 22:49] #441 closed

[2022-06-10 00:47] xiurobert commented on #362
Alright, I will work on this and open a PR.

[2022-06-10 19:22] NivekT commented on #45
Note to future readers, these linked PRs contain BC-breaking notes that describe the behavior before and after in details:
* https://github.com/pytorch/pytorch/pull/70479
* https://github.com/pytorch/pytorch/pull/75995

[2022-06-10 20:02] #352 closed

[2022-06-10 20:04] ejguan commented on #432
Yeah. Closing this issue as the fix has landed.

[2022-06-10 20:04] #432 closed

[2022-06-10 20:05] ejguan commented on #418
Closing this issue as #421 has landed.

[2022-06-10 20:05] #418 closed

[2022-06-10 20:08] ejguan commented on #358
Just want to update here. If you have `sharding_filter` in your pipeline, the `DataPipe` graph should be dynamically sharded using `DataLoader`.
You can either use nightly release of PyTorch Core and TorchData or wait for a weeks for the coming official release.
Please take a look at [tutorial](https://pytorch.org/data/beta/tutorial.html#working-with-dataloader)

And, we will keep working on `Data

[2022-06-13 14:45] ejguan commented on #436
Just found a tool that might help us to identify what's wrong with `StreamWrapper`.
https://refcycle.readthedocs.io/en/latest/

This tool can help us to visualize the refcount of nested objects.

[2022-06-13 21:03] ejguan commented on #448
Cherry-picking phase ends. We will only allow commits that contain critical fixes for the 0.4.0 release.

[2022-06-14 16:48] ejguan opened #516 "Duplicated Error message for IterDataPipe"
When the Error comes from singleton iterator. This part of message becomes duplicated.
You can run the following example:
[code]
The Error message is:
[code]

cc: @NivekT

_Originally posted by @ejguan in https://github.com/pytorch/pytorch/pull/75618#discussion_r897060430_

[2022-06-14 20:40] gaikwadabhishek opened #517 "AIStore Datapipes (AISFileListerIterDataPipe and AISFileLoaderIterDataPipe)"
### 🚀 The feature

Add a new file loader and lister for AIStore, similar to [s3io](https://github.com/pytorch/data/blob/main/torchdata/datapipes/iter/load/s3io.py) and [fsspec](https://github.com/pytorch/data/blob/main/torchdata/datapipes/iter/load/fsspec.py).

For introduction and background, see PyTorch Blog “[Efficient PyTorch I/O library for Large Datasets, Many Files, Many GPUs](https://pytor

[2022-06-14 21:03] ejguan commented on #517
Thank you for opening the issue. I think it sounds great to have AIStore clients integrated with TorchData. And the implementation of your `DataPipe`s looks great.

I do have a few questions regarding `AIStore`, and please correct me if I am wrong. Does AIS support carrying out data manipulations on server side of AIS? If so, how should users get benefit from AIS. The currently implementation of `

[2022-06-14 21:56] NivekT commented on #517
That makes sense to me and I'm curious what are some potential features of AIS that may be added? I am also not very familiar with AIS.

[2022-06-14 22:54] gaikwadabhishek commented on #517
Hi @NivekT
As we are using AIS as a backend, we will already be leveraging many of its core [capabilities](https://github.com/NVIDIA/aistore#features).

But going forward, it'd be great to discuss maybe less conventional features that broadly include I/O intensive operations currently (conventionally) executed on the client-side. ETL is one example, but there's more.

[2022-06-14 23:36] Atharva-Phatak commented on #293
I would love if TorchData becomes standalone. It could be the go to place for PyTorch Ecosystem libraries, since it essentially is along the same concept as torch.Dataset.
All in all it would be genuinely amazing if TorchData becomes standalone.

Rooting for this :)

[2022-06-15 14:03] ejguan commented on #517
Hi @gaikwadabhishek

In terms of testing, you should be able to create a GHA workflow in a docker image. For example, in TorchData, we uses pytorch container for release https://github.com/pytorch/data/blob/100d086413873a5c224842da4c2cd55cb634317f/.github/workflows/_build_test_upload.yml#L57
And, this means the server and client will be executed in a single CI machine. Besides, we can't really tes

[2022-06-15 16:37] gaikwadabhishek commented on #517
Hi @ejguan
Thanks for the update. This looks like a good option. I think we should be good with the testing part with this. Can we proceed with the development?

[2022-06-15 16:40] ejguan commented on #517
For sure, please go ahead and open a PR.

[2022-06-15 19:01] ejguan commented on #516
Closing this Issue as https://github.com/pytorch/pytorch/pull/79547 has landed.

[2022-06-15 19:01] #516 closed

[2022-06-15 20:05] NivekT opened #519 "`in_batch_shuffle` currently doesn't use shared RNG"
Currently, `in_batch_shuffle` doesn't use the RNG shared across processes. This can be problematic if it is used before prior to sharding, resulting in certain samples not being used in training while others may be used by multiple processes.

https://github.com/pytorch/data/blob/100d086413873a5c224842da4c2cd55cb634317f/torchdata/datapipes/iter/transform/bucketbatcher.py#L19-L20

Note that `in_bat

[2022-06-20 14:23] NivekT commented on #160
@diegoaichele This has not been fixed yet. Please go ahead. Feel free to comment here if you have questions or open a PR. Thanks!

[2022-06-20 15:52] enric1994 opened #523 "Document how to create a DataLoader when reading data from S3"
### 📚 The doc issue

I find the provided example [here](https://github.com/pytorch/data/blob/main/torchdata/datapipes/iter/load/README.md#example) a bit confusing.

[code]

First, I think there is a mistake in the example: `s3_urls` should be `dp_s3_urls`?
Second, it is not clear why `parse_csv(delimiter=' ')` is being used.
Last, I can't access my data after creating the `datapipe`. It would be g

[2022-06-20 15:57] NivekT commented on #523
cc: @ejguan

[2022-06-20 16:39] ejguan commented on #523
Thanks for letting us know the document issue. This definitely should be fixed. I will send a PR shortly.

In terms of loading data from S3 using `DataLoader`, you can take a look at our tutorial [here](https://pytorch.org/data/beta/tutorial.html#tutorial). You should be replace `FileLister` or `FileLoader` based the data source. In your case, you might want to use `S3FileLister` or `S3FileLoader`

[2022-06-21 10:19] enric1994 commented on #523
Thanks for the advice! I found [this tutorial](https://sebastianraschka.com/blog/2022/datapipes.html) other tutorial very helpful because it uses images stored in folders (instead of a `.tar` file).

[2022-06-21 18:30] ejguan commented on #523
Let me re-open this issue to track the wrong documentation for S3.

[2022-06-22 13:21] NicolasHug opened #530 "Multiprocessing and batching / collation"
It looks like collation works differently depending on whether `MultiProcessingReadingService` is used. Perhaps I am not using this  properly?

[code]

[2022-06-22 13:33] NicolasHug commented on #530
This is probably related to the default `collate_fn` of the `DataLoader` in the reading service?

https://github.com/pytorch/data/blob/8682f6e09d6facc9d6105c59c9966058c182065e/torchdata/dataloader2/reading_service.py#L119-L130

This is unlikely to be a reasonable fix, but passing `collate_fn=lambda x:x[0]` will lead to consistent results.

[2022-06-22 15:21] ejguan commented on #530
It would be better when `MultiProcessingReadingService` should a special `collate_fn` to detect the type of output. If it's a single tensor, `collate_fn` should directly return it. Otherwise, like a list of Tensors, we should call default `collate_fn`.

That would be ideal. And, I think @NivekT your snapshotting for MP also requires some modifications on `MPReadingService`. Removing `DataLoader` m

[2022-06-22 16:22] VitalyFedyunin opened #532 "[Adapters] DataLoaderV2 Adapters Ideas"
### 🚀 The feature

[ ] Add `Collate(fn)` Adapter which will add `.collate(fn)` DataPipe at the end of the graph. Optional: we can think about overriding existing collate in the graph for new function.

### Motivation, pitch

As we are growing product there are more and more adapters ideas and requests coming up. This issue created to aggregate such requests and keep track of duplications.

### Alt

[2022-06-22 16:32] NicolasHug opened #533 "`len(dataloader)` in distributed setting is different with datapipes and with map-style datasets"
In a distributed setting, `len(dataloader)` will return:

-  `len(dataset) // (batch_size * num_GPUs)` if `dataset` is a map-style dataset
- `len(dataset) // batch_size` if `dataset` is a datapipe

This discrepancy makes it a bit difficult to work with torchvision's training recipes, where we often need the size of the dataloader.

Below is an illustration of this discrepancy - you can run the sni

[2022-06-22 16:46] ejguan commented on #533
Thank you for opening the issue. It's kind easy to fix but need to consider all the use cases.
If users don't specify `sharding_filter` in the pipeline, the length should be `len(dataset) * num_GPUs // batch_size`.

I do want to understand when you need the size of `dataloader`? is this related to the meta data for each Dataset?

[2022-06-22 16:57] NicolasHug commented on #533
I agree. Interestingly, with map-style datasets, `len(dataset)` is equal to `len(dataset) // batch_size` if users don't pass `sampler=DistributedSampler()`, which is equivalent to not calling `.sharding_filter()`. But I think `len(dataset) * num_GPUs // batch_size` as you proposed makes more sense.

We rely on the size for our logger, which is how I found out about the discrepancy:

https://github

[2022-06-22 17:47] ejguan opened #535 "[Discussion] Expected graph when `traverse` a DataPipe with circular references"
### 🐛 Describe the bug

I am trying to understand what would be the expected result when we traverse a `DataPipe` graph containing circular references.
Assume we have the following reference map:
[code]
When we traverse `DP3`, what would be expected result?
- `{DP3: {DP2: {DP1: {}}}}` (Current behavior)
- `{DP3: {DP2: {DP1: {DP3: {}}}}}`

### Versions

master on pytorch
main on torchdata

[2022-06-22 19:14] NivekT commented on #535
In the graph above, `DP1` depends on `DP3`, why would that be the case? `DP3` modifying some state that `DP1` depends on?

[2022-06-22 19:24] NivekT commented on #532
Are we considering `PinMemory` and `Shuffle` (to turn on and off) as adapters as well? Or those will be strictly DataPipes?

[2022-06-22 19:28] VitalyFedyunin commented on #532
They should be both adapters and pipes.

[2022-06-22 19:30] ejguan commented on #535
@NivekT
This custom DataPipe has this kind of dependency hierarchy.
https://github.com/pytorch/pytorch/blob/581e846d9def4af9682ba84b215a0545410a551b/test/test_datapipe.py#L2184-L2204

[2022-06-23 13:02] NicolasHug opened #538 "Warn about pickle-ablity when using `dp.map(some_local_function)` ?"
`torchdata` issues a warning about pickle when we use lambdas (which is great!)
Another kind of function that isn't compatible with pickle are local functions. Would it be possible to throw the same warning there?

[code]

[2022-06-23 13:34] ejguan commented on #538
It makes sense to raise warning for local function. We might be able to use `"<locals>" in fn.__qualname__` to determine it. Sending a patch.

[2022-06-23 17:21] ejguan opened #540 "Tutorial of examples is unreachable."
### 📚 The doc issue

The link of `on this page` below is unreachable on our online doc

<img width="759" alt="image" src="https://user-images.githubusercontent.com/68879799/175356709-207333a7-6cdf-4b43-a12f-fce301a601a5.png">

### Suggest a potential alternative/fix

Before release, we might need to go through all links in our doc to make sure them working.

[2022-06-23 17:22] ejguan commented on #540
cc: @NivekT

[2022-06-24 13:47] NicolasHug commented on #416
Some basic results, which are consistent with what I had a few months ago:

Benchmarking `mobilenet_v3_large` (io bound) from the torchvision training references (https://github.com/pytorch/vision/pull/6196) on the AWS cluster, distributed over 8 A100 GPUs with 12 workers each. This is a very typical setup that we use constantly.

- On `fsx` (pretty slow file system):
  - **training with datapipes

[2022-06-24 17:10] NicolasHug opened #549 "DataLoader2.__len__() ?"
This is somewhat related to https://github.com/pytorch/data/issues/533

As described in https://github.com/pytorch/data/issues/533#issuecomment-1163381945, we like to check the `len()` of the DataLoader in torchvision in our logging utils.

Are there plans to implement `__len__()` on `DataLoader2`?

[2022-06-24 18:03] #540 closed

[2022-06-24 18:19] NivekT opened #550 "DataLoader2 should reset when a new iterator is created?"
When a new iterator is created, `DataLoader2` currently resumes from when it was left off rather than resetting and starting from the beginning again (see code snippet below). This is divergent from the behavior of the original `DataLoader`. Users likely expect the latter behavior and we should properly reset the state of `DataLoader2` when a new iterator is created.

[code]

cc: @VitalyFedyunin

[2022-06-28 19:09] ejguan commented on #448
Closing the issue since TorchData has finished 0.4.0 release.

[2022-06-28 19:09] #448 closed

[2022-06-30 15:50] ejguan commented on #384
I want to add another potential improvement for pyi gen.
Currently, the type hint for return value of each functional API is either `IterDataPipe` or `MapDataPipe`. We could change the type to specific DataPipe. For example:
[code]

[2022-06-30 17:50] NivekT commented on #384
I think this is a good idea, though import statements at the top might get a bit long.

[2022-06-30 20:39] NivekT opened #564 "[RFC] Restricting `IterDataPipe` to have method `__iter__` as a generator function without method `__next__`"
### 🚀 The feature

** Note that this is a RFC to solely discuss the design. There is currently no plan to implement this feature. This issue serves as a developer documentation of the current design and the complexity/issue that we encounter with certain aspects of `IterDataPipe`. It also provides a space to discuss what we can potentially do.

The overarching goal is to simplify certain aspects o

[2022-06-30 22:45] ejguan opened #566 "Broken tests for pickling circular reference DataPipe with dill"
### 🐛 Describe the bug

During the work to fixing the problem with unhashable DataPipe in https://github.com/pytorch/pytorch/pull/80509, I find this test is broken:
https://github.com/pytorch/pytorch/blob/e266bea79395399d60bd3c684545f69ae6900236/test/test_datapipe.py#L2307-L2349

The failure is: `TypeError: cannot pickle 'PyCapsule' object`

I tried to remove all the `DataPipe` reference from the

[2022-06-30 22:46] ejguan commented on #566
cc: @NivekT

[2022-07-01 12:09] YouJiacheng opened #568 "Faster torchdata import"

[2022-07-01 20:04] MatthewCaseres opened #567 "S3FileLister: ValueError: curlCode: 77, Problem with the SSL CA cert (path? access rights?)"
### 🐛 Describe the bug

The code that I am running is -
[code]
The full readout that I am seeing is here -
[code]
I can successfully run the following code -
[code]

### Versions

Unsure if relevant but I am on an EC2 instance Deep Learning AMI.
[code]

[2022-07-03 03:06] ezyang commented on #568
importing torch isn't supposed to initialize the cuda context, which it sounds like is what you're complaining about here. Do you have the stack trace for the `is_available` call?

[2022-07-05 16:12] VitalyFedyunin opened #570 "Timeout Exception: OnDiskCache Exception"
@VitalyFedyunin, @ejguan, @kevinchn seems like the issue is faced by few of our users. Unfortunately, the error message is not so clear. I am not sure if it is because the file is not downloaded within 300 sec or is it coming because of the locking mechanism? I am unable to repro the issue on my side :(

_Originally posted by @parmeet in https://github.com/pytorch/text/issues/1796#issuecomment-117